<template>
    <div>
        <table class="stats-medals">
            <thead>
                <tr>
                    <td></td>
                    <th scope="col">{{ $t('global.cups') }}</th>
                    <th scope="col">{{ $t('global.medals') }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{{ $t('global.leaderboard') }} ({{ $t('leaderboard.on') }} {{ getNbPlayer | number }})</th>
                    <td :data-header="$t('global.cupsLowercase')">{{ player.rankCup | number }}</td>
                    <td :data-header="$t('global.medalsLowercase')">{{ player.rankMedal | number }}</td>
                </tr>
                <tr>
                    <th scope="row">{{ $t('global.platinum') }}</th>
                    <td :data-header="$t('global.cupsLowercase')">{{ player.gameRank0 | number }}</td>
                    <td :data-header="$t('global.medalsLowercase')">{{ player.chartRank0 | number }}</td>
                </tr>
                <tr>
                    <th scope="row">{{ $t('global.gold') }}</th>
                    <td :data-header="$t('global.cupsLowercase')">{{ player.gameRank1 | number }}</td>
                    <td :data-header="$t('global.medalsLowercase')">{{ player.chartRank1 | number }}</td>
                </tr>
                <tr>
                    <th scope="row">{{ $t('global.silver') }}</th>
                    <td :data-header="$t('global.cupsLowercase')">{{ player.gameRank2 | number }}</td>
                    <td :data-header="$t('global.medalsLowercase')">{{ player.chartRank2 | number }}</td>
                </tr>
                <tr>
                    <th scope="row">{{ $t('global.bronze') }}</th>
                    <td :data-header="$t('global.cupsLowercase')">{{ player.gameRank3 | number }}</td>
                    <td :data-header="$t('global.medalsLowercase')">{{ player.chartRank3 | number }}</td>
                </tr>
            </tbody>
        </table>

        <table class="stats-points">
            <thead>
                <tr>
                    <td></td>
                    <th scope="col">{{ $t('global.gamePoints') }}</th>
                    <th scope="col">{{ $t('global.recordPoints') }}</th>
                    <th scope="col">{{ $t('global.badgePoints') }}</th>
                    <th scope="col">{{ $t('global.proofs') }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{{ $t('global.leaderboard') }} ({{ $t('on') }} {{ getNbPlayer | number}})</th>
                    <td :data-header="$t('global.gamePoints')">{{ player.rankPointGame | number }}</td>
                    <td :data-header="$t('global.recordPoints')">{{ player.rankPointChart | number }}</td>
                    <td :data-header="$t('global.badgePoints')">{{ player.rankBadge | number }}</td>
                    <td :data-header="$t('global.proofsLowercase')">{{ player.rankProof | number }}</td>
                </tr>
                <tr>
                    <th scope="row">{{ $t('global.points') }}</th>
                    <td :data-header="$t('global.gamePoints')">{{ player.pointGame | number }}</td>
                    <td :data-header="$t('global.recordPoints')">{{ player.pointChart | number }}</td>
                    <td :data-header="$t('global.badgePoints')">{{ player.pointBadge | number }}</td>
                    <td :data-header="$t('global.proofsLowercase')">{{ player.nbChartProven | number }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: 'PlayerProfileStats',
        props: ['player'],
        computed: {
            getNbPlayer() {
                return this.$store.getters['stats/data'][0];
            },
        },
    };
</script>


