<template>
    <div class="site-aside__context">
        <group-switch v-if="getGroup.id != null"></group-switch>
        <chart-switch v-if="getChart.id != null"></chart-switch>
        <maj-platform v-bind:game=game v-if="hasRolePlayer && (game.platforms.length > 1)"></maj-platform>
    </div>
</template>

<script>
import GroupSwitch from '@/components/vgr/group/Switch.vue';
import ChartSwitch from '@/components/vgr/chart/Switch.vue';
import MajPlatform from '@/components/vgr/playerChart/form/MajPlatform.vue'
import Security from "@/mixins/Security.vue";

export default {
    mixins: [Security],
    name: 'GameAside',
    props: ['game'],
    components: {
        'group-switch' : GroupSwitch,
        'chart-switch' : ChartSwitch,
        'maj-platform' : MajPlatform,
    },
    computed: {
        getGame() {
            return this.$store.getters['navigation/game'];
        },
        getGroup() {
            return this.$store.getters['navigation/group'];
        },
        getChart() {
            return this.$store.getters['navigation/chart'];
        },
    },
};
</script>