<template>
    <div v-if="game" class="game-card">
        <router-link v-if="game.picture" :to="{ name: 'GameIndex', params: { idGame: game.id, slugGame: game.slug } }" class="game-card__cover">
            <img v-bind:src="getPicture" alt="" width="198" height="100" aria-hidden="true" />
        </router-link>

        <div class="game-card__infos">
            <div class="h1">{{ game.name }}</div>

            <platformlist v-bind:platforms="game.platforms"></platformlist>

            <ul class="game-card__links">
                <li>
                    <router-link :to="{ name: 'GameRules' }">
                        <span v-if="game.rules && game.rules.length > 0" class="game__specific-rules">{{ $t('menu.rules') }}</span>
                        <span v-else>{{ $t('menu.rules') }}</span>
                    </router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'GameVideoList'}">
                        <span>{{ $t('menu.video') }}</span>
                    </router-link>
                </li>
                <li v-if="game.forum">
                    <router-link :to="{ name: 'GameForumIndex',params: { idForum: game.forum.id, slugForum: game.forum.slug }}">{{ $t('menu.forum') }}</router-link>
                </li>
                <li v-if="game.serie && game.serie.status.isActive">
                    <router-link :to="{ name: 'SerieLeaderboard',params: { idSerie: game.serie.id, slugSerie: game.serie.slug }}">{{ $t('Serie') }}: {{ game.serie.name }}</router-link>
                </li>
                <li v-if="hasRolePlayer">
                    <router-link :to="{ name: 'GameVideoSubmit'}">{{ $t('video.insert.title') }}</router-link>
                </li>
                <li v-if="isSmartphone">
                    <a v-if="game.downloadUrl" :href="game.downloadUrl">{{ $t('game.download.URL') }}</a>
                    <span v-else>{{ $t('game.download.message') }}</span>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
import PlatformList from '@/components/vgr/platform/List.vue';
import Security from "@/mixins/Security.vue";

export default {
    mixins: [Security],
    name: 'GameCard',
    props: ['game'],
    components: {
        'platformlist' : PlatformList,
    },
    computed: {
        getPicture() {
            return process.env.VUE_APP_ROOT_API + '/game/' + this.game.id + '/picture';
        },
        isSmartphone() {
            let value = false;
            this.game.platforms.forEach(function (platform) {
                if ((platform.slug === 'ios') || (platform.slug === 'android')) {
                    value = true;
                }
            });
          return value;
        }
    },
};
</script>
