<template>
    <div v-if="game != null" class="home-games__day">
        <h2>{{ $t('game.day') }}</h2>

        <div class="home-games__item">
            <game-picture v-bind:game="game" />
            <game-platforms v-bind:game="game" v-bind:multi="true" />
        </div>
    </div>
</template>

<script>
    import GameDayApi from "@/services/api/vgr/GameDay";
    import GamePicture from "@/components/vgr/game/Picture";
    import GamePlatforms from '@/components/vgr/game/Platforms';

    export default {
        name: 'GameDay',
        components: {
            'game-picture': GamePicture,
            'game-platforms' : GamePlatforms,
        },
        data() {
            return {
                game : null,
            };
        },
        computed: {
            now: function() {
                function pad(s) { return (s < 10) ? '0' + s : s; }
                let d = new Date();
                return [d.getFullYear(), pad(d.getMonth()+1), pad(d.getDate())].join('-');
            }
        },
        created() {
            GameDayApi.getList({
                query :{
                    'day[after]': this.now
                },
                cache : {useCache: true}
            })
            .then((response) => {
                if (response['hydra:totalItems'] >= 1) {
                    this.game = response['hydra:member'][0].game;
                }
            });
        },
    };
</script>
