<template>
    <div class="home-games__last">
        <h2>{{ $t('game.last.title') }}</h2>

        <VAsync :await="games" class="home-games__list">
            <template #pending>
                <loading></loading>
            </template>
            <template #resolved="games">
                <div v-for="game in games['hydra:member']" :data-position="game.position" :key="game.id" class="home-games__item">
                    <game-picture v-bind:game="game" />
                    <game-platforms v-bind:game="game" v-bind:multi="true" />
                </div>
            </template>
        </VAsync>
    </div>
</template>

<script>
import GamePlatforms from '@/components/vgr/game/Platforms';
import GamePicture from "@/components/vgr/game/Picture";
import GameApi from "@/services/api/vgr/Game";
import Language from "@/mixins/Language.vue";

export default {
    mixins: [Language],
    name: 'GameLast',
    components: {
        'game-platforms' : GamePlatforms,
        'game-picture': GamePicture,
    },
    data() {
        return {
            games : GameApi.getList({
                query :{
                    'pagination': true,
                    'status': this.$GAME_STATUS_ACTIVE,
                    'order[publishedAt]': 'DESC',
                    'groups': ['game.read.mini', 'game.platforms', 'platform.read'],
                    itemsPerPage: 3
                },
                cache : {useCache: true}
            })
            .then((response) => response),
        };
    },
};
</script>


