<template>
    <table class="game-list">
        <caption class="screen-reader-text">{{ $t('game.list.caption') }}</caption>
        <thead>
            <tr>
                <th scope="col" class="game-list__game">
                    <span v-if="displayPlatform">{{ $t('global.game') }}</span>
                    <button v-else type="button" class="table-order" @click="orderBy(getLibGame)">{{ $t('global.game') }}</button>
                </th>
                <th scope="col" v-if="displayPlatform" class="game-list__platform">{{ $t('global.platforms') }}</th>
                <th scope="col" v-if="displayCharts" class="game-list__charts">
                    <span v-if="displayPlatform">{{ $t('global.charts') }}</span>
                    <button v-else type="button" class="table-order" @click="orderBy('nbChart')">{{ $t('global.charts') }}</button>
                </th>
                <th scope="col" v-if="displayPosts" class="game-list__posts">
                    <span v-if="displayPlatform">{{ $t('global.scores') }}</span>
                    <button v-else type="button" class="table-order" @click="orderBy('nbPost')">{{ $t('global.scores') }}</button>
                </th>
                <th scope="col" v-if="displayPlayers" class="game-list__players">
                    <span v-if="displayPlatform">{{ $t('global.players') }}</span>
                    <button v-else type="button" class="table-order" @click="orderBy('nbPlayer')">{{ $t('global.players') }}</button>
                </th>
            </tr>
        </thead>
        <VAsync :await="games">
            <template #pending>
                <tbody>
                    <tr>
                        <td class="game-list__game">
                            <loading></loading>
                        </td>
                        <td v-if="displayPlatform" class="game-list__platform"></td>
                        <td v-if="displayCharts" class="game-list__charts"></td>
                        <td v-if="displayPosts" class="game-list__posts"></td>
                        <td v-if="displayPlayers" class="game-list__players"></td>
                    </tr>
                </tbody>
            </template>
            <template #resolved="games">
                <tbody>
                    <tr v-for="item in games['hydra:member']" :data-position="item.position" :key="item.id">
                        <td class="game-list__game"><game v-bind:game="item" v-bind:show-link="showLink"></game></td>
                        <td v-if="displayPlatform" class="game-list__platform"><platformlist v-bind:platforms="item.platforms"></platformlist></td>
                        <td v-if="displayCharts" :data-header="$t('global.charts')" class="game-list__charts">{{ item.nbChart | number }}</td>
                        <td v-if="displayPosts" :data-header="$t('global.scores')" class="game-list__posts">{{ item.nbPost | number }}</td>
                        <td v-if="displayPlayers" :data-header="$t('global.players')" class="game-list__players">{{ item.nbPlayer | number }}</td>
                    </tr>
                </tbody>
            </template>
        </VAsync>
    </table>
</template>

<script>
    import PlatformList from '@/components/vgr/platform/List.vue';
    import Game from '@/components/vgr/game/Game.vue';

    export default {
        name: 'GameList',
        props: {
            'games': {
                require: true,
            },
            'displayPlatform': {
                default: true,
                type: Boolean,
            },
            'displayCharts': {
                default: true,
                type: Boolean,
            },
            'displayPosts': {
                default: true,
                type: Boolean,
            },
            'displayPlayers': {
                default: true,
                type: Boolean,
            },
            'showLink': {
                default: true,
                type: Boolean,
            },
            'activeOrderBy': {
                default: false,
                type: Boolean,
            }
        },
        components: {
            'platformlist' : PlatformList,
            'game' : Game,
        },
        data() {
            return {
                order: {
                    column: 'id',
                    direction: 'ASC',
                }
            };
        },
        computed: {
            getLibGame() {
                if (this.$i18n.locale === 'fr') {
                    return 'libGameFr';
                }
                return 'libGameEn';
            },
        },
        created() {
            this.order.column = this.getLibGame;
        },
        methods: {
            orderBy(column) {
                if (this.activeOrderBy === false) {
                    return;
                }
                if (column !== this.order.column) {
                    this.order.column = column;
                    if (column === 'translations.name') {
                        this.order.direction = 'ASC';
                    } else {
                        this.order.direction = 'ASC';
                    }
                } else if (this.order.direction === 'ASC') {
                    this.order.direction = 'DESC';
                } else {
                    this.order.direction = 'ASC';
                }
                this.$parent.load();
            }
        },
    };
</script>