<template>
    <span v-if="multi  && game.platforms.length > 1" class="home-games__platform"><span class="platform-list__item">{{ $t('platform.multi') }}</span></span>
    <platformlist v-else v-bind:platforms="game.platforms"></platformlist>
</template>

<script>
import PlatformList from '@/components/vgr/platform/List.vue';

export default {
    name: 'GamePlatforms',
    props: {
        'game': {
            type: Object,
            require: true,
        },
        'multi': {
            default: false,
            type: Boolean,
            require: false,
        },
    },
    components: {
        'platformlist' : PlatformList,
    },
};
</script>
