<template>
    <div>
        <button @click="showDialog()" :aria-label="$t('proof.show')" :title="$t('proof.show')" class="proof-modal-button">
            <img v-bind:src="getPicture" alt="" loading="lazy" />
        </button>

        <VDialog v-model="dialog" no-scroll bg-transition="fade">
            <button :aria-label="$t('dialog.close')" class="vts-dialog__close" @click="dialog = false">&times;</button>
            <a :href="getPicture" target="_blank"><img v-bind:src="getPicture" alt="" /></a>
        </VDialog>
    </div>
</template>

<script>
export default {
    name: 'Picture',
    props: {
        'picture': {
            type: Object,
            require: true,
        },
    },
    data() {
        return {
            dialog: false,
        };
    },
    computed: {
        getPicture() {
            return process.env.VUE_APP_ROOT_API + '/proof/picture/' + this.picture.id;
        },
    },
    methods: {
        showDialog() {
            this.dialog = true;
        },
        closeDialog() {
            this.dialog = false;
        },
    },
};
</script>

