<template>
    <router-link :to="{ name: 'LostPosition', params: {lang: getLang}}" :class="'lost-' + nb + ' tooltip tooltip--bottom-center'">
        <svg width="30" height="30" viewBox="0 0 50 50" class="svg-sprite" aria-hidden="true" focusable="false">
            <use xlink:href="#medal-lost" />
        </svg>
        <span class="screen-reader-text">{{ nb }} {{ $tc('topbar.lostPositions', nb) }}</span>
        <div role="tooltip">{{ nb }} {{ $tc('topbar.lostPositions', nb) }}</div>
    </router-link>
</template>

<script>
import PlayerApi from "@/services/api/vgr/Player";
import Language from "@/mixins/Language.vue";
import Security from "@/mixins/Security.vue";

export default {
    mixins: [Language, Security],
    name: 'LostPositionBox',
    data() {
        return {
            nb: 0
        };
    },
    created() {
        this.maj();
        // Every 5 mins
        setInterval(() => this.maj(), 300000);
    },
    methods: {
        maj: function () {
            PlayerApi.getNbNewLostPosition(this.getPlayer.id)
            .then((response) => {
                this.nb = response.data;
            });
        },
    },
};
</script>
