<template>
    <div>
        <h1>{{ video.libVideo }}</h1>
        <div>{{ $t('global.publishedOn') }} <date v-bind:date="video.createdAt"></date> {{ $t('global.by') }} {{ video.player.pseudo }}</div>
        <vgr-video v-bind:video="video" width="720" height="405"></vgr-video>            
        <comment-list v-bind:comments="comments"></comment-list>
        <comment-form v-if="isAuthenticated" v-bind:video="video"></comment-form>
    </div>
</template>

<script>
import VideoApi from '@/services/api/vgr/Video';
import BreadcrumbsManager from '@/mixins/BreadcrumbManager';
import Video from '@/components/vgr/video/Video.vue';
import MyDate from '@/components/tools/Date.vue';
import CommentList from '@/components/vgr/video/comment/List.vue';
import CommentForm from '@/components/vgr/video/comment/Form.vue';
import Security from "@/mixins/Security.vue";

export default {
    mixins: [BreadcrumbsManager, Security],
    name: 'VideoIndex',
    components: {
        'vgr-video' : Video,
        'date': MyDate,
        'comment-list': CommentList,
        'comment-form': CommentForm
    },
    data() {
        return {
            video: {
                player: {},
                game: {},
            },
            comments : null,
        };
    },
    created() {
        VideoApi.getVideo(this.$route.params.idVideo)
            .then(video => {
                this.video = video;
                this.setBreadcrumbOnlyItem1(
                    { text: video.libVideo, to: {name: 'VideoIndex',params: { idGame: video.id, slugGame: video.slug }}}
                );
                this.$store.dispatch('aside/setGame', video.game);
            });
        this.loadComments();
    },
    methods: {
        loadComments () {
            this.comments =  VideoApi.getComments(this.$route.params.idVideo)
                .then((response) => response);
        }
    },
};
</script>
