<template>
    <div>
        <h1>{{ $t('video.list.title') }}</h1>
        <vue-headful :title="title" :description="description" />
        <video-list v-bind:videos=videos></video-list>
        <paginate :resource_url="getResourceUrl" @update="updateResource" class="pagination--bottom"></paginate>
    </div>
</template>

<script>
    import BreadcrumbsManager from '@/mixins/BreadcrumbManager';
    import VideoList from '@/components/vgr/video/List.vue';
    import Paginate from "@/components/Paginate";

    export default {
        mixins: [BreadcrumbsManager],
        name: 'VideoList',
        components: {
            'videoList' : VideoList,
            'paginate' : Paginate,
        },
        data() {
            return {
                videos: [],
                resource_url : '/api/videos?isActive=1&itemsPerPage=10',
            };
        },
        computed: {
            title() {
                return this.$i18n.t('video.list.title') + ' - ' + process.env.VUE_APP_TITLE;
            },
            description() {
                return this.$i18n.t('video.list.description');
            },
            getResourceUrl() {
                return this.resource_url;
            }
        },
        created() {
            this.setBreadcrumbOnlyItem1(
                { text: this.$i18n.t('video.list.title')}
            );
        },
        methods: {
            updateResource(data){
                this.videos = data
            }
        },
    };
</script>
