<template>
    <div>
        <vue-headful :title="title" :description="description" />

        <span v-html="page.text"></span>

        <h2>{{ $t('page.donations.donors') }}</h2>
        <div>
            <ul class="players-list">
                <li v-for="user in donors" :data-position="user.position" :key="user.id">
                    <user v-bind:user="user" v-bind:showAvatar="true" />
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    import PageApi from '@/services/api/page/Page';
    import DonationApi from '@/services/api/compta/Donation';
    import BreadcrumbsManager from '@/mixins/BreadcrumbManager';
    import User from '@/components/user/User.vue';
    import i18n from "@/i18n";

    export default {
        mixins: [BreadcrumbsManager],
        name: 'Donation',
        components: {
            'user': User,
        },
        data() {
            return {
                page: {},
                donors :[]
            };
        },
        computed: {
            title() {
                return this.$i18n.t('page.donations.title') + ' - ' + process.env.VUE_APP_TITLE;
            },
            description() {
                return this.$i18n.t('page.donations.description');
            },
            getLanguage () {
                return i18n.locale;
            },
        },
        watch : {
            getLanguage() {
                this.loadData();
            },
        },
        created() {
            this.loadData();
            DonationApi.getDonors()
                .then(donors => {
                    this.donors = donors;
                });
        },
        methods: {
            loadData() {
                PageApi.getPage(8)
                .then(page => {
                    this.page = page;
                });
                this.setBreadcrumbOnlyItem1(
                    { text: this.$i18n.t('page.donations.title')}
                );
            }
        },
    };
</script>
