<template>
    <div>
        <vue-headful :title="title" :description="description" />
        <span v-html="page.text"></span>
    </div>
</template>

<script>
    import PageApi from '@/services/api/page/Page';
    import BreadcrumbsManager from '@/mixins/BreadcrumbManager';
    import i18n from "@/i18n";

    export default {
        mixins: [BreadcrumbsManager],
        name: 'Faq',
        components: {
        },
        data() {
            return {
                page: {},
            };
        },
        computed: {
            title() {
                return this.$i18n.t('page.faq.title') + ' - ' + process.env.VUE_APP_TITLE;
            },
            description() {
                return this.$i18n.t('page.faq.description');
            },
            getLanguage () {
                return i18n.locale;
            },
        },
        watch : {
            getLanguage() {
                this.loadData();
            },
        },
        created() {

            this.loadData();
        },
        methods: {
            loadData() {
                PageApi.getPage(2)
                .then(page => {
                    this.page = page;
                });
                this.setBreadcrumbOnlyItem1(
                    { text: this.$i18n.t('page.faq.title')}
                );
            }
        },
    };
</script>
