<template>
    <div>
        <router-view></router-view>
    </div>
</template>

<script>
    import TopicApi from '@/services/api/forum/Topic';
    import BreadcrumbsManager from '@/mixins/BreadcrumbManager';

    export default {
        mixins: [BreadcrumbsManager],
        name: 'TopicMain',
        components: {

        },
        data() {
            return {
                topic: {
                    id: null,
                    libTopic: '',
                    slug: '',
                },
            };
        },
        computed: {
            getTopic() {
                return this.topic;
            },
            getForum() {
                return this.$parent.forum;
            },
            hasParent() {
                return this.getForum.parent != null;
            },
            getBreadcrumbLevel() {
                if (this.hasParent) {
                    return 4;
                }
                return 3;
            }
        },
        watch: {
            '$route.params.idTopic' () {
                this.setData();
            },
            'topic.id' () {
                if (this.getBreadcrumbLevel === 4) {
                    this.setBreadcrumbItem4(
                        { text: this.topic.libTopic, to: {name: 'TopicIndex',params: { idTopic: this.topic.id, slugTopic: this.topic.slug }}}
                    );
                } else {
                    this.setBreadcrumbItem3(
                        { text: this.topic.libTopic, to: {name: 'TopicIndex',params: { idTopic: this.topic.id, slugTopic: this.topic.slug }}}
                    );
                }
                this.setBreadcrumbLevel(this.getBreadcrumbLevel);
            }
        },
        methods: {
            async setData () {
                await TopicApi.getTopic(this.$route.params.idTopic)
                    .then(topic => {
                        this.topic = topic;
                        /*if ((this.$route.name  == 'TopicReply')  && (topic.type.libType == 'ANNONCE')) {
                            this.$router.push({path: '/'});
                        }*/
                    });
            },
        },
        created() {
            this.setData();
            this.setBreadcrumbLevel(this.getBreadcrumbLevel);
        },
        updated() {
            if (this.$route.name === 'TopicIndex') {
                this.setBreadcrumbLevel(this.getBreadcrumbLevel);
            }
        },
    };
</script>
