<template>
    <div>
        <vue-headful :title="title" :description="description" />
        <topic-reply v-if="getTopic.id" v-bind:topic="getTopic"></topic-reply>
    </div>
</template>


<script>
    import BreadcrumbsManager from '@/mixins/BreadcrumbManager';
    import TopicReply from "@/components/forum/topic/Reply";
    import i18n from "@/i18n";

    export default {
        mixins: [BreadcrumbsManager],
        name: 'ForumTopicReply',
        components: {
            'topic-reply' : TopicReply,
        },
        data() {
            return {

            };
        },
        computed: {
            title() {
                return this.$i18n.t('forum.reply.title') + ' - ' + this.getTopic.libTopic + ' - ' + this.getForum.libForum + ' - ' + process.env.VUE_APP_TITLE;
            },
            description() {
                return this.$i18n.t('forum.reply.description') + this.getForum.libForum + ' - ' + this.getTopic.libTopic;
            },
            getForum() {
                return this.$parent.$parent.forum;
            },
            getTopic() {
                return this.$parent.topic;
            },
            hasParent() {
                return this.getForum.parent != null;
            },
            getBreadcrumbLevel() {
                if (this.hasParent) {
                    return 5;
                }
                return 4;
            },
            getLanguage () {
                return i18n.locale;
            },
        },
        watch : {
            getLanguage() {
                this.loadData();
            },
        },
        created() {
            this.loadData();
        },
        methods: {
            loadData() {
                if (this.hasParent) {
                    this.setBreadcrumbItem5({ text: this.$i18n.t('forum.reply.title')});
                } else {
                    this.setBreadcrumbItem4({ text: this.$i18n.t('forum.reply.title')});
                }
                this.setBreadcrumbLevel(this.getBreadcrumbLevel);
            }
        },
    };
</script>
