<template>
    <div>
      <team-badge-serie v-bind:team="this.$parent.team" v-bind:id-team="this.$route.params.idTeam" />
      <team-badge-master v-bind:team="this.$parent.team" v-bind:id-team="this.$route.params.idTeam" />
    </div>
</template>

<script>
    import TeamBadgeMaster from "@/components/vgr/team/badge/Master";
    import TeamBadgeSerie from "@/components/vgr/team/badge/Serie.vue";

    export default {
        name: 'TeamBadges',
        components: {
          TeamBadgeSerie,
          TeamBadgeMaster,
        },
        data() {
            return {

            };
        },

    };
</script>
