<template>
    <div>
        <table class="profile-games">
            <caption class="screen-reader-text">{{ $t('global.games') }}</caption>
            <thead>
            <tr>
                <th scope="col">
                    <button class="table-order" @click="orderBy(getLibGame)">{{ $t('global.game') }}</button>
                </th>
                <th scope="col">
                    <button class="table-order" @click="orderBy('chartRank0')">{{ $t('global.medals') }}</button>
                </th>
                <th scope="col">
                    <button class="table-order" @click="orderBy('pointGame')">{{ $t('global.gamePoints') }}</button>
                </th>
                <th scope="col">
                    <button class="table-order" @click="orderBy('rankPointChart')">{{ $t('global.rank') }}</button>
                </th>
            </tr>
            </thead>
            <VAsync :await="games">
                <template #pending>
                    <tbody>
                    <tr>
                        <td class="game-list__game">
                            <loading></loading>
                        </td>
                    </tr>
                    </tbody>
                </template>
                <template #resolved="games">
                    <tbody>
                    <tr v-for="item in games" :data-rank="item.rankPointChart" :key="item.id">
                        <td><game v-bind:game="item.game"></game></td>
                        <td :data-header="$t('global.medals')">
                            <tools-medals v-bind:nb-platinum="item.chartRank0" v-bind:nb-gold="item.chartRank1" v-bind:nb-silver="item.chartRank2" v-bind:nb-bronze="item.chartRank3" />
                        </td>
                        <td :data-header="$t('global.gamePoints')">{{ item.pointGame | number }}</td>
                        <td :data-header="$t('global.rank')">
                            <tools-rank v-bind:rank="item.rankPointChart" v-bind:nb-equal="item.nbEqual" v-bind:nb-item="item.game.nbTeam" />
                        </td>
                    </tr>
                    </tbody>
                </template>
            </VAsync>
        </table>
    </div>
</template>

<script>
    import Game from '@/components/vgr/game/Game.vue';
    import TeamGameApi from "@/services/api/vgr/TeamGame";
    import ToolsRank from '@/components/vgr/tools/Rank';
    import ToolsMedals from '@/components/vgr/tools/Medals';

    export default {
        name: 'TeamGames',
        components: {
            'game' : Game,
            'tools-rank': ToolsRank,
            'tools-medals': ToolsMedals,
        },
        data() {
            return {
                games: null,
                nbGame: 0,
                order: {
                    column: 'rankPointChart',
                    direction: 'ASC',
                }
            };
        },
        computed: {
            getLibGame() {
                if (this.$i18n.locale === 'fr') {
                    return 'game.libGameFr';
                }
                return 'game.libGameEn';
            },
        },
        created() {
            this.order.column = this.getLibGame;
            this.load();
        },
        methods: {
            load() {
                let params = {
                    query: {
                        groups: ['game.read.mini', 'game.stats', 'teamGame.game', 'teamGame.pointChart', 'teamGame.medal'],
                        pagination: false,
                        team: this.$route.params.idTeam,
                    }
                };

                params.query['order[' + this.order.column +']'] = this.order.direction;
                if (this.order.column === 'chartRank0') {
                    params.query['order[chartRank1]'] = this.order.direction;
                    params.query['order[chartRank2]'] = this.order.direction;
                    params.query['order[chartRank3]'] = this.order.direction;
                }

                if (this.order.column === 'rankPointChart') {
                    if (this.order.direction === 'ASC') {
                        params.query['order[nbEqual]'] = 'ASC';
                        params.query['order[game.nbTeam]'] = 'DESC';
                    } else {
                        params.query['order[nbEqual]'] = 'DESC';
                        params.query['order[game.nbTeam]'] = 'ASC';
                    }
                }

                this.games = TeamGameApi.getList(params)
                    .then((response) => {
                        this.nbGame = response['hydra:totalItems'];
                        return response;
                    });
            },
            orderBy(column) {
                if (column !== this.order.column) {
                    this.order.column = column;
                    if (column === 'translations.name') {
                        this.order.direction = 'ASC';
                    } else {
                        this.order.direction = 'ASC';
                    }
                } else if (this.order.direction === 'ASC') {
                    this.order.direction = 'DESC';
                } else {
                    this.order.direction = 'ASC';
                }
                this.load();
            },
        },
    };
</script>
