<template>
    <div>
        {{ $t('leaderboard.recordPoints.title', [5]) }}
        <leaderboard-player-point-chart v-bind:leaderboard=leaderboardPointChart></leaderboard-player-point-chart>

        {{ $t('leaderboard.gamePoints.title', [5]) }}
        <leaderboard-player-point-game v-bind:leaderboard=leaderboardPointGame></leaderboard-player-point-game>

        {{ $t('leaderboard.medal.title', [5]) }}
        <leaderboard-player-medal v-bind:leaderboard=leaderboardMedal></leaderboard-player-medal>

        {{ $t('leaderboard.cup.title', [5]) }}
        <leaderboard-player-cup v-bind:leaderboard=leaderboardCup></leaderboard-player-cup>

        {{ $t('leaderboard.proofs.title', [5]) }}
        <leaderboard-player-proof v-bind:leaderboard=leaderboardProof></leaderboard-player-proof>

        {{ $t('leaderboard.badges.title', [5]) }}
        <leaderboard-player-badge v-bind:leaderboard=leaderboardBadge></leaderboard-player-badge>
    </div>
</template>

<script>
import LeaderboardPlayerPointChart from '@/components/vgr/player/leaderboard/PointChart';
import LeaderboardPlayerPointGame from '@/components/vgr/player/leaderboard/PointGame';
import LeaderboardPlayerMedal from '@/components/vgr/player/leaderboard/Medal';
import LeaderboardPlayerCup from '@/components/vgr/player/leaderboard/Cup';
import LeaderboardPlayerProof from '@/components/vgr/player/leaderboard/Proof';
import LeaderboardPlayerBadge from '@/components/vgr/player/leaderboard/Badge';
import PlayerApi from "@/services/api/vgr/Player";

export default {
    name: 'TeamLeaderBoards',
    components: {
        LeaderboardPlayerPointChart,
        LeaderboardPlayerPointGame,
        LeaderboardPlayerMedal,
        LeaderboardPlayerCup,
        LeaderboardPlayerProof,
        LeaderboardPlayerBadge
    },
    data() {
        return {
            leaderboardPointChart : PlayerApi.getRankingPointChart({query: {idTeam: this.$route.params.idTeam, limit:5},cache : {useCache: true}})
                    .then((response) => response),
            leaderboardPointGame : PlayerApi.getRankingPointGame({query: {idTeam: this.$route.params.idTeam, limit:5},cache : {useCache: true}})
                    .then((response) => response),
            leaderboardMedal : PlayerApi.getRankingMedal({query: {idTeam: this.$route.params.idTeam, limit:5},cache : {useCache: true}})
                    .then((response) => response),
            leaderboardCup : PlayerApi.getRankingCup({query: {idTeam: this.$route.params.idTeam, limit:5},cache : {useCache: true}})
                    .then((response) => response),
            leaderboardProof : PlayerApi.getRankingProof({query: {idTeam: this.$route.params.idTeam, limit:5},cache : {useCache: true}})
                    .then((response) => response),
            leaderboardBadge : PlayerApi.getRankingBadge({query: {idTeam: this.$route.params.idTeam, limit:5},cache : {useCache: true}})
                    .then((response) => response),
        };
    },
    computed: {
        getTeam() {
            return this.$parent.team;
        },
    },
};
</script>
