<template>
    <div>
        <ul class="players-list">
            <li v-for="player in getPlayers" :data-position="player.position" :key="player.id" class="players-list__item">
                <player v-bind:player="player" v-bind:showAvatar="true" />
                <span v-if="getTeam.leader.id === player.id" class="team-leader" :title="$t('team.leader')">
                    <svg width="24" height="24" viewBox="0 0 50 50" class="svg-sprite" aria-hidden="true" focusable="false">
                        <use xlink:href="#notification-on" />
                    </svg>
                    <span class="screen-reader-text">{{ $t('team.leader') }}</span>
                </span>
            </li>
        </ul>
    </div>
</template>

<script>
    import Player from '@/components/vgr/player/Player.vue';

    export default {
        name: 'TeamPlayers',
        components: {
            Player
        },
        data() {
            return {
            };
        },
        computed: {
            getTeam() {
                return this.$parent.team;
            },
            getPlayers() {
                return this.$parent.team.players;
            }
        },
    };
</script>
