<template>
    <span v-if="badge.id">
        <img :src="getUrl" width="33" height="33" :alt="getAlt" :title="getTitle" loading="lazy" />
    </span>
</template>

<script>
    export default {
        name: 'Badge',
        props: ['badge'],
        computed: {
            getLanguage () {
                return this.$store.getters['language/getLanguage'];
            },
            getUrl() {
                return process.env.VUE_APP_ROOT_API + '/badge/' + this.badge.id + '/picture';
            },
            getAlt() {
                return this.badge.type + ' ' + this.badge.value;
            },
            getTitle() {
                return this.badge.title;
            },
        },
    };
</script>


