<template>
    <tr>
        <td class="proof-detail__game">
            <game-picture v-bind:game="playerGame.game" />
        </td>
        <td class="proof-detail__platforms">
            <game v-bind:game="playerGame.game" />
            <platform-list v-bind:platforms="playerGame.game.platforms"></platform-list>
        </td>
        <td class="proof-detail__scores">
            <ul>
                <li v-if="isAccountRoute === false">
                    <router-link :to="{ name: 'PlayerGameProofs', params: { idGame: playerGame.game.id, slugGame: playerGame.game.slug }}">
                        <strong>{{ playerGame.game.nbChart | number }}</strong> {{ $tc('game.score.total', playerGame.game.nbChart) }}
                    </router-link>
                </li>
                <li v-else>
                    <strong>{{ playerGame.game.nbChart | number }}</strong> {{ $tc('game.score.total', playerGame.game.nbChart) }}
                </li>
                <li v-for="item in playerGame.statuses" :key="item.id">
                    <span :title="item.status.name" :class="item.status.class ">
                        <span class="screen-reader-text">{{ item.status.name }}</span>
                    </span>
                    <span v-if="(item.status.id === 6)">
                        <strong>{{ item['nb'] | number }}</strong> {{ $tc('score.status.proof--proved', playerGame.nbChartProven) }}
                    </span>
                    <span v-else>
                        <strong>{{ item['nb'] | number }}</strong> {{ $tc('score.status.' + item.status.class, item['nb']) }}
                    </span>
                </li>

                <li v-if="isAccountRoute === true">
                    <router-link :to="{ name: 'ProofGameProofs', params: { idGame: playerGame.game.id, slugGame: playerGame.game.slug }}">
                        {{ $t('proof.myProofs.description') }} <span class="screen-reader-text">{{ $t('global.on') }} <game v-bind:game="playerGame.game" /></span>
                    </router-link>
                </li>
            </ul>
        </td>
    </tr>
</template>

<script>
import Game from "@/components/vgr/game/Game";
import GamePicture from "@/components/vgr/game/Picture";
import PlatformList from "@/components/vgr/platform/List";

export default {
    name: 'PlayerProfileProofGame',
    components: {
        'game' : Game,
        'game-picture' : GamePicture,
        'platform-list' : PlatformList,
    },
    props: {
        'playerGame': {
            type: Object,
            require: true,
        },
    },
    computed: {
        isAccountRoute() {
            return this.$route.name === 'ProofIndex';
        }
    },
    data() {
        return {
        };
    },
};
</script>
