<template>
    <VAsync :await="playerGames">
        <template #pending>
            <loading></loading>
        </template>
        <template #resolved="playerGames">
            <table>
                <caption class="h3">{{ $t('proof.byGame') }}</caption>
                <thead>
                    <tr>
                        <th class="proof-detail__game">{{ $t('global.game') }}</th>
                        <td></td>
                        <th class="proof-detail__scores">{{ $t('global.scores') }}</th>
                    </tr>
                </thead>
                <tbody>
                    <player-proof-game v-for="item in playerGames" :key="item.id" v-bind:player-game="item" />
                </tbody>
            </table>
        </template>
    </VAsync>
</template>

<script>

import PlayerProofGame from "@/components/vgr/player/proof/Game";
import PlayerApi from "@/services/api/vgr/Player";

export default {
    name: 'PlayerProofGames',
    components: {
        PlayerProofGame,
    },
    props: {
        'idPlayer': {
            require: true,
        },
    },
    data() {
        return {
            playerGames: null,
            nbGame: 0,
        };
    },
    created() {
        this.load();
    },
    methods: {
        load() {
            this.playerGames = PlayerApi.getGameStatuses(this.idPlayer)
                    .then((response) => {
                        this.nbGame = response['hydra:totalItems'];
                        return response;
                    });
        }
    },
};
</script>
