<template>
    <div class="accordion-like">
        <button type="button" v-if="isDisplayed === false" @click="open" aria-expanded="false" :aria-controls="group.id">
            <svg width="16" height="16" viewBox="0 0 50 50" class="svg-sprite" aria-hidden="true" focusable="false">
                <use xlink:href="#arrow" />
            </svg>
            {{ group.name }}
        </button>

        <button type="button" v-else @click="close" aria-expanded="true" :aria-controls="group.id">
            <svg width="16" height="16" viewBox="0 0 50 50" class="svg-sprite" aria-hidden="true" focusable="false">
                <use xlink:href="#arrow" />
            </svg>
            {{ group.name }}
        </button>

        <VAsync v-if="isDisplayed" :await="playerCharts" :id="group.id" class="profile-proofs">
            <template #pending>
                <loading></loading>
            </template>
            <template #resolved="playerCharts">
                <div v-if="playerCharts['hydra:member'].length">
                    <player-proof-player-chart v-for="playerChart in playerCharts['hydra:member']" :key="playerChart.id" v-bind:player-chart="playerChart" v-bind:manage="manage" class="profile-proofs__item" />
                </div>
                <div v-else>
                    <p>{{ $t('group.noScore') }}</p>
                </div>
            </template>
        </VAsync>
    </div>
</template>

<script>
    import PlayerChartApi from "@/services/api/vgr/PlayerChart";
    import PlayerProofPlayerChart from "@/components/vgr/player/proof/PlayerChart";

    export default {
        name: 'PlayerProfileProofGroup',
        components: {
            PlayerProofPlayerChart,
        },
        props: {
            'group': {
                type: Object,
                require: true,
            },
            'idPlayer': {
                require: true,
            },
            'manage': {
                type: Boolean,
                require: false,
                default: false,
            },
        },
        computed: {
            isInitialized() {
                return this.playerCharts !== null;
            },
            isOpened() {
                return this.$parent.$parent.isOpened;
            },
            getLibChart() {
                if (this.$i18n.locale === 'fr') {
                    return 'chart.libChartFr';
                }
                return 'chart.libChartEn';
            },
        },
        data() {
            return {
                playerCharts: null,
                isDisplayed: false,
                reload: false,
            };
        },
        methods: {
            open(){
                if ((this.isInitialized === false) || (this.reload === true)) {
                    this.load();
                }
                this.isDisplayed = true;
            },
            close() {
                this.isDisplayed = false;
            },
            load() {
                this.reload = false;
                let params = {
                    query: {
                        groups: ['playerChart.read', 'playerChart.status', 'playerChartStatus.read', 'playerChart.chart', 'chart.read.mini', 'chart.group', 'group.read.mini', 'playerChartLib.format','playerChart.proof', 'proof.read', 'picture.read', 'video.read'],
                        pagination: false,
                        'chart.group': this.group.id,
                        'player': this.idPlayer,
                    }
                };
                params.query['order[' + this.getLibChart +']'] = 'ASC';
                this.playerCharts = PlayerChartApi.getList(params)
                    .then((response) => {
                        return response;
                    });
            }
        },
        watch: {
            isOpened () {
                if (this.isOpened === true) {
                    this.open();
                } else {
                    this.close();
                }
            }
        },
    };
</script>
