<template>
    <div>
        <h3 class="h4">
            <router-link :to="{ name: 'ChartIndex', params: { idGroup:playerChart.chart.group.id, slugGroup:playerChart.chart.group.slug, idChart: playerChart.chart.id, slugChart: playerChart.chart.slug }}">
                {{ playerChart.chart.name }}
            </router-link>
        </h3>

        <div v-for="lib in playerChart.libs" :data-position="lib.position" :key="lib.id" class="profile-proofs__score">
            <span>{{ $t('global.score') }} <strong>{{ lib.formatValue }}</strong></span>
            
            <div class="tooltip tooltip--top-right">
                <button type="button" class="button-as-link" :aria-labelledby="playerChart.status.id">
                    <status v-bind:status="playerChart.status" />
                </button>
                <div role="tooltip" :id="playerChart.status.id">{{ playerChart.status.name }}</div>
            </div>
        </div>

        <div v-if="getPlayerChart.proof" class="profile-proofs__proof">
            <vgr-picture v-if="getPlayerChart.proof.picture" v-bind:picture="getPlayerChart.proof.picture"></vgr-picture>

            <router-link v-else-if="getPlayerChart.proof.video" :to="{ name: 'VideoIndex', params: { idVideo: getPlayerChart.proof.video.id, slugVideo: getPlayerChart.proof.video.slug }}">
                {{ playerChart.proof.video.libVideo }}
            </router-link>

            <div v-if="manage === true" class="profile-proofs__action">
                <button class="button-as-link" @click="close()">{{ $t('tag.delete') }}</button>
            </div>
        </div>
        <div v-else>
            <div v-if="manage === true">
                <vue-dropzone ref="dropZone" :id="getDropZoneId" :options="dropzoneOptions" :useCustomSlot=true>
                    {{ $t('proof.add', [playerChart.chart.name]) }}<br />
                </vue-dropzone>
            </div>
            <span v-else>{{ $t('score.notProoved') }}</span>
        </div>
    </div>
</template>

<script>
    import Picture from "@/components/vgr/picture/Picture";
    import vue2Dropzone from 'vue2-dropzone';
    import 'vue2-dropzone/dist/vue2Dropzone.min.css';
    import PlayerChartApi from "@/services/api/vgr/PlayerChart";
    import ProofApi from "@/services/api/vgr/Proof";
    import Status from "@/components/vgr/playerChart/Status";

    export default {
        name: 'PlayerProfileProofPlayerChart',
        components: {
            Status,
            'vgr-picture' : Picture,
            'vue-dropzone' : vue2Dropzone,
        },
        props: {
            'playerChart': {
                type: Object,
                require: true,
            },
            'manage': {
                type: Boolean,
                require: false,
                default: false,
            },
        },
        computed: {
            getDropZoneId() {
                return 'dropzone_' + this.playerChart.id;
            },
            getPlayerChart() {
                if (this.data.id) {
                    return this.data;
                } else {
                    return this.playerChart;
                }
            }
        },
        data() {
            return {
                data: {},
                file: {},
                picture: null,
                dropzoneOptions: {
                    _this: this,
                    picture: null,
                    url: process.env.VUE_APP_ROOT_API + '/api/player-charts/' + this.playerChart.id + '/send-picture',
                    maxFiles: 1,
                    uploadMultiple: false,
                    resizeWidth: '800',
                    resizeHeight: '600',
                    resizeQuality: '0.9',
                    acceptedFiles: 'image/png,image/jpeg',
                    // eslint-disable-next-line no-unused-vars
                    accept: function(file, done) {
                        let vueComp = this.options._this;
                        const reader = new FileReader();
                        reader.readAsDataURL(file);
                        reader.onload = function(event) {
                            vueComp.picture = event.target.result;
                        };
                    }
                },

            };
        },
        created() {
            if (!this.data.id) {
                this.data = this.playerChart;
            }
        },
        watch: {
            picture () {
                this.submitFile();
            }
        },
        methods: {
            submitFile(){
                PlayerChartApi.proveWithPicture(this.playerChart.id, this.picture).then(response => {
                    if (response.status === 200) {
                        this.setPlayerChart(this.playerChart.id);
                    }
                });
            },
            setPlayerChart (id) {
                PlayerChartApi.getPlayerChart(id)
                    .then(playerChart => {
                        this.data = playerChart;
                        this.$parent.$parent.reload = true;
                    });
            },
            close () {
                if (confirm(this.$i18n.t('dialog.delete'))) {
                    let proof = this.playerChart.proof;
                    proof.status = 'CLOSED';
                    ProofApi.put(proof).then(response => {
                        if (response.status === 200) {
                            this.setPlayerChart(this.playerChart.id);
                        }
                    });
                }
            },
        },
    };
</script>
