<template>
    <div class="proof-detail__player">
        <ul>
            <li v-if="getTotal > 0">
                <strong>{{ getTotal | number }}</strong> {{ $tc('score.total', getTotal) }}
            </li>
            <li v-for="row in stats" :key="row.id">
                <span :title="row[0].name" :class="row[0].class ">
                    <span class="screen-reader-text">{{ row[0].name }}</span>
                </span>
                <strong>{{ row['nb'] | number }}</strong> {{ $tc('score.status.' + row[0].class, row['nb']) }}
            </li>
        </ul>
    </div>
</template>

<script>

import PlayerApi from "@/services/api/vgr/Player";

export default {
    name: 'PlayerProofStats',
    components: {

    },
    props: {
        'idPlayer': {
            require: true,
        },
    },
    computed: {
        getTotal() {
            let total = 0;
            this.stats.forEach(function(element) {
                total = total + element['nb'];
            });
            return total;
        }
    },
    data() {
        return {
            stats: [],
            nbTotal: 0,
        };
    },
    created() {
            this.setData();
        },
    methods: {
        setData () {
            PlayerApi.getStatuses(this.idPlayer)
                .then(stats => {
                    this.stats = stats;
                });
        },
    },
};
</script>
