<template>
    <article>
        <h1>{{ article.title }}</h1>
        <header class="article__header">
            {{ $t('article.publishedBy') }} <span v-if="article.author">{{ article.author.username }}</span>
            {{ $t('article.publishedOn') }}  <date v-bind:date="article.publishedAt" v-bind:options="{ year: 'numeric', month: 'long', day: 'numeric' }"></date>
        </header>
        <div v-html="article.text"></div>
        <article-comment-list v-bind:comments="comments"></article-comment-list>
        <article-comment-add v-if="isAuthenticated" v-bind:article="article"></article-comment-add>
    </article>
</template>

<script>
import Date from '@/components/tools/Date.vue';
import ArticleApi from '@/services/api/article/Article'
import BreadcrumbsManager from '@/mixins/BreadcrumbManager';
import ArticleCommentList from '@/components/article/comment/List.vue';
import ArticleCommentAdd from '@/components/article/comment/Add.vue';
import i18n from "@/i18n";
import Security from "@/mixins/Security.vue";

export default {
    mixins: [BreadcrumbsManager, Security],
    name: 'ArticleIndex',
    components: {
        'date': Date,
        ArticleCommentList,
        ArticleCommentAdd
    },
    data() {
        return {
            article: {},
            comments : null,
        };
    },
    computed: {
        getLanguage () {
            return i18n.locale;
        },
    },
    watch : {
        getLanguage() {
            this.loadData();
        },
    },
    created() {
        this.loadData();
        this.loadComments();
    },
    methods: {
        loadData() {
            ArticleApi.getArticle(this.$route.params.id)
            .then(article => {
                this.article = article;
                this.setBreadcrumbOnlyItem1(
                    { text: article.title }
                );
            });
        },
        loadComments() {
            this.comments =  ArticleApi.getComments(this.$route.params.id)
                .then((response) => response);
            }
    },
};
</script>
