<template>
    <div>
        <vue-headful :title="title" :description="description" />

        <h1>{{ $t('article.list.title') }}</h1>

        <table class="articles-list">
            <caption class="screen-reader-text">{{ $t('article.list.caption') }}</caption>
            <thead>
                <tr>
                    <th scope="col" class="article__date">{{ $t('article.publishedAt') }}</th>
                    <th scope="col" class="article__title">{{ $t('article.title') }}</th>
                    <th scope="col" class="article__author">{{ $t('article.publishedBy') }}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="article in articles" :data-position="article.position" :key="article.id">
                    <td class="article__date">
                        <date v-bind:date="article.publishedAt" v-bind:options="{ month: 'long', day: 'numeric', year: 'numeric' }"></date>
                    </td>
                    <td class="article__title">
                        <router-link :to="{ name: 'ArticleIndex', params: { id: article.id, slugArticle: article.slug }}">{{ article.title }}</router-link>
                        ({{ article.nbComment | number }})
                    </td>
                    <td class="article__author" :data-header="$t('article.publishedBy')">
                        <user v-bind:user="article.author"></user>
                    </td>
                </tr>
            </tbody>
        </table>
        <paginate ref="paginate" :resource_url="getResourceUrl" @update="updateResource" class="pagination--bottom"></paginate>
    </div>
</template>

<script>
    import BreadcrumbsManager from '@/mixins/BreadcrumbManager';
    import Paginate from '@/components/Paginate.vue';
    import Date from '@/components/tools/Date.vue';
    import User from "@/components/user/User";
    import i18n from "@/i18n";

    export default {
        mixins: [BreadcrumbsManager],
        name: 'ArticleList',
        components: {
            User,
            'paginate' : Paginate,
            'date': Date,
        },
        data() {
            return {
                articles: [],
                itemsPerPage: 20,
                resource_url : '/api/articles?status=PUBLISHED&order[publishedAt]=DESC',
            };
        },
        computed: {
            title() {
                return this.$i18n.t('article.list.title') + ' - ' + process.env.VUE_APP_TITLE;
            },
            description() {
                return this.$i18n.t('article.list.description');
            },
            getResourceUrl() {
                return this.resource_url + '&itemsPerPage=' + this.itemsPerPage;
            },
            getLanguage () {
                return i18n.locale;
            },
        },
        watch : {
            getLanguage() {
                this.setBreadcrumb();
                this.$refs.paginate.reload();
            },
        },
        created() {
            this.setBreadcrumb();
        },
        methods: {
            setBreadcrumb() {
                this.setBreadcrumbOnlyItem1(
                    { text: this.$i18n.t('article.list.title') }
                );
            },
            updateResource(data){
                this.articles = data
            }
        },
    };
</script>
