<template>
    <div>
        <vue-headful :title="title" :description="description" />
        <h1>{{ $t('forum.home.title') }}</h1>

        <div v-if="isAuthenticated" class="button-actions button-actions--top">
            <read-all></read-all>
            <router-link :to="{ name: 'ForumNotify'}" class="link-as-button">{{ $t('forum.notify.title') }}</router-link>
        </div>

        <VAsync :await="categories">
            <template #pending>
                <loading></loading>
            </template>
            <template #resolved="categories">
                <div v-for="category in categories" :data-position="category.position" :key="category.id" class="forum-list">
                    <h2>{{ category.libCategory }}</h2>
                    <forumList v-bind:forums=category.forums></forumList>
                </div>
            </template>
        </VAsync>

        <div v-if="isAuthenticated" class="button-actions button-actions--bottom">
            <read-all></read-all>
        </div>

        <user-connected />
    </div>
</template>

<script>
    import CategoryApi from '@/services/api/forum/Category';
    import UserApi from '@/services/api/user/User';
    import ForumList from '@/components/forum/forum/List.vue';
    import ReadAll from '@/components/forum/ReadAll.vue';
    import BreadcrumbsManager from '@/mixins/BreadcrumbManager';
    import UserConnected from '@/components/user/Connected';
    import Security from "@/mixins/Security.vue";

    export default {
        mixins: [BreadcrumbsManager, Security],
        name: 'ForumHome',
        components: {
            ForumList,
            ReadAll,
            UserConnected,
        },
        data() {
            return {
                categories: CategoryApi.getHome()
                    .then((response) => response),
                users: null,
                nbUser: 0,
            };
        },
        computed: {
            title() {
                return 'Forum' + ' - ' + process.env.VUE_APP_TITLE;
            },
            description() {
                return this.$i18n.t('forum.home.description');
            },
            getNow: function() {
                function pad(s) { return (s < 10) ? '0' + s : s; }
                let d = new Date();
                return [d.getFullYear(), pad(d.getMonth()+1), pad(d.getDate())].join('-');
            }
        },
        created() {
            this.setBreadcrumbLevel(1);
            this.setBreadcrumbItem1(
                { text: 'Forum', to: {name: 'ForumHome'}}
            );
            this.$store.dispatch('aside/setDefault');
            this.users = UserApi.getList({
                query :{
                    'pagination': false,
                    'lastLogin': this.getNow,
                    'groups': ['user.read.mini']
                },
                cache : {useCache: true}
            })
                .then((response) => {
                    this.nbUser = response['hydra:totalItems'];
                    return response;
                });

        },
    };
</script>
