<template>
    <div>
        <div v-if="isLoading" aria-live="polite" aria-atomic="true">
            <loading></loading>
        </div>

        <form class="vgr-form" @submit="performResettingReset" @submit.prevent>
            <div>
                <label for="new-password">{{ $t('authentication.reset.confirm.password') }}</label>
                <input type="password" id="new-password" v-model="password" required="required" minlength="8">
            </div>

            <div>
                <input type="submit" :value="$t('authentication.reset.confirm.submit')" />
            </div>
        </form>
    </div>
</template>


<script>
    export default {
        data(){
            return {
                password : '',
                token: '',
            }
        },
        created () {
            this.token = this.$route.query.token;
        },
        computed: {
            isLoading () {
                return this.$store.getters['authenticationReset/isLoading'];
            },
            hasSuccess () {
                return (this.$store.getters['authenticationReset/success'] === true);
            },
            hasError () {
                return (this.$store.getters['authenticationReset/success'] === false);
            },
            message () {
                return this.$store.getters['authenticationReset/message'];
            },
        },
        methods: {
            performResettingReset () {
                let payload = {
                    token: this.$data.token,
                    password: this.$data.password
                };
                this.$store.dispatch('authenticationReset/reset', payload).then(() => {
                    if (this.hasSuccess) {
                        this.$store.dispatch('flashMessage/confirm', this.message);
                    } else {
                        this.$store.dispatch('flashMessage/error', this.message);
                    }
                });
            },
        },
    }
</script>