<template>
    <div>
        <div v-if="isLoading" aria-live="polite" aria-atomic="true">
            <loading></loading>
        </div>

        <form class="vgr-form" @submit="performResettingSendEmail" @submit.prevent>
            <div>
                <label for="reset-password">
                    {{ $t('authentication.reset.form.email') }}
                    <span class="label-help">{{ $t('authentication.reset.form.email_help') }}</span>
                </label>
                <input type="email" id="reset-password" v-model="email" required="required">
            </div>

            <div>
                <input type="submit" :value="$t('authentication.reset.form.submit')" />
            </div>
        </form>
    </div>
</template>


<script>
    export default {
        data(){
            return {
                email : '',
            }
        },
        created () {

        },
        computed: {
            isLoading () {
                return this.$store.getters['authenticationReset/isLoading'];
            },
            hasSuccess () {
                return (this.$store.getters['authenticationReset/success'] === true);
            },
            hasError () {
                return (this.$store.getters['authenticationReset/success'] === false);
            },
            message () {
                return this.$store.getters['authenticationReset/message'];
            },
        },
        methods: {
            performResettingSendEmail () {
                let payload = {
                    email: this.$data.email
                };
                this.$store.dispatch('authenticationReset/sendEmail', payload).then(() => {
                    if (this.hasSuccess) {
                        this.$store.dispatch('flashMessage/confirm', this.message);
                    } else {
                        this.$store.dispatch('flashMessage/error', this.message);
                    }
                });
            },
        },
    }
</script>