<template>
    <table class="forum-table">
        <caption class="screen-reader-text">{{ $t('forum.forum.list.caption') }}</caption>
        <thead>
            <tr>
                <th scope="col">{{ $t('forum.tag.libForum') }}</th>
                <th scope="col">{{ $t('forum.tag.nbTopic') }}</th>
                <th scope="col">{{ $t('forum.tag.nbMessage') }}</th>
                <th scope="col">{{ $t('forum.tag.lastMessage') }}</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="forum in forums" :data-position="forum.position" :key="forum.id">
                <td>
                    <read v-if="isAuthenticated" v-bind:boolRead="forum.forumUser1.boolRead"></read>
                    <forum v-bind:forum="forum"></forum>
                </td>
                <td :data-header="$t('forum.tag.nbTopic')">{{ forum.nbTopic | number }}</td>
                <td :data-header="$t('forum.tag.nbMessage')">{{ forum.nbMessage | number }}</td>
                <td :data-header="$t('forum.tag.lastMessage')"><last-message v-bind:message=forum.lastMessage></last-message></td>
            </tr>
        </tbody>
    </table>
</template>

<script>
import LastMessage from '@/components/forum/message/Last.vue';
import Forum from '@/components/forum/forum/Forum.vue';
import Read from "@/components/forum/Read";
import Security from "@/mixins/Security.vue";

export default {
    mixins: [Security],
    name: 'ForumList',
    components: {
        'lastMessage' : LastMessage,
        'forum' : Forum,
        'read' : Read
    },
    props: {
        'forums': {
            type: Array,
            require: true,
        },
    },
};
</script>


