<template>
    <button v-on:click="submit">{{ $t('forum.tag.markAllAsRead') }}</button>
</template>

<script>
    import ForumApi from "@/services/api/forum/Forum";

    export default {
        name: 'ReadForm',
        props: {
            'idForum': {
                require: true,
            },
        },
        methods: {
            submit: function () {
                ForumApi.read(this.idForum);
            },
        }
    };
</script>