<template>
    <div v-if="getLevel > 0" class="forum-switch">
        <label for="forum-switch">{{ $t('aside.switch.forum') }}</label>
        <select id="forum-switch" v-on:change="onChange()" v-model="selected">
            <optgroup v-for="category in categories" :key="category.id" v-bind:value="category['@id']" :label="category.libCategory">
                <option v-for="forum in category.forums" :key="forum.id" v-bind:value="forum['@id']">
                    {{ forum.libForum }}
                </option>
            </optgroup>
        </select>
    </div>
</template>

<script>
    import BreadcrumbsManager from '@/mixins/BreadcrumbManager';
    import CategoryApi from "@/services/api/forum/Category";

    export default {
        mixins: [BreadcrumbsManager],
        name: 'ForumSwitch',
        props: ['forum'],
        components: {

        },
        data() {
            return {
                selected: '',
                categories : [],
            };
        },
        computed: {
            getForum() {
                return this.$store.getters['aside/object'];
            },
            getLevel() {
                return this.$store.getters['breadcrumbs/level'];
            },
            getSelectedForum() {
                let selected = this.selected;
                let object = {};
                this.categories.forEach(function (category) {
                    category.forums.forEach(function (forum) {
                        if (forum['@id'] === selected) {
                            object = forum;
                        }
                    });
                });
                return object;
            },
        },
        methods: {
            onChange () {
                let forum = this.getSelectedForum;
                this.setBreadcrumbItem2(
                    { text: forum.libForum, to: {name: 'ForumIndex',params: { idForum: forum.id, slugForum: forum.slug }}}
                );
                //this.$store.dispatch('navigation/setForum', forum);
                this.$router.push({ name: "ForumIndex", params: {idForum: forum.id, slugForum: forum.slug}});
            }
        },
        created() {
            CategoryApi.getHome()
                .then(categories => {
                    this.categories = categories;
                });
            this.selected = this.getForum['@id'];
        },
    };
</script>