<template>
    <table class="team-list">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Medals</th>
                <th scope="col">Points</th>
            </tr>
        </thead>
        <VAsync :await="teams">
            <template #pending>
                <tbody>
                    <tr>
                        <td>
                            <loading></loading>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </template>
            <template #resolved="teams">
                <tbody>
                    <tr v-for="item in teams['hydra:member']" :data-position="item.position" :key="item.id">
                        <td>
                            <team v-bind:team="item" v-bind:show-avatar="showAvatar"></team>
                        </td>
                        <td>
                            rank#{{ item.rankMedal }}
                            <br />
                            {{ item.chartRank0 }} # {{ item.chartRank1 }} # {{ item.chartRank2 }} # {{ item.chartRank3 }}
                        </td>
                        <td>
                            rank#{{ item.rankPointChart }}
                            <br />
                            {{ item.pointChart|number }} pts
                        </td>
                    </tr>
                </tbody>
            </template>
        </VAsync>
    </table>
</template>

<script>
    import Team from '@/components/vgr/team/Team.vue';

    export default {
        name: 'teamList',
        props: {
            'teams': {
                require: true,
            },
            'showAvatar': {
                default: true,
                type: Boolean,
            },
        },
        components: {
            'team' : Team,
        },
        data() {
            return {

            };
        },
    };
</script>


