<template>
    <div>
        <h2 class="h3">{{ title }}</h2>
        <ul class="badges-list">
            <li v-for="item in badges" :data-position="item.position" :key="item['@id']">
                <badge v-bind:badge="item.badge"></badge>
            </li>
        </ul>
    </div>
</template>

<script>
    import Badge from '@/components/badge/Badge.vue';

    export default {
        name: 'PlayerBadgeDefault',
        props: {
            'title': {
                require: true,
                type: String
            },
            'badges': {
                require: true,
                type: Array
            },
        },
        components: {
            'badge': Badge,
        },
        data() {
            return {

            };
        },
    };
</script>
