<template>
    <div>
        <h3 class="h3">{{ $t('badge.type.master') }}</h3>

        <draggable v-model="badges" class="badge-ordering">
            <transition-group>
                <div v-for="item in badges" :data-position="item.position" :key="item['@id']" @click="showBadge(item.badge)" class="badge-ordering__item">
                    <badge v-bind:badge="item.badge" v-bind:createdAt="item.createdAt"></badge>
                </div>
            </transition-group>
        </draggable>
            
        <button v-if="activeOrderBy" @click="order">{{ $t('badge.order.button') }}</button>

        <VDialog v-model="dialog" no-scroll bg-transition="fade">
            <VAsync :await="histo" class="badge-detail">
                <template #pending>
                    <loading></loading>
                </template>
                <template #resolved="histo">
                    <h1>
                        {{ $t('global.masterBadge') }}
                        <game v-bind:game="playerGame.game" v-bind:show-link="false"></game>
                    </h1>

                    <div class="badge-detail__content">
                        <div class="badge-detail__status">
                            <div class="badge-detail__infos">
                                <badge v-bind:badge="badge"></badge>
                                <div>
                                    <p>{{ $t('badge.gives') }} <player v-bind:player="player" /></p>
                                    <ul>
                                        <li><strong>{{ badge.value | number }}</strong> {{ $t('global.badgePoints') }}</li>
                                        <li><strong>{{ playerGame.pointGame | number }}</strong> {{ $t('global.gamePoints') }}</li>
                                        <li><strong>{{ playerGame.pointChart | number }}</strong> {{ $t('global.recordPoints') }}</li>
                                    </ul>
                                </div>
                            </div>

                            <h2 class="h3">{{ $t('badge.history.title') }}</h2>

                            <ul>
                                <li v-for="item in histo['hydra:member']" :data-position="item.position" :key="item.id" @click="closeDialog()">
                                    <span v-if="item.endedAt == null">
                                        {{ $t('badge.history.earnedBy') }} <player v-bind:player="item.player">></player>
                                        {{ $t('badge.history.since') }} <my-date v-bind:date="item.createdAt" v-bind:options="{ month: 'long', day: 'numeric', year: 'numeric', hour: 'numeric', minute:'numeric' }"></my-date>
                                    </span>
                                    <span v-else>
                                        {{ $t('badge.history.earnedBy') }} <player v-bind:player="item.player"></player>
                                        {{ $t('badge.history.between') }} <my-date v-bind:date="item.createdAt" v-bind:options="{ month: 'long', day: 'numeric', year: 'numeric', hour: 'numeric', minute:'numeric' }"></my-date>
                                        {{ $t('badge.history.and') }} <my-date v-bind:date="item.endedAt" v-bind:options="{ month: 'long', day: 'numeric', year: 'numeric', hour: 'numeric', minute:'numeric' }"></my-date>
                                    </span>
                                </li>
                            </ul>
                        </div>

                        <div class="badge-detail__game">
                            <game-picture v-bind:game="playerGame.game" />
                            <platformlist v-if="playerGame.game.id" v-bind:platforms="playerGame.game.platforms"></platformlist>
                        </div>
                    </div>
                </template>
            </VAsync>

            <button :aria-label="$t('dialog.close')" class="vts-dialog__close" @click="dialog = false">&times;</button>
        </VDialog>
    </div>
</template>

<script>
    import Badge from '@/components/badge/Badge.vue';
    import MyDate from "@/components/tools/Date";
    import Player from "@/components/vgr/player/Player";
    import Game from "@/components/vgr/game/Game";
    import GamePicture from "@/components/vgr/game/Picture";
    import PlayerBadgeApi from "@/services/api/vgr/PlayerBadge";
    import PlayerGameApi from "@/services/api/vgr/PlayerGame";
    import PlatformList from '@/components/vgr/platform/List.vue';
    import draggable from 'vuedraggable';
    import ApiService from "@/services/api.service";

    export default {
        name: 'PlayerBadgeMaster',
        props: {
            'idPlayer': {
                require: true,
            },
            'player': {
                require: true,
                type: Object,
            },
            'activeOrderBy': {
                default: false,
                type: Boolean,
            },
        },
        components: {
            'my-date': MyDate,
            'badge': Badge,
            'player': Player,
            'game': Game,
            'game-picture': GamePicture,
            'platformlist' : PlatformList,
            draggable
        },
        data() {
            return {
                dialog: false,
                badges: [],
                badge: {},
                playerGame: {
                    game: {
                        id: null,
                        slug: ''
                    },
                },
                histo: null,
            };
        },
        computed: {
            getNow: function() {
                function pad(s) { return (s < 10) ? '0' + s : s; }
                let d = new Date();
                return [d.getFullYear(), pad(d.getMonth()+1), pad(d.getDate())].join('-');
            },
        },
        created() {
            this.load();
        },
        methods: {
            load() {
                PlayerBadgeApi.getList({
                    query: {
                        pagination: false,
                        player: this.idPlayer,
                        'ended_at[after]' : this.getNow,
                        'badge.type': 'Master',
                        'order[mbOrder]': 'ASC'
                    }
                })
                    .then(badges => {
                        this.badges = badges['hydra:member'];
                    });
            },
            showBadge (badge) {
                this.dialog = true;
                this.badge = badge;
                this.histo = PlayerBadgeApi.getList({
                    query: {
                        groups: ['playerBadge.read', 'playerBadge.player', 'player.read.mini'],
                        pagination: false,
                        badge: badge.id,
                        'order[createdAt]' : 'DESC',
                    }
                })
                    .then((response) => response);
                PlayerGameApi.getList({
                    query: {
                        groups: ['playerGame.pointChart', 'playerGame.game', 'game.read.mini', 'game.platforms', 'platform.read'],
                        pagination: false,
                        player: this.idPlayer,
                        'game.badge': badge.id,
                    }
                })
                    .then(games => {
                        this.playerGame = games[0];
                    });
            },
            closeDialog(){
                this.dialog = false;
            },
            order() {
                let promises = [];
                let i = 1;
                this.badges.forEach(function(element) {
                    if (element.mbOrder !== i) {
                        element.mbOrder = i;
                        promises.push(PlayerBadgeApi.put(element));
                    }
                    i++;
                });
                ApiService.all(promises)
                    .then(() => {
                        this.load();
                        this.$store.dispatch('flashMessage/confirm', this.$i18n.t('badge.order.confirm'));
                    });
            },
        },
    };
</script>
