<template>
    <div>
        <h3 class="h3">{{ $t('badge.type.serie') }}</h3>

        <draggable v-model="badges" class="badge-ordering">
            <transition-group>
                <div v-for="item in badges" :data-position="item.position" :key="item['@id']" @click="showBadge(item.badge)" class="badge-ordering__item">
                    <badge v-bind:badge="item.badge" v-bind:createdAt="item.createdAt"></badge>
                </div>
            </transition-group>
        </draggable>
            
        <button v-if="activeOrderBy" @click="order">{{ $t('badge.order.button') }}</button>

        <VDialog v-model="dialog" no-scroll bg-transition="fade">
            <VAsync :await="histo" class="badge-detail">
                <template #pending>
                    <loading></loading>
                </template>
                <template #resolved="histo">
                    <h1>
                        {{ $t('global.serieBadge') }}
                    </h1>

                    <div class="badge-detail__content">
                        <div class="badge-detail__status">
                            <div class="badge-detail__infos">
                                <badge v-bind:badge="badge"></badge>
                                <div>
                                    <p><player v-bind:player="player" /></p>
                                </div>
                            </div>

                            <h2 class="h3">{{ $t('badge.history.title') }}</h2>

                            <ul>
                                <li v-for="item in histo['hydra:member']" :data-position="item.position" :key="item.id" @click="closeDialog()">
                                    <span v-if="item.endedAt == null">
                                        {{ $t('badge.history.earnedBy') }} <player v-bind:player="item.player">></player>
                                        {{ $t('badge.history.since') }} <my-date v-bind:date="item.createdAt" v-bind:options="{ month: 'long', day: 'numeric', year: 'numeric', hour: 'numeric', minute:'numeric' }"></my-date>
                                    </span>
                                    <span v-else>
                                        {{ $t('badge.history.earnedBy') }} <player v-bind:player="item.player"></player>
                                        {{ $t('badge.history.between') }} <my-date v-bind:date="item.createdAt" v-bind:options="{ month: 'long', day: 'numeric', year: 'numeric', hour: 'numeric', minute:'numeric' }"></my-date>
                                        {{ $t('badge.history.and') }} <my-date v-bind:date="item.endedAt" v-bind:options="{ month: 'long', day: 'numeric', year: 'numeric', hour: 'numeric', minute:'numeric' }"></my-date>
                                    </span>
                                </li>
                            </ul>
                        </div>

                        <div class="badge-detail__game">
                            <serie-picture v-bind:serie="badge.serie" />
                        </div>
                    </div>
                </template>
            </VAsync>

            <button :aria-label="$t('dialog.close')" class="vts-dialog__close" @click="dialog = false">&times;</button>
        </VDialog>
    </div>
</template>

<script>
    import Badge from '@/components/badge/Badge.vue';
    import MyDate from "@/components/tools/Date";
    import Player from "@/components/vgr/player/Player";
    import SeriePicture from "@/components/vgr/serie/Picture";
    import PlayerBadgeApi from "@/services/api/vgr/PlayerBadge";
    import draggable from 'vuedraggable';
    import ApiService from "@/services/api.service";

    export default {
        name: 'PlayerBadgeSerie',
        props: {
            'idPlayer': {
                require: true,
            },
            'player': {
                require: true,
                type: Object,
            },
            'activeOrderBy': {
                default: false,
                type: Boolean,
            },
        },
        components: {
            'my-date': MyDate,
            'badge': Badge,
            'player': Player,
            SeriePicture,
            draggable
        },
        data() {
            return {
                dialog: false,
                badges: [],
                badge: {},
                histo: null,
            };
        },
        computed: {
            getNow: function() {
                function pad(s) { return (s < 10) ? '0' + s : s; }
                let d = new Date();
                return [d.getFullYear(), pad(d.getMonth()+1), pad(d.getDate())].join('-');
            },
        },
        created() {
            this.load();
        },
        methods: {
            load() {
                PlayerBadgeApi.getList({
                    query: {
                        pagination: false,
                        player: this.idPlayer,
                        groups: ['playerBadge.read', 'playerBadge.badge', 'badge.read', 'badge.serie', 'serie.read'],
                        'ended_at[after]' : this.getNow,
                        'badge.type': 'Serie',
                        'order[mbOrder]': 'ASC'
                    }
                })
                    .then(badges => {
                        this.badges = badges['hydra:member'];
                    });
            },
            showBadge (badge) {
                this.dialog = true;
                this.badge = badge;
                this.histo = PlayerBadgeApi.getList({
                    query: {
                        groups: ['playerBadge.read', 'playerBadge.player', 'player.read.mini'],
                        pagination: false,
                        badge: badge.id,
                        'order[createdAt]' : 'DESC',
                    }
                })
                    .then((response) => response);
            },
            closeDialog(){
                this.dialog = false;
            },
            order() {
                let promises = [];
                let i = 1;
                this.badges.forEach(function(element) {
                    if (element.mbOrder !== i) {
                        element.mbOrder = i;
                        promises.push(PlayerBadgeApi.put(element));
                    }
                    i++;
                });
                ApiService.all(promises)
                    .then(() => {
                        this.load();
                        this.$store.dispatch('flashMessage/confirm', this.$i18n.t('badge.order.confirm'));
                    });
            },
        },
    };
</script>
