<template>
    <div>
        <vue-headful :title="title" :description="description" />
        <h2>{{ $t('score.last.title') }}</h2>

        <player-chart-list
            v-bind:nb-day="7"
            v-bind:items-per-page="50">
        </player-chart-list>
    </div>
</template>

<script>

import BreadcrumbsManager from '@/mixins/BreadcrumbManager';
import PlayerChartList from '@/components/vgr/playerChart/List';

export default {
    mixins: [BreadcrumbsManager],
    name: 'PayerChartLast',
    components: {
        'player-chart-list': PlayerChartList,
    },
    data() {
        return {

        };
    },
    computed: {
        title() {
            return this.$i18n.t('score.last.title') + ' - ' + process.env.VUE_APP_TITLE;
        },
        description() {
            return this.$i18n.t('score.last.description');
        },
    },
    created() {
        this.setBreadcrumbOnlyItem1(
            { text: this.$i18n.t('score.last.title')}
        );
    },
};
</script>
