<template>
    <div>
        <vue-headful :title="title" :description="description" />
        <h1>{{ $t('search.advanced') }}</h1>

        <form @submit="search" class="advanced-search" @submit.prevent>
            <game-select-multiple ref="games" />

            <player-select-multiple ref="players" />

            <div class="advanced-search__record">
                <label for="chart">{{ $t('global.chart') }}</label>
                <input type="text" id="chart" v-model="filter.libChart" minlength="3" />
            </div>

            <div class="advanced-search__status">
                <label for="status">{{ $t('search.filter.status') }}</label>
                  <div v-for="(status) in statuses['hydra:member']" :data-position="status.position" :key="status.id" v-bind:value="status['id']">
                    <input type="checkbox" v-model="filter.statuses" :value="status['id']" /> {{ status.name }}
                    <button type="button" class="button-as-link" :aria-labelledby="status.id">
                      <status v-bind:status=status></status>
                    </button>
                    <div role="tooltip" :id="status.id">{{ status.name }}</div>
                  </div>
            </div>

            <fieldset class="advanced-search__rank">
                <legend>{{ $t('search.filter.rank') }}</legend>
                <legend>{{ $t('search.filter.rank') }}</legend>

                <label for="rank-operator" class="screen-reader-text">{{ $t('search.filter.operator') }}</label>
                <select id="rank-operator" v-model="filter.rank.operator">
                    <option value="lt">{{ $t('search.filter.lt') }}</option>
                    <option value="gt">{{ $t('search.filter.gt') }}</option>
                    <option value="lte">{{ $t('search.filter.lte') }}</option>
                    <option value="gte">{{ $t('search.filter.gte') }}</option>
                    <!-- <option value="between">Between</option> -->
                </select>

                <label for="rank" class="screen-reader-text">{{ $t('search.filter.value') }}</label>
                <input id="rank" type="text" v-model="filter.rank.value" />
            </fieldset>

            <fieldset class="advanced-search__points">
                <legend>{{ $t('global.recordPoints') }}</legend>

                <label for="pointChart-operator" class="screen-reader-text">{{ $t('search.filter.operator') }}</label>
                <select id="pointChart-operator" v-model="filter.pointChart.operator">
                    <option value="lt">{{ $t('search.filter.lt') }}</option>
                    <option value="gt">{{ $t('search.filter.gt') }}</option>
                    <option value="lte">{{ $t('search.filter.lte') }}</option>
                    <option value="gte">{{ $t('search.filter.gte') }}</option>
                    <!-- <option value="between">Between</option> -->
                </select>

                <label for="pointChart" class="screen-reader-text">{{ $t('search.filter.value') }}</label>
                <input id="pointChart" type="text" v-model="filter.pointChart.value" />
            </fieldset>

            <div class="advanced-search__platinum">
                <label for="platinum">{{ $t('search.filter.platinum') }}</label>
                <input type="checkbox" id="platinum"  v-model="filter.platinum" />
            </div>

            <platform-select-multiple ref="platforms" />

            <div class="advanced-search__button">
                <button :disabled="!isSearchable()">{{ $t('search.submit') }}</button>
            </div>
        </form>

        <table class="advanced-search-result">
            <caption class="screen-reader-text">{{ $t('search.playerChart.caption') }}</caption>
            <thead>
                <tr>
                    <th scope="col" class="advanced-search-result__score">{{ $t('search.playerChart.score') }}</th>
                    <th scope="col" class="advanced-search-result__rank">
                        <button class="table-order" @click="orderBy('rank')">{{ $t('search.playerChart.rank') }}</button>
                    </th>
                    <th scope="col" class="advanced-search-result__points">
                        <button class="table-order" @click="orderBy('pointChart')">{{ $t('global.points') }}</button>
                    </th>
                    <th scope="col" class="advanced-search-result__date">
                        <button class="table-order" @click="orderBy('lastUpdate')">{{ $t('search.playerChart.lastUpdate') }}</button>
                    </th>
                    <th scope="col" class="advanced-search-result__status">{{ $t('search.playerChart.status') }}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="playerChart in playerCharts" :data-position="playerChart.position" :key="playerChart.id">
                    <td class="advanced-search-result__score" :data-header="$t('global.chart')">
                        <router-link :to="{
                            name: 'PlayerChartIndex',
                            params: {
                                slugGame: playerChart.chart.group.game.slug,
                                idGame: playerChart.chart.group.game.id,
                                slugGroup: playerChart.chart.group.slug,
                                idGroup: playerChart.chart.group.id,
                                slugChart: playerChart.chart.slug,
                                idChart: playerChart.chart.id,
                                idPc: playerChart.id }}">
                            <span v-for="lib in playerChart.libs" :data-position="lib.position" :key="lib.id">
                                {{ lib.formatValue }}
                            </span>
                        </router-link>
                        {{ $t('search.playerChart.onChart') }}
                        <chart v-bind:chart="playerChart.chart"></chart>
                    </td>
                    <td class="advanced-search-result__rank" :data-header="$t('search.playerChart.rank')">
                        <span v-if="playerChart.rank">{{ playerChart.rank }}</span>
                        <span v-else>{{ $t('search.playerChart.new') }}</span>
                    </td>
                    <td class="advanced-search-result__points" :data-header="$t('global.points')">
                        {{ playerChart.pointChart }}
                    </td>
                    <td class="advanced-search-result__date" :data-header="$t('global.date')">
                        <span>
                            {{ $t('search.playerChart.by') }}
                            <player v-bind:player="playerChart.player"></player>
                            {{ $t('search.playerChart.on') }}
                            </span>
                        <tools-date v-bind:date="playerChart.lastUpdate" v-bind:options="{ year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: 'numeric' }"></tools-date>
                    </td>
                    <td class="advanced-search-result__status">
                        <div class="tooltip tooltip--top-right">
                            <button v-if="playerChart.proof" type="button" class="button-as-link" @click="showProof(playerChart)" :aria-labelledby="playerChart.id">
                                <status v-bind:status=playerChart.status></status>
                            </button>
                            <button v-else  type="button" class="button-as-link" :aria-labelledby="playerChart.status.id">
                                <status v-bind:status=playerChart.status></status>
                            </button>
                            <div role="tooltip" :id="playerChart.status.id">{{ playerChart.status.name }}</div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <paginate ref="paginate" :resource_url="this.ressource_url" @update="updateResource" class="pagination--bottom"></paginate>
    </div>
</template>

<script>
import ToolsDate from '@/components/tools/Date.vue';
import Paginate from '@/components/Paginate.vue';
import Player from '@/components/vgr/player/Player';
import PlayerSelectMultiple from '@/components/vgr/player/form/SelectMultiple';
import GameSelectMultiple from '@/components/vgr/game/form/SelectMultiple';
import PlatformSelectMultiple from '@/components/vgr/platform/form/SelectMultiple';
import Chart from '@/components/vgr/chart/Chart';
import Status from '@/components/vgr/playerChart/Status.vue';
import PlayerChartStatusApi from "@/services/api/vgr/PlayerChartStatus";
import {utils} from "@/components/utils";
import BreadcrumbsManager from '@/mixins/BreadcrumbManager';

export default {
    mixins: [BreadcrumbsManager],
    name: 'PlayerChartSearch',
    components: {
        'tools-date': ToolsDate,
        'player': Player,
        'chart': Chart,
        'paginate' : Paginate,
        'status': Status,
        PlayerSelectMultiple,
        GameSelectMultiple,
        PlatformSelectMultiple,
    },
    props: {
        'activeOrderBy': {
            default: false,
            type: Boolean,
        },
        'activeFilter': {
            default: false,
            type: Boolean,
        },
        'itemsPerPage': {
            default: 20,
            type: Number,
        },
    },
    data() {
        return {
            playerCharts: [],
            ressource_url : '',
            order: {
                column: 'lastUpdate',
                direction: 'DESC',
            },
            statuses: [],
            filter: {
                players: [],
                games: [],
                platforms: [],
                libChart: '',
                statuses: [],
                platinum: false,
                rank: {
                    operator: 'lt',
                    value: null,
                },
                pointChart: {
                    operator: 'lt',
                    value: null,
                }
            },
            dialog: false,
            playerChart: null,
        };
    },
    computed: {
        title() {
            return this.$i18n.t('search.advanced') + ' - ' + process.env.VUE_APP_TITLE;
        },
        description() {
            return this.$i18n.t('search.advanced');
        },
        getLibChart() {
            if (this.$i18n.locale === 'fr') {
                return 'chart.libChartFr';
            }
            return 'chart.libChartEn';
        },
    },
    created() {
        PlayerChartStatusApi.getList().then(statuses => {
            this.statuses = statuses;
        });
        this.setBreadcrumbOnlyItem1(
            { text: this.$i18n.t('search.advanced')}
        );
    },
    mounted() {
        this.$refs.players.data = this.$store.getters['playerChartSearch/players'];
        this.$refs.games.data = this.$store.getters['playerChartSearch/games']
        this.$refs.platforms.data = this.$store.getters['playerChartSearch/platforms']
    },
    updated() {
        this.$store.dispatch('playerChartSearch/setPlayers', this.$refs.players.data);
        this.$store.dispatch('playerChartSearch/setGames', this.$refs.games.data);
        this.$store.dispatch('playerChartSearch/setPlatforms', this.$refs.platforms.data);
    },
    methods: {
        isSearchable() {
            if (!this.$refs.players) return false;
            return (this.$refs.players.data.length > 0)
                || (this.$refs.games.data.length > 0)
                || (this.$refs.platforms.data.length > 0)
                || (this.filter.libChart.length >= 3);
        },
        search(){
            let params = {
                query: {
                    groups: [
                        'playerChart.player', 'chart.read.mini', 'group.read.mini',
                        'game.read.mini', 'chart.group', 'player.read.mini', 'group.game', 'playerChartLib.format',
                        'playerChart.proof', 'proof.read', 'picture.read', 'video.read', 'playerChart.read',
                        'playerChart.chart', 'playerChart.status', 'playerChartStatus.read'
                    ],
                    'player': this.$refs.players.getIds(),
                    'chart.group.game': this.$refs.games.getIds(),
                    'chart.group.game.platforms': this.$refs.platforms.getIds(),
                    'status': this.filter.statuses,
                }
            };
            if (this.filter.libChart.length >= 3) {
                params.query[this.getLibChart] = this.filter.libChart;
            }
            // players
            let queryString = utils.getQueryString(params.query);
            if (this.filter.platinum) {
                queryString = queryString + '&rank=1&nbEqual=1&chart.nbPost[gt]=1';
            }
            if (this.filter.rank.value) {
                queryString = queryString + '&rank[' + this.filter.rank.operator + ']=' + this.filter.rank.value;
            }
            if (this.filter.pointChart.value) {
                queryString = queryString + '&pointChart[' + this.filter.pointChart.operator + ']=' + this.filter.pointChart.value;
            }
            queryString = queryString + '&itemsPerPage=' + this.itemsPerPage;
            queryString = queryString + '&order[' + this.order.column + ']=' + this.order.direction;
            this.ressource_url = 'api/player_charts' + queryString;
        },
        updateResource(data){
            this.playerCharts = data
        },
        orderBy(column) {
            if (column !== this.order.column) {
                this.order.column = column;
                if (column === 'translations.name') {
                    this.order.direction = 'ASC';
                } else {
                    this.order.direction = 'ASC';
                }
            } else if (this.order.direction === 'ASC') {
                this.order.direction = 'DESC';
            } else {
                this.order.direction = 'ASC';
            }
            this.search();
        },
        showProof (playerChart) {
            this.playerChart = playerChart;
            this.dialog = true;
        },
    },
};
</script>
