<template>
    <div class="home-articles">
        <h2>{{ $t('article.last.title') }}</h2>
        <VAsync :await="articles">
            <template #pending>
                <loading></loading>
            </template>
            <template #resolved="articles">
                <ul class="home-articles__list">
                    <li v-for="article in articles" :data-position="article.position" :key="article.id">
                        <date v-bind:date="article.publishedAt" v-bind:options="{ month: 'long', day: 'numeric' }"></date>
                        <router-link :to="{ name: 'ArticleIndex', params: { id: article.id, slugArticle: article.slug }}">{{ article.title }}</router-link>
                        ({{ article.nbComment | number }})
                    </li>
                </ul>
            </template>
        </VAsync>
        <router-link :to="{ name: 'ArticleList' }" class="home-link">{{ $t('article.last.link') }}</router-link>
    </div>
</template>

<script>
    import Date from '@/components/tools/Date.vue';
    import ArticleApi from "@/services/api/article/Article";
    import i18n from "@/i18n";
    import ApiService from "@/services/api.service";

    export default {
        name: 'ArticleLast',
        components: {
            'date': Date,
        },
        data() {
            return {
                articles :  null,
            };
        },
        computed: {
            getLanguage () {
                return i18n.locale;
            },
        },
        watch : {
            getLanguage() {
                ApiService.setHeader(); // Reload lang for call api
                this.loadData({useCache:false});
            },
        },
        created() {
            this.loadData({useCache:false});
        },
        methods: {
            loadData(cache) {
                this.articles = ArticleApi.getList({
                    query: {
                        status: 'PUBLISHED',
                        'order[publishedAt]' : 'DESC',
                        itemsPerPage: 6
                    },
                    cache : cache
                })
                    .then((response) => response)
            }
        },
    };
</script>


