<template>
    <div class="team-management">
        <h1 class="screen-reader-text">{{ $t('account.team.title') }}</h1>

        <team-form v-bind:isEditMode="true"></team-form>

        <avatar-form class="team-management__avatar"></avatar-form>

        <request-form></request-form>

        <request-list ref="requests"></request-list>

        <team-badge-master v-bind:team="getTeam" v-bind:id-team="getTeam.id" v-bind:active-order-by="true"/>
    </div>
</template>

<script>
    import TeamForm from '@/components/vgr/team/account/Form.vue';
    import RequestForm from '@/components/vgr/team/account/admin/Recruit.vue';
    import RequestList from '@/components/vgr/team/account/admin/Requests.vue';
    import AvatarForm from '@/components/vgr/team/avatar/Form';
    import TeamBadgeMaster from "@/components/vgr/team/badge/Master";


    export default {
        name: 'TeamAdmin',
        props: [],
        components: {
            TeamForm,
            RequestForm,
            RequestList,
            AvatarForm,
            TeamBadgeMaster
        },
        data() {
            return {
            };
        },
        computed: {
            getTeam() {
                return this.$store.getters['TeamAccount/team'];
            },
        },
    };
</script>
