<template>
    <div>
        <h2>{{ $t('team.request.recruit') }}</h2>

        <form id="app" @submit="submit" @submit.prevent class="vgr-form">
            <div>
                <label for="player">{{ $t('global.nickname') }}</label>
                <autocomplete
                    id="player"
                    ref="autocomplete"
                    :source="url"
                    results-property="hydra:member"
                    results-display="pseudo"
                    @selected="select"
                    @clear="clear">
                </autocomplete>
            </div>

            <div>
                <input type="submit" :value="$t('search.submit')" />
            </div>
        </form>
    </div>
</template>


<script>
    import TeamRequestApi from '@/services/api/vgr/TeamRequest';
    import Autocomplete from 'vuejs-auto-complete';

    export default {
        name: 'teamRequestForm',
        components: {
            Autocomplete,
        },
        computed: {
            getTeam() {
                return this.$store.getters['TeamAccount/team'];
            },
        },
        data() {
            return {
                request : {
                    'team' : null,
                    'player': null,
                },
                error: null,
            };
        },
        created() {

        },
        methods: {
            url (input) {
                return process.env.VUE_APP_ROOT_API + '/api/players/autocomplete?query=' + input
            },
            select(result) {
                this.request.player = result['selectedObject']['@id'];
            },
            clear() {
                this.message.player = null;
            },
            submit: function () {
                this.request.team = this.getTeam['@id'];
                this.error = null;

                if (this.request.player != null) {
                    TeamRequestApi.post(this.request)
                        .then(response => {
                            if (response.status === 201) {
                                this.$store.dispatch('flashMessage/confirm', this.$i18n.t('team.request.success'));
                            }
                            this.$parent.$refs.requests.load();
                        })
                        .catch(error => {
                            if (error.response.status === 400) {
                                this.error = error.response.data['hydra:description'];
                            }
                            this.$store.dispatch('flashMessage/error', this.error);
                        });
                }
            },
        },
    };
</script>
