<template>
    <table v-if="requests.length > 0">
        <caption class="h3">{{ $t('team.requests') }}</caption>
        <thead>
            <tr>
                <th scope="col">{{ $t('global.player') }}</th>
                <th scope="col">{{ $t('global.createdAt') }}</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="3">
                    <button @click="update()">{{ $t('tag.update') }}</button>
                </td>
            </tr>
        </tfoot>
        <tbody>
            <tr v-for="request in requests" :data-position="request.position" :key="request.id">
                <td>{{ request.player.pseudo }}</td>
                <td>{{ request.createdAt }}</td>
                <td>
                    <select v-model="request.status">
                        <option value="ACTIVE">{{ $t('team.request.status.ACTIVE') }}</option>
                        <option value="CANCELED">{{ $t('team.request.status.CANCELED') }}</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <div v-else>
        <p>{{ $t('team.request.none') }}</p>
    </div>
</template>


<script>
    import TeamRequestApi from '@/services/api/vgr/TeamRequest';
    import ApiService from "@/services/api.service";

    export default {
        name: 'TeamAdminRequests',
        components: {

        },
        computed: {
            getTeam() {
                return this.$store.getters['TeamAccount/team'];
            },
        },
        data() {
            return {
                requests: []
            };
        },
        created() {
            this.load();
        },
        methods: {
            load: function () {
                TeamRequestApi.getList({
                    query: {
                        pagination: false,
                        team: this.getTeam.id,
                        status: 'ACTIVE'
                    }
                })
                .then(requests => {
                    this.requests = requests;
                });
            },
            update: function () {
                let promises = [];
                this.requests.forEach(function (request) {
                    if (request.status === 'CANCELED') {
                        promises.push(TeamRequestApi.put(request));
                    }
                });
                ApiService.all(promises)
                    .then(() => {
                        this.load();
                    });
            }
        },
    };
</script>
