@charset "UTF-8";
/**
 * @site            Video Games Records
 * @author          Luc Poupard
 * @note            Custom fonts
 */

/* ----------------------------- */
/* Summary */
/* ----------------------------- */
/*
    == System font
        -- Light (300)
        -- Light (300) Italic
        -- Normal (400)
        -- Normal (400) Italic
        -- Medium (500)
        -- Medium (500) Italic
        -- Bold (700)
        -- Bold (700) Italic
    == League Gothic
        -- Regular
        -- Regular Italic
        -- Condensed
        -- Condensed Italic
*/


/* == @section System font ==================== */
/**
 * @link https://css-tricks.com/snippets/css/system-font-stack/
 * system-font.css v2.0.2 | CC0-1.0 License | github.com/jonathantneal/system-font-css
 */

/* -- @subsection Light (300) ---------- */
@font-face {
	font-family: system-ui;
	font-style: normal;
	font-weight: 300;
    src:    local(".SFNS-Light"),
            local(".SFNSText-Light"),
            local(".HelveticaNeueDeskInterface-Light"),
            local(".LucidaGrandeUI"),
            local("Segoe UI Light"),
            local("Ubuntu Light"),
            local("Roboto-Light"),
            local("DroidSans"),
            local("Tahoma");
}

/* -- @subsection Light (300) Italic ---------- */
@font-face {
	font-family: system-ui;
	font-style: italic;
	font-weight: 300;
    src:    local(".SFNS-LightItalic"),
            local(".SFNSText-LightItalic"),
            local(".HelveticaNeueDeskInterface-Italic"),
            local(".LucidaGrandeUI"),
            local("Segoe UI Light Italic"),
            local("Ubuntu Light Italic"),
            local("Roboto-LightItalic"),
            local("DroidSans"),
            local("Tahoma");
}

/* -- @subsection Normal (400) ---------- */
@font-face {
	font-family: system-ui;
	font-style: normal;
	font-weight: 400;
    src:    local(".SFNS-Regular"),
            local(".SFNSText-Regular"),
            local(".HelveticaNeueDeskInterface-Regular"),
            local(".LucidaGrandeUI"),
            local("Segoe UI"),
            local("Ubuntu"),
            local("Roboto-Regular"),
            local("DroidSans"),
            local("Tahoma");
}

/* -- @subsection Normal (400) Italic ---------- */
@font-face {
	font-family: system-ui;
	font-style: italic;
	font-weight: 400;
    src:    local(".SFNS-Italic"),
            local(".SFNSText-Italic"),
            local(".HelveticaNeueDeskInterface-Italic"),
            local(".LucidaGrandeUI"),
            local("Segoe UI Italic"),
            local("Ubuntu Italic"),
            local("Roboto-Italic"),
            local("DroidSans"),
            local("Tahoma");
}

/* -- @subsection Medium (500) ---------- */
@font-face {
	font-family: system-ui;
	font-style: normal;
	font-weight: 500;
    src:    local(".SFNS-Medium"),
            local(".SFNSText-Medium"),
            local(".HelveticaNeueDeskInterface-MediumP4"),
            local(".LucidaGrandeUI"),
            local("Segoe UI Semibold"),
            local("Ubuntu Medium"),
            local("Roboto-Medium"),
            local("DroidSans-Bold"),
            local("Tahoma Bold");
}

/* -- @subsection Medium (500) Italic ---------- */
@font-face {
	font-family: system-ui;
	font-style: italic;
	font-weight: 500;
    src:    local(".SFNS-MediumItalic"),
            local(".SFNSText-MediumItalic"),
            local(".HelveticaNeueDeskInterface-MediumItalicP4"),
            local(".LucidaGrandeUI"),
            local("Segoe UI Semibold Italic"),
            local("Ubuntu Medium Italic"),
            local("Roboto-MediumItalic"),
            local("DroidSans-Bold"),
            local("Tahoma Bold");
}

/* -- @subsection Bold (700) ---------- */
@font-face {
	font-family: system-ui;
	font-style: normal;
	font-weight: 700;
    src:    local(".SFNS-Bold"),
            local(".SFNSText-Bold"),
            local(".HelveticaNeueDeskInterface-Bold"),
            local(".LucidaGrandeUI"),
            local("Segoe UI Bold"),
            local("Ubuntu Bold"),
            local("Roboto-Bold"),
            local("DroidSans-Bold"),
            local("Tahoma Bold");
}

/* -- @subsection Bold (700) Italic ---------- */
@font-face {
	font-family: system-ui;
	font-style: italic;
	font-weight: 700;
    src:    local(".SFNS-BoldItalic"),
            local(".SFNSText-BoldItalic"),
            local(".HelveticaNeueDeskInterface-BoldItalic"),
            local(".LucidaGrandeUI"),
            local("Segoe UI Bold Italic"),
            local("Ubuntu Bold Italic"),
            local("Roboto-BoldItalic"),
            local("DroidSans-Bold"),
            local("Tahoma Bold");
}


/* == @section League Gothic ==================== */
/**
 * @link https://www.theleagueofmoveabletype.com/league-gothic
 * Converted with Font Squirrel with following parameters in Expert mode:
 *  - Font Formats:         WOFF, WOFF2
 *  - Truetype Hinting:     Keep Existing
 *  - Rendering:            Fix GASP Table
 *  - Vertical Metrics:     No Adjustment
 *  - Fix Missing Glyphs:   Spaces
 *  - X-height Matching:    None
 *  - Subsetting:           Basic Subsetting
 */

/* -- @subsection Regular ---------- */
@font-face {
    font-family: "League Gothic";
    font-weight: normal;
    font-style: normal;
    src:    url("../fonts/leaguegothic-regular-webfont.woff2") format("woff2"),
            url("../fonts/leaguegothic-regular-webfont.woff") format("woff");
}

/* -- @subsection Regular Italic ---------- */
@font-face {
    font-family: "League Gothic";
    font-weight: normal;
    font-style: italic;
    src:    url("../fonts/leaguegothic-italic-webfont.woff2") format("woff2"),
            url("../fonts/leaguegothic-italic-webfont.woff") format("woff");
}

/* -- @subsection Condensed ---------- */
// @font-face {
//     font-family: "League Gothic Condensed";
//     font-weight: normal;
//     font-style: normal;
//     src:    url("../fonts/leaguegothic-condensedregular-webfont.woff2") format("woff2"),
//             url("../fonts/leaguegothic-condensedregular-webfont.woff") format("woff");
// }

/* -- @subsection Condensed Italic ---------- */
// @font-face {
//     font-family: "League Gothic Condensed";
//     font-weight: normal;
//     font-style: italic;
//     src:    url("../fonts/leaguegothic-condenseditalic-webfont.woff2") format("woff2"),
//             url("../fonts/leaguegothic-condenseditalic-webfont.woff") format("woff");
// }