@charset "UTF-8";
/**
 * @site            Video Games Records
 * @author          Luc Poupard
 * @note            Forms
 */

/* ----------------------------- */
/* Summary */
/* ----------------------------- */
/*
    == Global
        -- VGR specifics
    == Labels
    == Fields
        -- Global
    == Buttons
    == Messages
*/

/* == @section Global ==================== */
input,
button,
select,
textarea {
    padding: $form-field-padding;
}


/* -- @subsection VGR specifics ---------- */
.vgr-form {
    > div {
        margin-bottom: 1em;
    }
}


/* == @section Labels ==================== */
label,
.label {
    display: block;
    font-weight: 500;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
    display: inline-block;
}

.label-help {
    display: block;
    margin-bottom: .25em;
    font-weight: 400;
}


/* == @section Fields ==================== */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

legend {
    font-weight: bold;
}

/* -- @subsection Global ---------- */
input[type="text"],
input[type="number"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="color"],
input[type="file"],
textarea,
select {
    border: 1px solid $form-border;
    background-color: $white;
    @include box-form-shadow( $form-border );

    &:focus {
        border: 1px solid $primary-color;
        @include box-form-shadow( $primary-color );
    }
}

.autocomplete {
    border: 1px solid $form-border;
    background-color: $white;
    @include box-form-shadow( $form-border );

    &:focus-within {
        border: 1px solid $primary-color;
        @include box-form-shadow( $primary-color );
    }

    input {
        border: none !important;
        background-color: transparent !important;
        box-shadow: unset !important;
    }

    &--clear {
        line-height: 1;
    }
    
    /* When used with tags (advanced search) */
    &:not(:last-child) {
        margin-bottom: .25em;
    }
}


/* == @section Buttons ==================== */
input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.link-as-button {
    display: inline-block;
    border: 1px solid $primary-color;
    background-color: $white;
    @include box-form-shadow( $primary-color );
    color: $primary-color;
    font-weight: 500;
    line-height: 1.25;

    &:focus,
    &:hover {
        border: 1px solid $base-background-2;
        @include box-form-shadow( $base-background-2 );
    }

    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus {
        border: 1px solid $form-border;
        @include box-form-shadow( $form-border );
        background-color: rgba( $form-border, .15 );
        color: $form-border;
    }
}

.button-as-link {
    display: inline;
    padding: 0;
    border: none;
    background: none;
    box-shadow: unset;
    color: currentColor;
    font-weight: normal;
    text-decoration: underline;
    line-height: inherit;
    cursor: pointer;

    &:hover,
    &:focus,
    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus {
        border: none;
        background: none;
        box-shadow: unset;
        color: currentColor;
        text-decoration: none;
    }

    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus {
        color: currentColor;
        cursor: default;
    }
}

.link-as-button {
    padding: $form-field-padding;
}

.link-as-button,
.link-as-button:active,
.link-as-button:focus {
    text-decoration: none;
}


/* == @section Messages ==================== */
.alert {
    &--error {
        color: $error;
    }
}