@charset "UTF-8";
/**
 * @site            Video Games Records
 * @author          Luc Poupard
 * @note            Utility classes
 */


/* ----------------------------- */
/* Summary */
/* ----------------------------- */
/*
    == Alignment
    == Width
    == Visibility
    == Listy
*/


/* == @section Alignment ==================== */
.center { text-align: center; }
.left   { text-align: left; }
.right  { text-align: right; }

.fleft  { float: left; }
.fright { float: right; }
.fnone  { float: none; }

.clear  { clear: both; }

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

@mixin clearfix {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/* == @section Width ==================== */
.w10    { width: 10%; }
.w20    { width: 20%; }
.w30    { width: 30%; }
.w40    { width: 40%; }
.w50    { width: 50%; }
.w60    { width: 60%; }
.w70    { width: 70%; }
.w80    { width: 80%; }
.w90    { width: 90%; }
.w100   { width: 100%; }

.w20px  { width: 20px; }
.w30px  { width: 30px; }
.w40px  { width: 40px; }
.w50px  { width: 50px; }
.w60px  { width: 60px; }
.w70px  { width: 70px; }
.w80px  { width: 80px; }
.w90px  { width: 90px; }
.w100px { width: 100px; }
.w120px { width: 120px; }
.w150px { width: 150px; }
.w180px { width: 180px; }
.w200px { width: 200px; }


/* == @section Visibility  ==================== */
.display-in     { display: inline; }
.display-inbl   { display: inline-block; }
.display-bl     { display: block; }
.display-no     { display: none; }

/* To hide visually an element while it keeps being accessible */
/* https://www.ffoodd.fr/cache-cache-css/ */
%screen-reader-text,
.screen-reader-text {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;

    &--focusable:focus {
        clip: auto !important;
        clip-path: none !important;
        height: auto !important;
        margin: auto !important;
        overflow: visible !important;
        width: auto !important;
        white-space: normal !important;
    }
}


/* == @section Lists  ==================== */
%inline-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

%inline-list-item {
    display: inline-block;
}