@charset "UTF-8";
/**
 * @site            Video Games Records
 * @author          Luc Poupard
 * @note            Views/Error pages
 */

.error-page {
    img {
        display: block;
        margin: 5em auto;
        width: 80%;
    }
}