@charset "UTF-8";
/**
 * @site            Video Games Records
 * @author          Luc Poupard
 * @note            Views/Home
 */

.home-intro {
    margin-bottom: 4rem;
    padding: 1.5rem 2rem;
    border: 1px solid $base-background;
    background-color: rgba($base-background, .2);
    @include box-form-shadow( $base-background );

    p:last-child {
        margin-bottom: 0;
    }
}

.home-message {
    margin-bottom: 4rem;
    padding: 1.5rem 2rem;
    border: 1px solid $secondary-color;
    background-color: rgba($secondary-color, .2);
    @include box-form-shadow( $secondary-color );

    &:empty {
        display: none;
    }
}

.home-message-connected {
    margin-bottom: 4rem;
    padding: 1.5rem 2rem;
    border: 1px solid $secondary-color;
    background-color: rgba(Green, .2);
    @include box-form-shadow( $secondary-color );

    &:empty {
        display: none;
    }
}

@mixin home-message-info-medium {
    .home-message,.home-message-connected  {
        padding-right: 200px;
        background: {
            image: url("../img/background/message-info.png");
            repeat: no-repeat;
            position: bottom right;
        }
    }
}

.home-alert {
    margin-bottom: 4rem;
    padding: 1.5rem 2rem;
    border: 1px solid $secondary-color;
    background-color: rgba(Red, 0.2);
    @include box-form-shadow( $secondary-color );

    &:empty {
        display: none;
    }
}

@mixin home-message-alert-medium {
    .home-alert {
        padding-right: 200px;
        background: {
            image: url("../img/background/message-alert.png");
            repeat: no-repeat;
            position: bottom right;
        }
    }
}

.home-link {
    display: inline-block;
    font-weight: bold;

    &::after {
        content: " →";
    }
}

.home-games,
.home-articles,
.home-player-charts,
.home-rankings {
    margin-bottom: 3em;
}

.home-games {
    &__row,
    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        margin: 0 2em 2em 0;

        a {
            display: block;
            margin-bottom: .1em;
        }

        img {
            @include box-shadow( $black );
        }
    }

    &__day {
        img {
            @include box-shadow( $base-background-2 );
        }

        .platform-list__item {
            @include box-form-shadow( $base-background-2 );
        }
    }

    &__platform {
        display: inline-block;
    }

    .platform-list {
        margin: 0;

        li {
            padding: 0;
        }
    }

    .platform-list__item {
        max-width: em(201, 14);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__links {
        margin: 0;
        padding-left: 0;
        list-style: none;
    }
}

@mixin home-games-large {
    .home-games {
        &__list {
            flex-wrap: nowrap;
        }

        &__item {
            &:not(:last-child) {
                margin-right: 2em;
            }
        }
    }
}

.home-articles__list {
    margin-bottom: 2em;
    padding-left: 0;
    list-style: none;

    li {
        padding: .25em .5em;

        &:nth-child(2n+1) {
            background-color: $secondary-background;
        }
    }
}

@mixin home-small {
    .home-articles {
        time {
            display: block;
        }
    }
}

@mixin home-medium {
    .home-articles {
        time {
            display: inline-block;
            width: em(150);
        }
    }
}

.home-player-charts {
    .player-chart {
        margin-bottom: 2em;
    }
}

.home-rankings {
    caption {
        padding: 0;
        color: $primary-color;
        font-family: $font-stack-headings;
        font-weight: normal;
        font-style: normal;
        font-size: em(28);
        text-align: left;
    }
}

.home-leaderboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@mixin home-leaderboard-large {
    .home-leaderboard {
        table {
            width: calc(50% - 2em);
        }
    }
}