<template>
    <div>
        <h2>{{ $t('badge.type.master') }}</h2>

        <draggable v-model="badges" class="badge-ordering" :disabled="!activeOrderBy">
            <transition-group>
                <span v-for="item in badges" :data-position="item.position" :key="item['@id']" @click="showBadge(item.badge)" class="badge-ordering__item">
                    <badge v-bind:badge="item.badge" v-bind:createdAt="item.createdAt"></badge>
                </span>
            </transition-group>
        </draggable>

        <button v-if="activeOrderBy" @click="order">{{ $t('badge.order.button') }}</button>

        <VDialog v-model="dialog" no-scroll bg-transition="fade">
            <VAsync :await="histo">
                <template #pending>
                    <loading></loading>
                </template>
                <template #resolved="histo">
                    <h1>
                        {{ $t('global.masterBadge') }}
                        <game v-bind:game="teamGame.game" v-bind:show-link="false"></game>
                    </h1>

                    <div class="badge-detail__content">
                        <div class="badge-detail__status">
                            <div class="badge-detail__infos">
                                <badge v-bind:badge="badge"></badge>
                                <div>
                                    <p>{{ $t('badge.gives') }} <team v-bind:team="team" /></p>
                                    <ul>
                                        <li><strong>{{ badge.value | number }}</strong> {{ $t('global.badgePoints') }}</li>
                                        <li><strong>{{ teamGame.pointGame | number }}</strong> {{ $t('global.gamePoints') }}</li>
                                        <li><strong>{{ teamGame.pointChart | number }}</strong> {{ $t('global.recordPoints') }}</li>
                                    </ul>
                                </div>
                            </div>

                            <h2 class="h3">{{ $t('badge.history.title') }}</h2>

                            <ul>
                                <li v-for="item in histo['hydra:member']" :data-position="item.position" :key="item.id">
                                    <span v-if="item.endedAt == null">
                                        {{ $t('badge.history.earnedBy') }} <team v-bind:team="item.team"></team>
                                        {{ $t('badge.history.since') }} <my-date v-bind:date="item.createdAt" v-bind:options="{ month: 'numeric', day: 'numeric', year: 'numeric', hour: 'numeric', minute:'numeric' }"></my-date>
                                    </span>
                                    <span v-else>
                                        {{ $t('badge.history.earnedBy') }} <team v-bind:team="item.team"></team>
                                        {{ $t('badge.history.between') }} <my-date v-bind:date="item.createdAt" v-bind:options="{ month: 'numeric', day: 'numeric', year: 'numeric', hour: 'numeric', minute:'numeric' }"></my-date>
                                        {{ $t('badge.history.and') }} <my-date v-bind:date="item.endedAt" v-bind:options="{ month: 'numeric', day: 'numeric', year: 'numeric', hour: 'numeric', minute:'numeric' }"></my-date>
                                    </span>
                                </li>
                            </ul>
                        </div>

                        <div class="badge-detail__game">
                            <game-picture v-bind:game="teamGame.game" />
                            <platformlist v-if="teamGame.game.id" v-bind:platforms="teamGame.game.platforms"></platformlist>
                        </div>
                    </div>
                </template>
            </VAsync>

            <button :aria-label="$t('dialog.close')" class="vts-dialog__close" @click="dialog = false">&times;</button>
        </VDialog>
    </div>
</template>

<script>
import Badge from '@/components/badge/Badge.vue';
import MyDate from "@/components/tools/Date";
import Team from "@/components/vgr/team/Team";
import Game from "@/components/vgr/game/Game";
import GamePicture from "@/components/vgr/game/Picture";
import TeamGameApi from "@/services/api/vgr/TeamGame";
import PlatformList from '@/components/vgr/platform/List.vue';
import draggable from 'vuedraggable';
import ApiService from "@/services/api.service";
import TeamBadgeApi from "@/services/api/vgr/TeamBadge";

export default {
    name: 'TeamBadgeMaster',
    props: {
        'idTeam': {
            require: true,
        },
        'team': {
            require: true,
            type: Object,
        },
        'activeOrderBy': {
            default: false,
            type: Boolean,
        },
    },
    components: {
        'my-date': MyDate,
        'badge': Badge,
        'team': Team,
        'game': Game,
        'game-picture': GamePicture,
        'platformlist' : PlatformList,
        draggable
    },
    data() {
        return {
            dialog: false,
            badge: {},
            badges: [],
            teamGame: {
                game: {
                    id: null,
                    slug: ''
                },
            },
            histo: null,
        };
    },
    computed: {
        getNow: function() {
            function pad(s) { return (s < 10) ? '0' + s : s; }
            let d = new Date();
            return [d.getFullYear(), pad(d.getMonth()+1), pad(d.getDate())].join('-');
        },
    },
    created() {
        this.load();
    },
    methods: {
        load() {
            TeamBadgeApi.getList({
                query: {
                    pagination: false,
                    team: this.idTeam,
                    'ended_at[after]' : this.getNow,
                    'badge.type': 'Master',
                    'order[mbOrder]': 'ASC'
                }
            })
                .then(badges => {
                    this.badges = badges['hydra:member'];
                });
        },
        showBadge (badge) {
            this.dialog = true;
            this.badge = badge;
            this.histo = TeamBadgeApi.getList({
                query: {
                    groups: ['teamBadge.read', 'teamBadge.team', 'team.read.mini'],
                    pagination: false,
                    badge: badge.id,
                    'order[createdAt]' : 'DESC',
                }
            })
                .then((response) => response);
            TeamGameApi.getList({
                query: {
                    groups: ['teamGame.pointChart', 'teamGame.game', 'game.read.mini', 'game.platforms', 'platform.read'],
                    pagination: false,
                    team: this.idTeam,
                    'game.badge': badge.id,
                }
            })
                .then(games => {
                    this.teamGame = games[0];
                });
        },
        closeDialog(){
            this.dialog = false;
        },
        order() {
            let promises = [];
            let i = 1;
            this.badges.forEach(function(element) {
                if (element.mbOrder !== i) {
                    element.mbOrder = i;
                    promises.push(TeamBadgeApi.put(element));
                }
                i++;
            });
            ApiService.all(promises)
                .then(() => {
                    this.load();
                    this.$store.dispatch('flashMessage/confirm', this.$i18n.t('badge.order.confirm'));
                });
        },
    },
};
</script>