<template>
    <div>
        <form id="app" class="vgr-form" @submit="submit" @submit.prevent>
            <div>
                <label for="new-topic">{{ $t('forum.tag.libTopic') }}</label>
                <input type="text" id="new-topic" v-model="topic.libTopic" minlength="5" maxlength="255" required />
            </div>

            <ckeditor :editor="editor" v-model="topic.messages[0].message" :config="editorConfig"></ckeditor>

            <div>
                <input type="submit" :value="$t('tag.submit')" />
            </div>
        </form>

        <div v-if="hasError" class="row col">
            <div class="alert alert-danger">
                {{ error }}
            </div>
        </div>

        <VDialog v-model="dialog" no-scroll bg-transition="fade">
            {{ $t('forum.alert.messageIsRequired') }}
            <button :aria-label="$t('dialog.close')" class="vts-dialog__close" @click="dialog = false">&times;</button>
        </VDialog>
    </div>
</template>

<script>
import TopicApi from "@/services/api/forum/Topic";
import NormandieEditor from 'ckeditor5-build-normandie';
import 'ckeditor5-build-normandie/build/translations/fr';

export default {
    name: 'TopicCreate',
    props: {
        'forum': {
            type: Object,
            require: true,
        },
        'route': {
            type: String,
            require: false,
            default: '',
        }
    },
    computed: {
        getRouteTopicIndex() {
            return this.route + 'TopicIndex';
        },
    },
    data() {
        return {
            dialog: false,
            topic: {
                'libTopic' : '',
                'forum' : null,
                'type': '/api/forum_topic_types/3',
                'user' : null,
                'messages': [
                    {
                        "message": ''
                    }
                ],
            },
            hasError: false,
            error: null,
            editor: NormandieEditor,
            editorData: '',
            editorConfig: {
                toolbar: {
                    items: [
                        'heading',
                        'bold',
                        'italic',
                        'strikethrough',
                        '|',
                        'bulletedList',
                        'numberedList',
                        'blockQuote',
                        '|',
                        'link',
                        'insertImage',
                        'specialCharacters',
                        'mediaEmbed',
                        'insertTable',
                        '|',
                        'removeFormat',
                        'undo',
                        'redo',
                    ]
                },
                image: {
                    toolbar: [
                        'imageTextAlternative',
                        'linkImage'
                    ]
                },
                table: {
                    contentToolbar: [
                        'tableColumn',
                        'tableRow',
                        'mergeTableCells',
                        'tableCellProperties',
                        'tableProperties'
                    ]
                },
                language: this.$i18n.locale,
            }
        };
    },
    methods: {
        submit: function () {
            if (this.topic.messages[0].message === '') {
                this.dialog = true;
            } else {
                this.topic.forum = this.forum['@id'];
                this.error = null;
                TopicApi.post(this.topic)
                    .then(response => {
                        if (response.status === 201) {
                            this.$router.push({
                                name: this.getRouteTopicIndex,
                                params: {idTopic: response.data.id, slugTopic: response.data.slug}
                            });
                        }
                    })
                    .catch(error => {
                        this.hasError = true;
                        if (error.response.status === 400) {
                            this.error = error.response.data['hydra:description'];
                        }
                    });
            }
        },
    },
};
</script>

