<template>
    <div>
        <h2>{{ $t('forum.topic.postReply') }}</h2>

        <form id="app" class="vgr-form" @submit="submit" @submit.prevent>
            <div>
                <label>{{ $t('forum.tag.message') }}</label>
            </div>

            <ckeditor :editor="editor" v-model="message.message" :config="editorConfig" required></ckeditor>

            <div>
                <input type="submit" :value="$t('tag.submit')" />
            </div>
        </form>

        <VDialog v-model="dialog" no-scroll bg-transition="fade">
            {{ $t('forum.alert.messageIsRequired') }}
            <button :aria-label="$t('dialog.close')" class="vts-dialog__close" @click="dialog = false">&times;</button>
        </VDialog>

        <h2>{{ $t('forum.topic.review') }}</h2>

        <message v-for="message in messages" :data-position="message.position" :key="message.id" v-bind:message=message></message>
    </div>
</template>

<script>
import Message from '@/components/forum/message/Message.vue';
import MessageApi from '@/services/api/forum/Message';
import NormandieEditor from 'ckeditor5-build-normandie';
import 'ckeditor5-build-normandie/build/translations/fr';

export default {
    name: 'TopicReply',
    components: {
        'message' : Message,
    },
    props: {
        'topic': {
            type: Object,
            require: true,
        },
        'route': {
            type: String,
            require: false,
            default: '',
        }
    },
    data() {
        return {
            dialog: false,
            messages: [],
            message: {
                "topic" : null,
                "message": "",
            },
            hasError: false,
            error: null,
            editor: NormandieEditor,
            editorData: '',
            editorConfig: {
                toolbar: {
                    items: [
                        'heading',
                        'bold',
                        'italic',
                        'strikethrough',
                        '|',
                        'bulletedList',
                        'numberedList',
                        'blockQuote',
                        '|',
                        'link',
                        'insertImage',
                        'specialCharacters',
                        'mediaEmbed',
                        'insertTable',
                        '|',
                        'removeFormat',
                        'undo',
                        'redo',
                    ]
                },
                image: {
                    toolbar: [
                        'imageTextAlternative',
                        'linkImage'
                    ]
                },
                table: {
                    contentToolbar: [
                        'tableColumn',
                        'tableRow',
                        'mergeTableCells',
                        'tableCellProperties',
                        'tableProperties'
                    ]
                },
                language: this.$i18n.locale,
            }
        };
    },
    computed: {
        getRouteTopicIndex() {
            return this.route + 'TopicIndex';
        },
    },
    created() {
        MessageApi.getList({
            query: {
                'topic': this.topic.id,
                'order[id]' : 'DESC'
            }
        })
            .then(response=> {
                this.messages = response['hydra:member'];
            });
    },
    methods: {
        submit: function () {
            if (this.message.message === '') {
                this.dialog = true;
            } else {
                this.message.topic = this.topic['@id'];
                this.error = null;
                MessageApi.post(this.message)
                    .then(response => {
                        if (response.status === 201) {
                            this.$router.push({
                                name: this.getRouteTopicIndex,
                                params: {idTopic: this.topic.id, slugTopic: this.topic.slug},
                                query: {page: response.data.page},
                                hash: '#' + response.data.id
                            });
                        }
                    })
                    .catch(error => {
                        this.hasError = true;
                        if (error.response.status === 400) {
                            this.error = error.response.data['hydra:description'];
                        }
                    });
            }
        },
    },
};
</script>

