<template>
    <span v-if="this.getNbPage > 1 && topic.forum.id">
        [<router-link :to="{ name: this.route, params: { idForum: topic.forum.id, slugForum: topic.forum.slug, idTopic: topic.id, slugTopic: topic.slug }, query: {page :getNbPage}}">{{ getNbPage | number }}</router-link>]
    </span>
    <span v-else-if="this.getNbPage > 1 && topic.id">
        [<router-link :to="{ name: this.route, params: { idTopic: topic.id, slugTopic: topic.slug }, query: {page :getNbPage}}">{{ getNbPage | number }}</router-link>]
    </span>
</template>

<script>
    export default {
        name: 'Shortcut',
        props: {
            'topic': {
                type: Object,
                require: true,
            },
            'route': {
                type: String,
                require: false,
                default: 'TopicIndex',
            }
        },
        data() {
            return {
                itemsPerPage: 20,
            };
        },
        computed: {
            getNbPage() {
                return Math.floor((this.topic.nbMessage - 1) / this.itemsPerPage) + 1;
            },
        },
    };
</script>


