<template>
    <div class="advanced-search__game">
        <label for="autocomplete-games">{{ $t('global.games') }}</label>
        <autocomplete
                id="autocomplete-games"
                ref="autocomplete-games"
                :placeholder="this.$i18n.t('search.game')"
                :source="url"
                results-property="hydra:member"
                results-display="name"
                @selected="select">
        </autocomplete>

        <button v-for="(game, index) in data" :data-position="game.position" :key="game.id" @click="remove(index)" class="button-as-link tag">
            <span class="tag--close" :aria-label="$t('tag.remove')">×</span> {{ game.name }}
        </button>
    </div>
</template>

<script>
    import Autocomplete from 'vuejs-auto-complete';

    export default {
        name: 'GameSelectMultiple',
        components: {
            Autocomplete
        },
        data() {
            return {
                data: [],
            };
        },
        methods: {
            url(input) {
                return process.env.VUE_APP_ROOT_API + '/api/games/autocomplete?query=' + input
            },
            select(result) {
                this.data.push(result['selectedObject']);
            },
            remove(index) {
                this.data.splice(index, 1);
            },
            getIds() {
                let filter = [];
                this.data.forEach(function (game) {
                    filter.push(game.id);
                });
                return filter;
            }
        },
    };
</script>
