<template>
    <div>
        <vue-headful :title="title" :description="description" />
        <h1>{{ getForum.libForum }}</h1>

        <sub-forums v-if="getForum.isParent" v-bind:id-forum="this.$route.params.idForum"></sub-forums>

        <div v-else>
            <paginate ref="paginate" :resource_url="getResourceUrl" @update="updateResource" class="pagination--top"></paginate>
            <div class="button-actions button-actions--top">
                <router-link v-if="isAuthenticated === true" :to="{ name: 'TopicNew'}" class="link-as-button">{{ $t('forum.newTopic.title') }}</router-link>
                <read-form v-if="isAuthenticated" v-bind:id-forum="this.$route.params.idForum"></read-form>
            </div>

            <topic-list v-bind:topics="topics"></topic-list>


            <div class="button-actions button-actions--bottom">
                 <router-link v-if="isAuthenticated === true" :to="{ name: 'TopicNew'}" class="link-as-button">{{ $t('forum.newTopic.title') }}</router-link>
                 <read-form v-if="isAuthenticated" v-bind:id-forum="this.$route.params.idForum"></read-form>
            </div>
            <paginate ref="paginate" :resource_url="getResourceUrl" @update="updateResource" class="pagination--bottom"></paginate>
        </div>

    </div>
</template>

<script>
import TopicList from '@/components/forum/topic/List.vue';
import SubForums from '@/components/forum/forum/SubForums.vue';
import BreadcrumbsManager from '@/mixins/BreadcrumbManager';
import Paginate from "@/components/Paginate";
import ReadForm from "@/components/forum/forum/ReadForm";
import Security from "@/mixins/Security.vue";

export default {
    mixins: [BreadcrumbsManager, Security],
    name: 'ForumIndex',
    components: {
        TopicList,
        SubForums,
        Paginate,
        ReadForm,
    },
    computed: {
        title() {
            return this.getForum.libForum + ' - ' + process.env.VUE_APP_TITLE;
        },
        description() {
            return this.$i18n.t('forum.forum.description') + this.getForum.libForum;
        },
        getForum() {
            return this.$parent.forum;
        },
        getResourceUrl() {
            return '/api/forum_topics?forum=' + this.$route.params.idForum  + '&boolArchive=false&itemsPerPage=' + this.itemsPerPage;
        }
    },
    data() {
        return {
            topics: [],
            itemsPerPage: 20,
        };
    },
    methods: {
        updateResource(data){
            this.topics = data
        }
    },
};
</script>
