<template>
    <div>
        <router-view></router-view>
    </div>
</template>

<script>
    import ForumApi from '@/services/api/forum/Forum'
    import BreadcrumbsManager from '@/mixins/BreadcrumbManager';

    export default {
        mixins: [BreadcrumbsManager],
        name: 'ForumMain',
        components: {

        },
        data() {
            return {
                forum: {
                    id: null,
                    isParent: false,
                    parent: null,
                    libForum: '',
                    slug: '',
                },
            };
        },
        computed: {
            getForum() {
                return this.forum;
            },
            hasParent() {
                return this.forum.parent != null;
            },
            getBreadcrumbLevel() {
                if (this.hasParent) {
                    return 3;
                }
                return 2;
            },
            getLibForum() {
                if (this.$i18n.locale === 'fr') {
                    return this.forum.libForumFr;
                }
                return this.forum.libForum;
            },
        },
        watch: {
            '$route.params.idForum' () {
                this.setData();
            },
            'forum.id' () {
                if (this.hasParent) {
                    this.setBreadcrumbItem2(
                        {
                            text: this.forum.parent.libForum,
                            to: {name: 'ForumIndex', params: {idForum: this.forum.parent.id, slugForum: this.forum.parent.slug}}
                        }
                    );
                    this.setBreadcrumbItem3(
                        {
                            text: this.getLibForum,
                            to: {name: 'ForumIndex', params: {idForum: this.forum.id, slugForum: this.forum.slug}}
                        }
                    );
                } else {
                    this.setBreadcrumbItem2(
                        {
                            text: this.getLibForum,
                            to: {name: 'ForumIndex', params: {idForum: this.forum.id, slugForum: this.forum.slug}}
                        }
                    );
                }
                this.setBreadcrumbLevel(this.getBreadcrumbLevel);
            }
        },
        methods: {
            async setData () {
                await ForumApi.getForum(this.$route.params.idForum)
                .then(forum => {
                    this.forum = forum;
                    this.$store.dispatch('aside/setForum', forum);
                });
            },
        },
        created() {
            this.setBreadcrumbItem1(
                { text: 'Forum', to: {name: 'ForumHome'}}
            );
            this.setData();
            this.setBreadcrumbLevel(this.getBreadcrumbLevel);

        },
        updated() {
            if (this.$route.name === 'ForumIndex') {
                this.setBreadcrumbLevel(this.getBreadcrumbLevel);
            }
        },
    };
</script>
