<template>
    <div>
        <vue-headful :title="title" :description="description" />

        <h1>{{ $t('forum.notify.title') }}</h1>

      <div>
            <paginate ref="paginate" :resource_url="getResourceUrl" @update="updateResource" class="pagination--top"></paginate>

            <topic-list v-bind:topics="topics"></topic-list>

            <paginate ref="paginate" :resource_url="getResourceUrl" @update="updateResource" class="pagination--bottom"></paginate>
        </div>

    </div>
</template>

<script>
    import TopicList from '@/components/forum/topic/List.vue';
    import BreadcrumbsManager from '@/mixins/BreadcrumbManager';
    import Paginate from "@/components/Paginate";

    export default {
        mixins: [BreadcrumbsManager],
        name: 'ForumNotif',
        components: {
            TopicList,
            Paginate,
        },
        computed: {
            title() {
                return this.$i18n.t('forum.notify.title') + ' - ' + process.env.VUE_APP_TITLE;
            },
            description() {
                return this.$i18n.t('forum.notify.description');
            },
            getUserId() {
                return this.$store.getters['security/getUser'].id;
            },
            getResourceUrl() {
                return '/api/forum_topics?topicUser.user=' + this.getUserId + '&topicUser.boolNotif=1itemsPerPage=' + this.itemsPerPage;
            }
        },
        created() {
            this.setBreadcrumbLevel(2);
            this.setBreadcrumbItem1(
                { text: 'Forum', to: {name: 'ForumHome'}}
            );
            this.setBreadcrumbItem2(
                { text: this.$i18n.t('forum.notify.title'), to: {name: 'ForumNotify'}}
            );
        },
        data() {
            return {
                topics: [],
                itemsPerPage: 20,
            };
        },
        methods: {
            updateResource(data){
                this.topics = data
            }
        },
    };
</script>
