<template>
    <table class="player-list">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">{{ $t('global.medals') }}</th>
                <th scope="col">{{ $t('global.points') }}</th>
            </tr>
        </thead>
        <VAsync :await="players">
            <template #pending>
                <tbody>
                    <tr>
                        <td>
                            <loading></loading>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </template>
            <template #resolved="players">
                <tbody>
                    <tr v-for="item in players['hydra:member']" :data-position="item.position" :key="item.id">
                        <td>
                            <player v-bind:player="item" v-bind:show-avatar="showAvatar"></player>
                        </td>
                        <td>
                            rank#{{ item.rankMedal }}
                            <br />
                            {{ item.chartRank0 }} # {{ item.chartRank1 }} # {{ item.chartRank2 }} # {{ item.chartRank3 }}
                        </td>
                        <td>
                            rank#{{ item.rankPointChart }}
                            <br />
                            {{ item.pointChart|number }} pts
                        </td>
                    </tr>
                </tbody>
            </template>
        </VAsync>
    </table>
</template>

<script>
    import Player from '@/components/vgr/player/Player.vue';

    export default {
        name: 'PlayerList',
        props: {
            'players': {
                require: true,
            },
            'showAvatar': {
                default: true,
                type: Boolean,
            },
        },
        components: {
            'player' : Player,
        },
        data() {
            return {

            };
        },
    };
</script>


