<template>
    <div>
        <vue-headful :title="title" :description="description" />

        <h1>{{ $t('authentication.login.title') }}</h1>

        <div v-if="isLoading" aria-live="polite" aria-atomic="true">
            <loading></loading>
        </div>

        <form class="vgr-form">
            <div>
                <label for="login-email">{{ $t('authentication.login.form.email') }}</label>
                <input type="email" id="login-email" v-model="email">
            </div>

            <div>
                <label for="login-password">{{ $t('authentication.login.form.password') }}</label>
                <input type="password" id="login-password" v-model="password">
            </div>

            <div>
                <button type="button" @click="performLogin()" :disabled="email.length === 0 || password.length === 0 || isLoading">{{ $t('authentication.login.form.submit') }}</button>
            </div>
        </form>

        <router-link :to="{ name: 'AuthReset'}">{{ $t('authentication.login.forgotten_password') }}</router-link>
    </div>
</template>


<script>
import BreadcrumbsManager from '@/mixins/BreadcrumbManager';
import Security from "@/mixins/Security.vue";

export default {
    mixins: [BreadcrumbsManager, Security],
    data(){
        return {
            email : '',
            password : ''
        }
    },
    created () {
        this.$store.dispatch('security/init');
        this.setBreadcrumbItem1(
            { text: this.$i18n.t('title')}
        );
        this.setBreadcrumbLevel(1);
        let redirect = this.$route.query.redirect;

        if (this.isAuthenticated) {
            if (typeof redirect !== 'undefined') {
                this.$router.push({path: redirect});
            } else {
                this.$router.push({path: '/'});
            }
        }
    },
    computed: {
        title() {
            return this.$i18n.t('authentication.login.title') + ' - ' + process.env.VUE_APP_TITLE;
        },
        description() {
            return this.$i18n.t('authentication.login.description');
        },
        isLoading () {
            return this.$store.getters['security/isLoading'];
        },
        hasError () {
            return this.$store.getters['security/hasError'];
        },
        error () {
            return this.$store.getters['security/error'].message;
        },
    },
    methods: {
        performLogin () {
            let payload = {
                login: this.$data.email,
                password: this.$data.password
            },
            redirect = this.$route.query.redirect;

            this.$store.dispatch('security/login', payload)
                .then(() => {
                    if (!this.$store.getters['security/hasError']) {
                        if (typeof redirect !== 'undefined') {
                            this.$router.push({path: redirect});
                        } else {
                            this.$router.push({path: '/'});
                        }
                    } else {
                        this.$store.dispatch('flashMessage/error', this.error);
                    }
                });
        },
    },
}
</script>
