<template>
    <div>
        <vue-headful :title="title" :description="description" />

        <h1>{{ $t('authentication.register.title') }}</h1>

        <register-confirm v-if="hasToken"></register-confirm>

        <register-form v-else></register-form>
    </div>
</template>


<script>
import BreadcrumbsManager from '@/mixins/BreadcrumbManager';
import RegisterConfirm from '@/components/authentication/register/Confirm.vue'
import RegisterForm from '@/components/authentication/register/Form.vue'
import Security from "@/mixins/Security.vue";

export default {
    mixins: [BreadcrumbsManager, Security],
    name: 'RegisterIndex',
    components: {
        'register-confirm' : RegisterConfirm,
        'register-form' : RegisterForm
    },
    data(){
        return {

        }
    },
    created () {
        this.setBreadcrumbItem1(
            { text: this.$i18n.t('authentication.register.title')}
        );
        this.setBreadcrumbLevel(1);
        let redirect = this.$route.query.redirect;

        if (this.isAuthenticated) {
            if (typeof redirect !== 'undefined') {
                this.$router.push({path: redirect});
            } else {
                this.$router.push({path: '/'});
            }
        }
    },
    computed: {
        title() {
            return this.$i18n.t('authentication.register.title')+ ' - ' + process.env.VUE_APP_TITLE;
        },
        description() {
            return this.$i18n.t('authentication.register.description');
        },
        hasToken() {
            return !!this.$route.query.token;
        }
    },
}
</script>
