<template>
    <div>
        <vue-headful :title="title" :description="description" />

        <h1>{{ $t('authentication.reset.title') }}</h1>

        <div v-if="hasToken">
            <reset-confirm></reset-confirm>
        </div>
        <div v-else>
            <reset-form></reset-form>
        </div>
    </div>
</template>


<script>
    import BreadcrumbsManager from '@/mixins/BreadcrumbManager';
    import ResetConfirm from '@/components/authentication/reset/Confirm.vue'
    import ResetForm from '@/components/authentication/reset/Form.vue'
    import Security from "@/mixins/Security.vue";

    export default {
        mixins: [BreadcrumbsManager, Security],
        components: {
            'reset-confirm' : ResetConfirm,
            'reset-form' : ResetForm
        },
        data(){
            return {
                token: '',
            }
        },
        created () {
            this.setBreadcrumbItem1(
                { text: this.$i18n.t('authentication.reset.title')}
            );
            this.setBreadcrumbLevel(1);

            if (this.isAuthenticated) {
                this.$router.push({path: '/'});
            }

            this.token = this.$route.query.token;
        },
        computed: {
            title() {
                return this.$i18n.t('authentication.reset.title')+ ' - ' + process.env.VUE_APP_TITLE;
            },
            description() {
                return this.$i18n.t('authentication.reset.description');
            },
            hasToken () {
                return !!this.$route.query.token;
            }
        },
    }
</script>