<template>
    <div>
        <vue-headful :title="title" :description="description" />

        <h1>{{ $t('contact.title') }}</h1>

        <form class="vgr-form" @submit="send" @submit.prevent>
            <div>
                <label for="contact-email">{{ $t('contact.form.email') }}</label>
                <input type="email" id="contact-email" v-model="email" required="required">
            </div>

            <div>
                <label for="contact-subject">{{ $t('contact.form.subject') }}</label>
                <input type="text" id="contact-subject" v-model="subject" required="required" minlength="4" maxlength="50">
            </div>

            <div>
                <label for="contact-message">{{ $t('contact.form.body') }}</label>
                <textarea id="contact-message" v-model="text" required="required" cols="50" rows="10"></textarea>
            </div>

            <div>
                <input type="submit" :value="$t('contact.form.submit')" />
            </div>
        </form>

        <div v-if="isLoading" aria-live="polite" aria-atomic="true">
            <loading></loading>
        </div>
    </div>
</template>


<script>
import BreadcrumbsManager from '@/mixins/BreadcrumbManager';

export default {
    mixins: [BreadcrumbsManager],
    name: 'Contact',
    data(){
        return {
            email : '',
            subject : '',
            text : '',
        }
    },
    created () {
        this.setBreadcrumbItem1(
            { text: this.$i18n.t('contact.title')}
        );
        this.setBreadcrumbLevel(1);
    },
    computed: {
        title() {
            return this.$i18n.t('contact.title') + ' - ' + process.env.VUE_APP_TITLE;
        },
        description() {
            return this.$i18n.t('contact.description');
        },
        isLoading () {
            return this.$store.getters['contact/isLoading'];
        },
        hasSuccess () {
            return (this.$store.getters['contact/success'] === true);
        },
        hasError () {
            return (this.$store.getters['contact/success'] === false);
        },
        message () {
            return this.$store.getters['contact/message'];
        },
    },
    methods: {
        send() {
            let payload = {
                email: this.$data.email,
                subject: this.$data.subject,
                text: this.$data.text
            };
            this.$store.dispatch('contact/send', payload).then(() => {
                if (this.hasSuccess) {
                    this.$store.dispatch('flashMessage/confirm', this.message);
                } else {
                    this.$store.dispatch('flashMessage/error', this.message);
                }
            });
            this.text = '';
            this.subject = '';
        },
    },
}
</script>
