<template>
    <div>
        <vue-headful :title="title" :description="this.$i18n.t('home.description')" />

        <h1 class="screen-reader-text">Video Games Records</h1>

        <div v-if="isAuthenticated === false && homeMessage.enabled" v-html="homeMessage.text" class="home-message"></div>

        <div v-if="isAuthenticated === true && homeMessageConnected.enabled" v-html="homeMessageConnected.text" class="home-message-connected"></div>

        <div v-if="homeAlert.enabled" v-html="homeAlert.text" class="home-alert"></div>

        <div class="home-games">
            <div class="home-games__row">
                <game-last></game-last>
                <game-of-day></game-of-day>
            </div>

            <ul class="home-games__links">
                <li>
                    <router-link :to="{ name: 'GameListByLetter', params: { letter: 'A', lang: getLang }}" class="home-link">{{ $t('home.allGames') }}</router-link>
                </li>
                <li>
                    <router-link v-if="getLang === 'en'" :to="{ name: 'TopicIndex', params: { idForum: 1546, slugForum: 'new-games', idTopic: 7, slugTopic: 'faq-how-to-suggest-a-game'} }" class="home-link">{{ $t('home.howto') }}</router-link>
                    <router-link v-else :to="{ name: 'TopicIndex', params: { idForum: 1546, slugForum: 'new-games', idTopic: 6, slugTopic: 'faq-comment-proposer-un-jeu'} }" class="home-link">{{ $t('home.howto') }}</router-link>
                </li>
            </ul>
        </div>

        <article-last></article-last>

        <player-chart-last></player-chart-last>

        <div class="home-rankings">
            <h2>{{ $t('home.leaderboard') }}</h2>

            <div class="home-leaderboard">
                <leaderboard-player-point></leaderboard-player-point>
                <leaderboard-player-cup></leaderboard-player-cup>
                <leaderboard-team-point></leaderboard-team-point>
                <leaderboard-team-cup></leaderboard-team-cup>
            </div>

            <ul class="home-games__links">
                <li><router-link :to="{ name: 'LeaderboardPointGame', params: {lang: getLang}}" class="home-link">{{ $t('home.leaderboardPoints') }}</router-link></li>
                <li><router-link :to="{ name: 'LeaderboardCup', params: {lang: getLang}}" class="home-link">{{ $t('home.leaderboardCups') }}</router-link></li>
            </ul>
        </div>
    </div>
</template>

<script>
import BreadcrumbsManager from '@/mixins/BreadcrumbManager';
import LeaderboardPlayerPoint from '@/components/vgr/player/leaderboard/home/PointGame';
import LeaderboardPlayerCup from '@/components/vgr/player/leaderboard/home/Cup';
import LeaderboardTeamPoint from '@/components/vgr/team/leaderboard/home/PointGame';
import LeaderboardTeamCup from '@/components/vgr/team/leaderboard/home/Cup';
import PlayerChartLast from '@/components/vgr/playerChart/Last';
import ArticleLast from '@/components/article/Last';
import GameLast from '@/components/vgr/game/Last';
import GameOfDay from '@/components/vgr/game/Day';
import PageApi from "@/services/api/page/Page";
import Security from "@/mixins/Security.vue";
import Language from "@/mixins/Language.vue";

export default {
    mixins: [BreadcrumbsManager, Security, Language],
    name: 'vgrHome',
    components: {
        'leaderboard-player-point': LeaderboardPlayerPoint,
        'leaderboard-player-cup': LeaderboardPlayerCup,
        'leaderboard-team-point': LeaderboardTeamPoint,
        'leaderboard-team-cup': LeaderboardTeamCup,
        'player-chart-last': PlayerChartLast,
        'article-last': ArticleLast,
        'game-last': GameLast,
        'game-of-day': GameOfDay
    },
    data() {
        return {
            homeMessage: {
                enabled: false,
            },
            homeMessageConnected: {
                enabled: false,
            },
            homeAlert: {
              enabled: false,
            }
        };
    },
    computed: {
        title() {
            return process.env.VUE_APP_TITLE
        },
    },
    created() {
        this.setBreadcrumbLevel(0);
        PageApi.getFromSlug('home-message')
            .then(homeMessage => {
                this.homeMessage = homeMessage;
            });
        PageApi.getFromSlug('home-alert')
            .then(homeAlert => {
                this.homeAlert = homeAlert;
            });
        PageApi.getFromSlug('home-message-connected')
            .then(homeMessageConnected => {
                this.homeMessageConnected = homeMessageConnected;
            });
    },
}
</script>
