<template>
    <div class="error-page">
        <vue-headful :title="title" :description="description" />
        <h1>{{ $t('notFound.title') }}</h1>
        <img src="./../assets/img/404.svg" width="400" height="150" alt="404" />
    </div>
</template>

<script>
    import BreadcrumbsManager from '@/mixins/BreadcrumbManager';

    export default {
        mixins: [BreadcrumbsManager],
        name: 'NotFound',
        components: {

        },
        data() {
            return {

            };
        },
        created() {
            this.setBreadcrumbLevel(0);
        },
        computed: {
            title() {
                return this.$i18n.t('notFound.title')+ ' - ' + process.env.VUE_APP_TITLE;
            },
            description() {
                return this.$i18n.t('notFound.description');
            },
        },
    }
</script>


