<template>
    <div>
        <vue-headful :title="title" :description="description" />
        <VTabs ref="tabs" id="search">
            <template :slot="this.$i18n.t('global.games')">
                <game-list
                    v-bind:games=games
                    v-bind:show-link="true"
                    v-bind:display-charts="false"
                    v-bind:display-posts="false"
                    v-bind:display-players="false">
                </game-list>
                {{ nbGame | number }} {{ $tc('global.games_', nbGame) }}
            </template>

            <template :slot="this.$i18n.t('global.players')">
                <player-list v-bind:players=players></player-list>
                {{ nbPlayer | number }} {{ $tc('global.players_', nbPlayer) }}
            </template>

            <template :slot="this.$i18n.t('global.teams')">
                <team-list v-bind:teams=teams></team-list>
                {{ nbTeam | number }} {{ $tc('global.teams_', nbTeam) }}
            </template>

            <template :slot="this.$i18n.t('global.topics')">
                <topic-list v-bind:topics=topics></topic-list>
                {{ nbTopic | number }} {{ $tc('global.topics_', nbTopic) }}
            </template>

            <template :slot="this.$i18n.t('global.videos')">
                <video-list v-bind:videos=videos></video-list>
                {{ nbVideo | number }} {{ $tc('global.videos_', nbVideo) }}
            </template>

        </VTabs>
    </div>
</template>

<script>
    import BreadcrumbsManager from '@/mixins/BreadcrumbManager';
    import GameList from '@/components/vgr/game/List.vue';
    import PlayerList from '@/components/vgr/player/List.vue';
    import TeamList from '@/components/vgr/team/List.vue';
    import TopicList from '@/components/forum/topic/List';
    import VideoList from '@/components/vgr/video/List.vue';
    import GameApi from '@/services/api/vgr/Game';
    import PlayerApi from '@/services/api/vgr/Player';
    import TeamApi from '@/services/api/vgr/Team';
    import TopicApi from '@/services/api/forum/Topic';
    import VideoApi from '@/services/api/vgr/Video';

    export default {
        mixins: [BreadcrumbsManager],
        name: 'search',
        components: {
            'gameList' : GameList,
            'playerList' : PlayerList,
            'teamList' : TeamList,
            'topicList' : TopicList,
            'videoList' : VideoList,
        },
        data() {
            return {
                term: this.$route.query.term,
                games: null,
                nbGame: 0,
                players: null,
                nbPlayer:0,
                teams: null,
                nbTeam:0,
                topics: [],
                nbTopic: 0,
                videos: [],
                nbVideo: 0,
            };
        },
        computed: {
            title() {
                return this.$i18n.t('search.title')+ ' - ' + process.env.VUE_APP_TITLE;
            },
            description() {
                return this.$i18n.t('search.description');
            },
            getLibGame() {
                if (this.$i18n.locale === 'fr') {
                    return 'libGameFr';
                }
                return 'libGameEn';
            },
        },
        created() {
            this.setBreadcrumbLevel(0);
            this.search();
        },
        watch: {
            '$route' () {
                this.term = this.$route.query.term;
                this.search();
            }
        },
        methods: {
            search () {
                if (this.term.length >= 3) {
                    this.games = null;
                    this.players = null;
                    this.teams = null;
                    this.topics = [];
                    this.videos = [];

                    let params = {
                        query: {
                            groups: ['game.list', 'game.platforms', 'platform.read'],
                            'pagination': false,
                            'status': this.$GAME_STATUS_ACTIVE,
                        }
                    };
                    params.query[this.getLibGame] = this.term;
                    params.query['order[' + this.getLibGame +']'] = 'ASC';

                    this.games = GameApi.getList(params)
                        .then((response) => {
                            this.nbGame = response['hydra:totalItems'];
                            return response;
                        });

                    this.players = PlayerApi.getList({
                        query: {
                            'pagination': false,
                            'pseudo': this.term,
                            'user.enabled': 1,
                            'groups': ['player.read', 'player.team', 'player.country', 'player.pointChart', 'player.medal', 'team.read.mini']
                        }
                    })
                        .then((response) => {
                            this.nbPlayer = response['hydra:totalItems'];
                            return response;
                        });
                    this.teams = TeamApi.getList({
                        query: {
                            'pagination': false,
                            'libTeam': this.term,
                            'groups': ['team.read', 'team.rank.pointChart', 'team.rank.medal']
                        }
                    })
                        .then((response) => {
                            this.nbTeam = response['hydra:totalItems'];
                            return response;
                        });
                    TopicApi.getList({
                        query: {
                            'pagination': false,
                            'libTopic': this.term
                        }
                    })
                        .then((response) => {
                            this.nbTopic = response['hydra:totalItems'];
                            this.topics = response['hydra:member'];
                        });
                    VideoApi.getList({
                        query: {
                            'pagination': false,
                            'libVideo': this.term,
                            'boolActive': 'true'
                        }
                    })
                        .then((response) => {
                            this.nbVideo = response['hydra:totalItems'];
                            this.videos = response['hydra:member'];
                        })
                }
            },
        },
    }
</script>
