<template>
    <div class="site-aside__context">
        <forum-switch v-if="getForum && getForum.id != null" v-bind:forum="getForum"></forum-switch>
    </div>
</template>

<script>
    import ForumSwitch from '@/components/forum/forum/Switch.vue';

    export default {
        name: 'ForumAside',
        components: {
            'forum-switch' : ForumSwitch,
        },
        computed: {
            getForum() {
                return this.$store.getters['aside/object'];
            },
        }
    };
</script>