<template>
    <button v-on:click="submit">{{ $t('forum.tag.markAllAsRead') }}</button>
</template>

<script>
    import ForumApi from "@/services/api/forum/Forum";

    export default {
        name: 'ReadAll',
        methods: {
            submit: function () {
                ForumApi.readAll();
            },
        },
    };
</script>