<template>
    <div>
        <div v-if="hasTeam === true">
            <dl>
                <dt>{{ $t('team.name') }}</dt>
                <dd>{{ getTeam.libTeam }}</dd>

                <dt>{{ $t('team.tag') }}</dt>
                <dd>{{ getTeam.tag }}</dd>
            </dl>
            <team-quit></team-quit>
        </div>
        <div v-else>
            <h2>{{ $t('team.create') }}</h2>
            <team-form></team-form>
            <br />
            <h2>{{ $t('team.requests') }}</h2>
            <request-list ref="requests"></request-list>
        </div>
    </div>
</template>

<script>
    import TeamForm from '@/components/vgr/team/account/Form.vue';
    import RequestList from '@/components/vgr/team/account/player/Requests.vue';
    import TeamQuit from '@/components/vgr/team/account/Quit.vue';

    export default {
        name: 'TeamAdmin',
        props: [],
        components: {
            'teamForm': TeamForm,
            'requestList': RequestList,
            'teamQuit': TeamQuit,
        },
        data() {
            return {
            };
        },
        computed: {
            getTeam() {
                return this.$store.getters['TeamAccount/team'];
            },
            getPlayer() {
                return this.$store.getters['TeamAccount/player'];
            },
            hasTeam() {
                return this.getTeam.id !== undefined;
            },
        },
    };
</script>
