<template>
    <table v-if="requests.length > 0">
        <caption class="screen-reader-text">{{ $t('team.request.caption') }}</caption>
        <thead>
            <tr>
                <th scope="col">{{ $t('global.team') }}</th>
                <th scope="col">{{ $t('global.createdAt') }}</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td coslpan="3">
                    <button @click="update()">{{ $t('tag.update') }}</button>
                </td>
            </tr>
        </tfoot>
        <tbody>
            <tr v-for="request in requests" :data-position="request.position" :key="request.id">
                <td>{{ request.team.libTeam }}</td>
                <td>{{ request.createdAt }}</td>
                <td>
                    <select v-model="request.status">
                        <option value="ACTIVE">{{ $t('team.request.status.ACTIVE') }}</option>
                        <option value="ACCEPTED">{{ $t('team.request.status.ACCEPTED') }}</option>
                        <option value="REFUSED">{{ $t('team.request.status.REFUSED') }}</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <div v-else>
        <p>{{ $t('team.request.none') }}</p>
    </div>
</template>


<script>
import TeamRequestApi from '@/services/api/vgr/TeamRequest';
import ApiService from "@/services/api.service";
import Security from "@/mixins/Security.vue";

export default {
    mixins: [Security],
    name: 'teamRequestList',
    components: {

    },
    data() {
        return {
            requests: []
        };
    },
    created() {
        this.load();
    },
    methods: {
        load: function () {
            TeamRequestApi.getList({
                query: {
                    pagination: false,
                    player: this.getPlayer.id,
                    status: 'ACTIVE'
                }
            })
                .then(requests => {
                    this.requests = requests;
                });
        },
        update: function () {
            let promises = [];
            this.requests.forEach(function (request) {
                if (request.status !== 'ACTIVE') {
                    promises.push(TeamRequestApi.put(request));
                }
            });
            ApiService.all(promises)
                .then(() => {
                    this.load();
                    this.$store.dispatch('TeamAccount/init');
                });
        }
    },
};
</script>
