<template>
    <div class="video-wrapper">
        <youtube ref="player-youtube" v-if="video.id && video.type.value === 'Youtube'" @play="play" :video-id="video.videoId" :player-width="width" :player-height="height" :player-vars="{autoplay: 0}"></youtube>
        <twitch-player ref="player-witch" v-if="video.id && video.type.value === 'Twitch'" @play="play" :video="video.videoId" :width="width" :height="height"></twitch-player>
    </div>
</template>

<script>
    //import TwitchPlayer from 'vue-twitch-player';
    import TwitchPlayer from '@/components/vgr/video/TwitchPlayer'

    export default {
        name: 'Video',
        props: {
            video: {
                type: Object,
                required: true
            },
            width: {
                type: String,
                required: false,
                default () {
                    return '720'
                }
            },
            height: {
                type: String,
                required: false,
                default () {
                    return '405'
                }
            }
        },
        components: {
            TwitchPlayer,
        },
        data() {
            return {
            };
        },
        methods: {
            play() {
            }
        },
    };
</script>
