<template>
    <div>
        <vue-headful :title="title" :description="description" />
        <h1>{{ $t('proof.myProofs.title') }}</h1>
        <router-view></router-view>
    </div>
</template>

<script>

import BreadcrumbsManager from "@/mixins/BreadcrumbManager";
import i18n from "@/i18n";
import Security from "@/mixins/Security.vue";

export default {
    mixins: [BreadcrumbsManager, Security],
    name: 'ProofMain',
    components: {

    },
    data() {
        return {

        };
    },
    computed: {
        title() {
            return this.$i18n.t('proof.myProofs.title') + ' - ' + process.env.VUE_APP_TITLE;
        },
        description() {
            return this.$i18n.t('proof.myProofs.description');
        },
        getLanguage () {
            return i18n.locale;
        },
    },
    watch : {
        '$route' () {
            if (this.$route.name === 'ProofIndex') {
                this.setBreadcrumbLevel(1);
            }
        },
        getLanguage() {
            this.loadData();
        },
    },
    created() {
        this.loadData();
    },
    methods: {
        loadData() {
            this.setBreadcrumbLevel(1);
            this.setBreadcrumbItem1(
                { text: this.$i18n.t('proof.myProofs.title'), to: {name: 'ProofIndex'}}
            );
        },
    },
};
</script>
