<template>
    <div>
        <div v-html="page.text" class="register-message"></div>

        <form class="vgr-form" @submit="performRegister" @submit.prevent>
            <div>
                <label for="register-email">{{ $t('authentication.register.form.email') }}</label>
                <input type="email" id="register-email" v-model="email" required="required">
            </div>

            <div>
                <label for="register-username">{{ $t('authentication.register.form.username') }}</label>
                <input type="text" id="register-username" v-model="username" required="required" minlength="4" maxlength="50">
            </div>

            <div>
                <label for="register-password">{{ $t('authentication.register.form.password') }}</label>
                <input type="password" id="register-password" v-model="password" required="required">
            </div>

            <div>
                <label for="register-password">{{ $t('authentication.register.form.rules_accepted') }}</label>
                <input type="checkbox" id="register-password" v-model="rules_accepted" required="required">
                =========> <router-link :to="{ name: 'Rules'}">{{ $t('authentication.register.form.read_rules') }}</router-link>
            </div>

            <div>
                <input type="submit" :value="$t('authentication.register.form.submit')" />
            </div>
        </form>

        <div v-if="isLoading" aria-live="polite" aria-atomic="true">
            <loading></loading>
        </div>
    </div>
</template>


<script>
    import PageApi from "@/services/api/page/Page";

    export default {
        name: 'RegisterForm',
        data(){
            return {
                email : '',
                username : '',
                password : '',
                rules_accepted: false,
                page: {}
            }
        },
        created () {
            PageApi.getFromSlug('register-message')
                .then(page => {
                    this.page = page;
                });
        },
        computed: {
            isLoading () {
                return this.$store.getters['authenticationRegister/isLoading'];
            },
            hasSuccess () {
                return (this.$store.getters['authenticationRegister/success'] === true);
            },
            hasError () {
                return (this.$store.getters['authenticationRegister/success'] === false);
            },
            message () {
                return this.$store.getters['authenticationRegister/message'];
            },
        },
        methods: {
            performRegister () {
                let payload = {
                    login: this.$data.email,
                    username: this.$data.username,
                    password: this.$data.password,
                    rules_accepted: this.$data.rules_accepted,
                };
                this.$store.dispatch('authenticationRegister/register', payload).then(() => {
                    if (this.hasSuccess) {
                        this.$store.dispatch('flashMessage/confirm', this.message);
                    } else {
                        this.$store.dispatch('flashMessage/error', this.message);
                    }
                });
            },
        },
    }
</script>
