<template>
    <VAsync :await="partners" class="site-footer__partners">
        <template #pending>
            <loading></loading>
        </template>
        <template #resolved="partners">
            <div class="site-footer__partners-title">{{ $t('footer.partners') }}</div>
            <ul class="site-footer__partners-list">
                <li v-for="partner in partners" :data-position="partner.position" :key="partner.id">
                    <a :href="partner.url">{{ partner.libPartner }}</a>
                </li>
            </ul>
        </template>
    </VAsync>
</template>

<script>
    import PartnerApi from "@/services/api/partner/Partner";

    export default {
        name: 'PartnerList',
        data() {
            return {
                partners :  PartnerApi.getList({
                    query: {
                        status: 'ACTIVE'
                    },
                    cache : {useCache: true}
                })
                    .then((response) => response)
            };
        },
    };
</script>
