<template>
    <span>
        <router-link v-if="isAuthenticated === true" :to="{ name: 'ProofIndex', params: {lang: getLang}}" class="tooltip tooltip--bottom-center">
            <svg width="30" height="30" viewBox="0 0 50 50" class="svg-sprite" aria-hidden="true" focusable="false">
                <use xlink:href="#proof" />
            </svg>
            <span class="screen-reader-text">{{ $t('topbar.proofs') }}</span>
            <div role="tooltip">{{ $t('topbar.proofs') }}</div>
        </router-link>

        <router-link v-if="isAuthenticated === true" :to="{ name: 'AccountIndex', params: {lang: getLang}}" class="tooltip tooltip--bottom-center">
            <svg width="30" height="30" viewBox="0 0 50 50" class="svg-sprite" aria-hidden="true" focusable="false">
                <use xlink:href="#account" />
            </svg>
            <span class="screen-reader-text">{{ $t('topbar.account') }}</span>
            <div role="tooltip">{{ $t('topbar.account') }}</div>
        </router-link>

        <router-link v-if="isAuthenticated === true" :to="{ name: 'PlayerIndex', params: {lang: getLang, idPlayer: getPlayer.id, slugPlayer: getPlayer.slug }}" class="tooltip tooltip--bottom-center">
            <svg width="30" height="30" viewBox="0 0 50 50" class="svg-sprite" aria-hidden="true" focusable="false">
                <use xlink:href="#profile" />
            </svg>
            <span class="screen-reader-text">{{ $t('topbar.profile') }}</span>
            <div role="tooltip">{{ $t('topbar.profile') }}</div>
        </router-link>

        <router-link v-if="isAuthenticated === false" :to="{ name: 'Register', params: {lang: getLang}}">
            <svg width="20" height="20" viewBox="0 0 50 50" class="svg-sprite" aria-hidden="true" focusable="false">
                <use xlink:href="#registration" />
            </svg>
            <span>{{ $t('topbar.register') }}</span>
        </router-link>

        <router-link v-if="isAuthenticated === false" :to="{ name: 'AuthLogin', params: {lang: getLang}}">
            <svg width="20" height="20" viewBox="0 0 50 50" class="svg-sprite" aria-hidden="true" focusable="false">
                <use xlink:href="#log-in" />
            </svg>
            <span>{{ $t('topbar.signin') }}</span>
        </router-link>

        <button v-if="isAuthenticated" @click="performLogout()" class="button-as-link tooltip tooltip--bottom-center">
            <svg width="30" height="30" viewBox="0 0 50 50" class="svg-sprite" aria-hidden="true" focusable="false">
                <use xlink:href="#log-out" />
            </svg>
            <span class="screen-reader-text">{{ $t('topbar.logout') }}</span>
            <div role="tooltip">{{ $t('topbar.logout') }}</div>
        </button>
    </span>
</template>

<script>
import Language from '@/mixins/Language.vue'
import Security from '@/mixins/Security.vue';

export default {
    mixins: [Language, Security],
    name: 'account-box',
    methods: {
        performLogout() {
            this.$store.dispatch('security/logout')
            .then(() => {
                this.$router.push({path: '/'});
            });
        },
    },
};
</script>
