<template>
    <aside id="aside" class="site-aside" role="complementary">
        <search-box></search-box>

        <aside-plaform v-if="getType === 'platform'"></aside-plaform>

        <aside-game v-if="getType === 'game'" v-bind:game=getObject></aside-game>

        <aside-forum v-if="getType === 'forum'"></aside-forum>

        <ul class="site-aside__social">
            <li>
                <a href="https://video-games-records.myspreadshop.fr/" target="_blank">
                    <svg width="32" height="32" viewBox="0 0 50 50" class="svg-sprite" aria-hidden="true" focusable="false">
                        <use xlink:href="#shop" />
                    </svg>
                    {{ $t('aside.shop') }}
                </a>
            </li>
            <li>
                <a href="https://discord.com/invite/nYsRzsZ" target="_blank">
                    <svg width="32" height="32" viewBox="0 0 50 50" class="svg-sprite" aria-hidden="true" focusable="false">
                        <use xlink:href="#social-discord" />
                    </svg>
                    <span class="screen-reader-text">VGR {{ $t('aside.on') }}</span> Discord
                </a>
            </li>
            <li>
                <a href="https://www.twitch.tv/videogamesrecords/" target="_blank">
                    <svg width="32" height="32" viewBox="0 0 50 50" class="svg-sprite" aria-hidden="true" focusable="false">
                        <use xlink:href="#social-twitch" />
                    </svg>
                    <span class="screen-reader-text">VGR {{ $t('aside.on') }}</span> Twitch
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UC_b4IOPqkN9uOsk-vktl8eA" target="_blank">
                    <svg width="32" height="32" viewBox="0 0 50 50" class="svg-sprite" aria-hidden="true" focusable="false">
                        <use xlink:href="#social-youtube" />
                    </svg>
                    <span class="screen-reader-text">VGR {{ $t('aside.on') }}</span> Youtube
                </a>
            </li>
            <li>
                <a href="https://steamcommunity.com/groups/vgrr" target="_blank">
                    <svg width="32" height="32" viewBox="0 0 50 50" class="svg-sprite" aria-hidden="true" focusable="false">
                        <use xlink:href="#social-steam" />
                    </svg>
                    <span class="screen-reader-text">VGR {{ $t('aside.on') }}</span> Steam
                </a>
            </li>
            <li>
                <a href="https://twitter.com/VGRecords" target="_blank">
                    <svg width="32" height="32" viewBox="0 0 50 50" class="svg-sprite" aria-hidden="true" focusable="false">
                        <use xlink:href="#social-twitter" />
                    </svg>
                    <span class="screen-reader-text">VGR {{ $t('aside.on') }}</span> Twitter
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/video.games.records" target="_blank">
                    <svg width="32" height="32" viewBox="0 0 50 50" class="svg-sprite" aria-hidden="true" focusable="false">
                        <use xlink:href="#social-facebook" />
                    </svg>
                    <span class="screen-reader-text">VGR {{ $t('aside.on') }}</span> Facebook
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/company/video-games-records/" target="_blank">
                    <svg width="32" height="32" viewBox="0 0 50 50" class="svg-sprite" aria-hidden="true" focusable="false">
                        <use xlink:href="#social-linkedin" />
                    </svg>
                    <span class="screen-reader-text">VGR {{ $t('aside.on') }}</span> LinkedIn
                </a>
            </li>
            <li>
                <a href="https://gitlab.com/video-games-records" target="_blank">
                    <svg width="32" height="32" viewBox="0 0 50 50" class="svg-sprite" aria-hidden="true" focusable="false">
                        <use xlink:href="#social-gitlab" />
                    </svg>
                    <span class="screen-reader-text">VGR {{ $t('aside.on') }}</span> GitLab
                </a>
            </li>
        </ul>

        <a href="https://streamlabs.com/videogamesrecords/tip" target="_top" class="site-aside__paypal">
            <img src="https://www.paypalobjects.com/en_US/FR/i/btn/btn_donateCC_LG.gif" :title="$t('aside.paypal.title')" :alt="$t('aside.paypal.alt')" />
            <img alt="" src="https://www.paypal.com/fr_FR/i/scr/pixel.gif" width="1" height="1" />
        </a>

    </aside>
</template>

<script>
    import AsidePlatform from '@/components/vgr/platform/Aside.vue';
    import AsideGame from '@/components/vgr/game/Aside.vue';
    import AsideForum from '@/components/forum/Aside.vue';
    import SearchBox from '@/components/Search.vue';

    export default {
        name: 'MainAside',
        components: {
            'aside-plaform' : AsidePlatform,
            'aside-game' : AsideGame,
            'aside-forum' : AsideForum,
            'search-box': SearchBox
        },
        computed: {
            getType() {
                return this.$store.getters['aside/type'];
            },
            getObject() {
                return this.$store.getters['aside/object'];
            },
        },
    };
</script>
