<template>
  <nav class="site-breadcrumb">
    <ol>
      <li v-if="getLevel >= 0">
        <span v-if="getLevel >= 1">
          <router-link v-bind:to="getItem0.to">{{ getItem0.text }}</router-link>
        </span>
        <span v-else>{{ getItem0.text }}</span>
      </li>
      <li v-if="getLevel >= 1">
        <span v-if="getLevel >= 2 && getItem1.to">
          <router-link v-bind:to="getItem1.to">{{ getItem1.text }}</router-link>
        </span>
        <span v-else>{{ getItem1.text }}</span>
      </li>
      <li v-if="getLevel >= 2">
        <span v-if="getLevel >= 3 && getItem2.to">
          <router-link v-bind:to="getItem2.to">{{ getItem2.text }}</router-link>
        </span>
        <span v-else>{{ getItem2.text }}</span>
      </li>
      <li v-if="getLevel >= 3">
        <span v-if="getLevel >= 4 && getItem3.to">
          <router-link v-bind:to="getItem3.to">{{ getItem3.text }}</router-link>
        </span>
        <span v-else>{{ getItem3.text }}</span>
      </li>
      <li v-if="getLevel >= 4">
        <span v-if="getLevel >= 5 && getItem4.to">
          <router-link v-bind:to="getItem4.to">{{ getItem4.text }}</router-link>
        </span>
        <span v-else>{{ getItem4.text }}</span>
      </li>
      <li v-if="getLevel >= 5">
        <span v-if="getLevel >= 6 && getItem5.to">
          <router-link v-bind:to="getItem5.to">{{ getItem5.text }}</router-link>
        </span>
        <span v-else>{{ getItem5.text }}</span>
      </li>
    </ol>
  </nav>
</template>

<script>
    export default {
        name: 'Breadcrumb',
        computed: {
            getItem0() {
                return this.$store.getters['breadcrumbs/item0'];
            },
            getItem1() {
                return this.$store.getters['breadcrumbs/item1'];
            },
            getItem2() {
                return this.$store.getters['breadcrumbs/item2'];
            },
            getItem3() {
                return this.$store.getters['breadcrumbs/item3'];
            },
            getItem4() {
                return this.$store.getters['breadcrumbs/item4'];
            },
            getItem5() {
                return this.$store.getters['breadcrumbs/item5'];
            },
            getLevel() {
                return this.$store.getters['breadcrumbs/level'];
            },
        },
    };
</script>
