<template>
    <VAlert :class="getType" v-model="display" transition="fade" dismissible>
        <p><span class="title">{{ getTitle }}</span> {{ getMessage }}</p>
    </VAlert>
</template>

<script>
import { VAlert } from 'vuetensils/src/components';

export default {
    name: 'flashMessage',
    components: {
        VAlert,
    },
    computed: {
        getType() {
            return this.$store.getters['flashMessage/type'];
        },
        getTitle() {
            if (this.getType === 'error') {
                return this.$i18n.t('messages.error');
            } else if (this.getType === 'confirm') {
                return this.$i18n.t('messages.confirm');
            } else {
                return this.$i18n.t('messages.info');
            }
        },
        getMessage() {
            return this.$store.getters['flashMessage/message'];
        },
        display: {
            get: function () {
                return this.$store.getters['flashMessage/display'];
            },
            set: function (display) {
                this.$store.dispatch('flashMessage/display', display);
            }
        },
    },
};
</script>
