<template>
    <ul class="lang-switcher">
        <li><button @click="setLanguage('en')" class="button-as-link" :disabled="(getLanguage === 'en')">English</button></li>
        <li><button @click="setLanguage('fr')" class="button-as-link" :disabled="(getLanguage === 'fr')">français</button></li>
        <li v-if="getLanguages.includes('zh-hans')"><button @click="setLanguage('zh-hans')" class="button-as-link" :disabled="(getLanguage === 'ze')">简体中文</button></li>
        <li v-if="getLanguages.includes('zh-hant')"><button @click="setLanguage('zh-hant')" class="button-as-link" :disabled="(getLanguage === 'zh')">繁體中文</button></li>
    </ul>
</template>

<script>
    import i18n from "@/i18n";

    export default {
        name: 'language-switcher',
        computed: {
            getLanguage () {
                return i18n.locale;
            },
            getLanguages() {
                return process.env.VUE_APP_I18N_SUPPORTED_LOCALE.split(',');
            }
        },
        methods: {
            setLanguage(lang) {
                this.$store.dispatch('language/switchI18n', lang);
                let name = this.$router.history.current.name;
                let params = this.$router.history.current.params;
                params['lang'] = lang;
                this.$router.push({ name: name, params: params});
            },
        },
    };
</script>
