<template>
    <div id="navigation" class="site-navigation">
        <div class="mobile-buttons">
            <button type="button" id="mobile-search-toggle" aria-controls="search" aria-expanded="false">
                <svg width="20" height="20" viewBox="0 0 50 50" class="svg-sprite" aria-hidden="true" focusable="false"><use xlink:href="#search" /></svg>
                {{ $t('menu.search') }}
            </button>
            <button type="button" id="mobile-menu-toggle" aria-controls="mobile-menu" aria-expanded="false">
                <svg width="20" height="20" viewBox="0 0 50 50" class="svg-sprite" aria-hidden="true" focusable="false"><use xlink:href="#menu" /></svg>
                {{ $t('menu.menu') }}
            </button>
        </div>
        <div id="mobile-menu">
            <nav id="menu" class="site-menu" role="navigation">
                <ul>
                    <li class="site-menu__item"><router-link :to="{ name: 'Home', params: {lang: getLang}}">{{ $t('menu.home') }}</router-link></li>
                    <li class="site-menu__item"><router-link :to="{ name: 'ForumHome', params: {lang: getLang}}">{{ $t('menu.forum') }}</router-link></li>
                    <li class="site-menu__item site-menu__item--children">
                        <router-link :to="{ name: 'GameListByLetter', params: { letter: getLetter, lang: getLang }}">{{ $t('menu.games') }}</router-link>
                        <ul>
                            <li><router-link :to="{ name: 'GameListByLetter', params: { letter: getLetter, lang: getLang }}">{{ $t('menu.game.alpha') }}</router-link></li>
                            <li><router-link :to="{ name: 'PlatformIndex', params: { id: getPlatform.id, slugPlatform: getPlatform.slug, lang: getLang}}">{{ $t('menu.game.platform') }}</router-link></li>
                            <li><router-link :to="{ name: 'SerieLeaderboard', params: { idSerie: getSerie.id, slugSerie: getSerie.slug, lang: getLang}}">{{ $t('menu.game.serie') }}</router-link></li>
                            <li><router-link :to="{ name: 'GameNext', params: { lang: getLang }}">{{ $t('menu.game.next') }}</router-link></li>
                            <li><router-link :to="{ name: 'GameLast', params: { lang: getLang }}">{{ $t('menu.game.last') }}</router-link></li>
                        </ul>
                    </li>
                    <li class="site-menu__item"><a :href="getYoutubeUrl" target="_blank">{{ $t('menu.video') }}</a></li>
                    <li class="site-menu__item"><router-link :to="{ name: 'PlayerList', params: {lang: getLang}}">{{ $t('menu.players') }}</router-link></li>
                    <li class="site-menu__item site-menu__item--children">
                        <router-link :to="{ name: 'LeaderboardPointGame', params: {lang: getLang}}">{{ $t('menu.rankings') }}</router-link>
                        <ul>
                            <li><router-link :to="{ name: 'LeaderboardPointGame', params: {lang: getLang}}">{{ $t('menu.ranking.pointGame') }}</router-link></li>
                            <li><router-link :to="{ name: 'LeaderboardCup', params: {lang: getLang}}">{{ $t('menu.ranking.cups') }}</router-link></li>
                            <li><router-link :to="{ name: 'LeaderboardPointChart', params: {lang: getLang}}">{{ $t('menu.ranking.pointChart') }}</router-link></li>
                            <li><router-link :to="{ name: 'LeaderboardMedal', params: {lang: getLang}}">{{ $t('menu.ranking.medals') }}</router-link></li>
                            <li><router-link :to="{ name: 'LeaderboardBadge', params: {lang: getLang}}">{{ $t('menu.ranking.badge') }}</router-link></li>
                            <li><router-link :to="{ name: 'LeaderboardProof', params: {lang: getLang}}">{{ $t('menu.ranking.proof') }}</router-link></li>
                        </ul>
                    </li>
                    <li class="site-menu__item site-menu__item--children">
                        <router-link :to="{ name: 'Credits', params: {lang: getLang}}">{{ $t('menu.site') }}</router-link>
                        <ul>
                            <li><router-link :to="{ name: 'Rules', params: {lang: getLang}}">{{ $t('menu.rules') }}</router-link></li>
                            <li><router-link :to="{ name: 'Faq', params: {lang: getLang}}">{{ $t('menu.faq') }}</router-link></li>
                            <li><router-link :to="{ name: 'Credits', params: {lang: getLang}}">{{ $t('menu.credits') }}</router-link></li>
                            <li><router-link :to="{ name: 'Donations', params: {lang: getLang}}">{{ $t('menu.donations') }}</router-link></li>
                            <li><router-link :to="{ name: 'Recruitment', params: {lang: getLang}}">{{ $t('menu.recruitments') }}</router-link></li>
                            <li><router-link :to="{ name: 'TheVgrTeam', params: {lang: getLang}}">{{ $t('menu.staff') }}</router-link></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</template>

<script>
import Language from "@/mixins/Language.vue";

export default {
    mixins: [Language],
    name: 'Navigation',
    mounted() {
        let navigation = document.createElement('script')
        navigation.setAttribute('src', '/js/navigation.js?v=7.0.14')
        navigation.defer = true
        document.head.appendChild(navigation)
    },
    computed: {
        getPlatform() {
            return this.$store.getters['navigation/platform'];
        },
        getSerie() {
            return this.$store.getters['navigation/serie'];
        },
        getLetter() {
            return this.$store.getters['navigation/letter'];
        },
        getYoutubeUrl() {
          return process.env.VUE_APP_VGR_YOUTUBE_URL;
        },
    },
};
</script>
