<template>
    <div v-if="display" class="pagination">
        <span class="pagination__current">{{ $t('pagination.page') }} {{current_page}} {{ $t('pagination.of') }}  {{last_page}}</span>
        <button :class="config.classes_prev" @click="fetchData(prev_page_url)" :disabled="!prev_page_url">
            {{ $t('pagination.previous') }}
        </button>
        <button v-for="page in display_page" :data-position="page.position" :key="page.id" :class="config.classes_page" @click="fetchData(page.url)">
            {{ page.number }}
        </button>
        <button :class="config.classes_next" @click="fetchData(next_page_url)" :disabled="!next_page_url">
            {{ $t('pagination.next') }}
        </button>
    </div>
</template>


<script>
    import {utils} from './utils';
    import ApiService from '../services/api.service';

    export default {
        props: {
            resource_url: {
                type: String,
                required: true
            },
            display: {
                type: Boolean,
                required: false,
                default: true,
            },
            options: {
                type: Object,
                required: false,
                default () {
                    return {}
                }
            }
        },
        data () {
            return {
                hidden: true,
                display_page : [],
                current_page: '',
                last_page: '',
                current_page_url: '',
                next_page_url: '',
                prev_page_url: '',
                last_page_url: '',
                config: {
                    remote_data: 'hydra:member',
                    remote_paginate: 'hydra:view',
                    remote_last_page: 'hydra:view.hydra:last',
                    remote_current_page_url: 'hydra:view.@id',
                    remote_next_page_url: 'hydra:view.hydra:next',
                    remote_prev_page_url: 'hydra:view.hydra:previous',
                    remote_last_page_url: 'hydra:view.hydra:last',
                    previous_button_text: 'Previous',
                    next_button_text: 'Next',
                    classes_prev: 'btn btn-default',
                    classes_next: 'btn btn-default',
                    classes_page: 'btn btn-default'
                }
            }
        },
        methods: {
            fetchData (pageUrl) {
                if (this.resource_url !== '') {
                    this.$emit("request_start");
                    pageUrl = pageUrl || this.resource_url
                    let self = this;
                    ApiService.get(pageUrl).then(response => {
                        self.$emit("request_finish", response);
                        self.handleResponseData(response.data)
                    }).catch(function (response) {
                        self.$emit("request_error", response);
                    })
                }
            },
            reload() {
                this.fetchData(this.current_page_url);
            },
            handleResponseData (response) {
                this.makePagination(response);
                let data = utils.getNestedValue(response, this.config.remote_data);
                this.$emit('update', data);
            },
            makePagination (data) {
                if (data.hasOwnProperty(this.config.remote_paginate)) {
                    this.current_page_url = utils.getNestedValue(data, this.config.remote_current_page_url);
                    this.last_page_url = utils.getNestedValue(data, this.config.remote_last_page_url);
                    let params;
                    params = utils.getQueryParams(this.current_page_url);
                    this.current_page = params['page'];
                    if (this.last_page_url) {
                        params = utils.getQueryParams(this.last_page_url);
                        this.last_page = params['page'];
                    } else {
                        this.last_page = 1;
                    }
                    this.next_page_url = (this.current_page === this.last_page) ? null : utils.getNestedValue(
                        data, this.config.remote_next_page_url);
                    this.prev_page_url = (this.current_page === 1) ? null : utils.getNestedValue(
                        data, this.config.remote_prev_page_url);

                    this.display_page = [];
                    let prefixe_url = this.current_page_url.substring(0, this.current_page_url.indexOf('page=') + 5);
                    if (this.last_page <= 4) {
                        for (let i = 1; i <= this.last_page; i++) {
                            this.display_page.push({'number':i,'url': prefixe_url + i});
                        }
                    } else {
                        let pages = [1, 2, this.last_page-1, this.last_page];
                        let paginate = this;
                        for(let i=parseInt(this.current_page) - 2; i<=parseInt(this.current_page) + 2; i++) {
                            if ((i > 2) && (i < this.last_page - 1)) {
                                pages.push(i);
                            }
                        }
                        pages = utils.sortIntegerArray(pages);
                        pages.forEach(function (page) {
                            paginate.display_page.push({'number':page,'url': prefixe_url + page});
                        });
                    }
                } else {
                    this.current_page = 1;
                    this.last_page = 1;
                }
            },
        },
        watch : {
            resource_url () {
                this.fetchData()
            }
        },
        created () {
            this.fetchData()
        },
    }
</script>
