<template>
    <div class="search-form">
        <form id="search" @submit="submit" @submit.prevent>
            <label for="term" class="screen-reader-text">{{ $t('search.label') }}</label>
            <input id="term" v-model="term" type="text" :placeholder="$t('search.placeholder')" :minlength="3" required />
            <input type="submit" :value="$t('search.submit')" />
        </form>

        <p v-html="$t('search.score', [advancedSearchUrl])"></p>
    </div>
</template>

<script>
import Language from "@/mixins/Language.vue";

export default {
    mixins: [Language],
    name: 'search-box',
    data() {
        return {
            term: '',
        };
    },
    computed: {
        advancedSearchUrl() {
            let lang = this.getLang;
            let props = this.$router.resolve({
                name: 'PlayerChartSearch',
                params: { lang: lang},
            });

            return props.href;
        },
    },
    methods: {
        submit() {
            if ((this.$route.name !== 'Search') || (this.$route.query.term !== this.term)) {
                this.$router.push({name: "Search", query: {term: this.term}});
            }
        },
    },
};
</script>
