<template>
    <div class="site-stats">
        <div v-if="isLoading">
            <loading></loading>
        </div>
        <div v-else>
            {{ $t('global.stats', format(getData)) }}
        </div>
    </div>
</template>

<script>
    export default {
        name: 'stats',
        data() {
            return {

            };
        },
        created() {
            if (this.$store.getters['stats/isLoaded'] === false) {
                this.$store.dispatch('stats/load');
            }
        },
        computed: {
            isLoading() {
                return this.$store.getters['stats/isLoading'];
            },
            getData() {
                return this.$store.getters['stats/data'];
            }
        },
        methods: {
            format(data) {
                let stats = [];
                stats[0] = Number(data[0]).toLocaleString(this.$i18n.locale);
                stats[1] = Number(data[1]).toLocaleString(this.$i18n.locale);
                stats[2] = Number(data[2]).toLocaleString(this.$i18n.locale);
                stats[3] = Number(data[3]).toLocaleString(this.$i18n.locale);
                return stats;
            },
        },
    };
</script>
