<template>
    <div>
        <table class="leaderboard-points-player">
            <caption class="screen-reader-text">{{ $t('leaderboard.gamePoints.caption') }}</caption>
            <thead>
                <tr>
                    <th scope="col">{{ $t('global.rank') }}</th>
                    <th scope="col">{{ $t('global.nickname') }}</th>
                    <th scope="col">{{ $t('global.gamePoints') }}</th>
                    <th scope="col">{{ $t('global.games') }}</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <VAsync :await="leaderboard">
                <template #pending>
                    <tbody>
                        <tr>
                            <td colspan="5">
                                <loading></loading>
                            </td>
                        </tr>
                    </tbody>
                </template>
                <template #resolved="leaderboard">
                    <tbody>
                        <tr v-for="item in leaderboard" :data-rank="item.rankPointGame" :key="item.id" :class="[isAuthenticated && getPlayer.team && getPlayer.team.id === item.id ? 'player--me' : 'player' ]">
                            <td>{{ item.rankPointGame }}</td>
                            <td v-if="item.team">
                                <team v-bind:team="item.team" v-bind:show-avatar="showAvatar"></team>
                            </td>
                            <td v-else>
                                <team v-bind:team="item" v-bind:show-avatar="showAvatar"></team>
                            </td>
                            <td :data-header="$t('global.gamePoints')">{{ item.pointGame | number }}</td>
                            <td :data-header="$t('global.gamesLowercase')">{{ item.nbGame | number }}</td>
                            <td><button type="button" class="button-as-link" @click="test(item)">{{ $t('global.teamRanking') }}</button></td>
                        </tr>
                    </tbody>
                </template>
            </VAsync>
        </table>

        <VDialog v-model="dialog" no-scroll bg-transition="fade">
            <h3>{{ team.libTeam }}</h3>
            <leaderboard-player-point-game v-bind:leaderboard=leaderboardPlayer></leaderboard-player-point-game>
            <button :aria-label="$t('dialog.close')" class="vts-dialog__close" @click="dialog = false">&times;</button>
        </VDialog>
    </div>
</template>

<script>
import Team from '@/components/vgr/team/Team.vue';
import LeaderboardPlayerPointGame from '@/components/vgr/player/leaderboard/PointGame';
import GameApi from "@/services/api/vgr/Game";
import PlayerApi from "@/services/api/vgr/Player";
import Security from "@/mixins/Security.vue";

export default {
    mixins: [Security],
    name: 'LeaderboardPoint',
    props: {
        'leaderboard' : {
            require: true,
        },
        'showAvatar': {
            default: true,
            type: Boolean,
        },
    },
    components: {
        'Team': Team,
        'leaderboard-player-point-game': LeaderboardPlayerPointGame,
    },
    data() {
        return {
            leaderboardPlayer: null,
            dialog: false,
            team: {
                libTeam: '',
            },
        };
    },
    methods: {
        test (item) {
            if (item.team) {
                this.team = item.team;
            } else {
                this.team = item;
            }
            this.dialog = true;
            if (this.$route.params.idGame) {
                this.leaderboardPlayer = GameApi.getPlayerRankingPoints(this.$route.params.idGame, {query: {'idTeam': this.team.id}})
                    .then((response) => response);
            } else {
                this.leaderboardPlayer = PlayerApi.getRankingPointGame({query: {'idTeam': this.team.id}})
                    .then((response) => response);
            }
        }
    },
};
</script>
