<template>
    <div class="article__comment-form">
        <h3>{{ $t('article.comment.edit') }}</h3>
        <form id="app" class="vgr-form" @submit="submit" @submit.prevent>
            <ckeditor :editor="editor" v-model="comment.text" :config="editorConfig" minlength="4" required></ckeditor>
            <div>
                <input type="submit" :value="$t('tag.submit')" />
            </div>
        </form>
    </div>
</template>

<script>
    import NormandieEditor from 'ckeditor5-build-normandie';
    import 'ckeditor5-build-normandie/build/translations/fr';
    import CommentApi from "@/services/api/article/Comment";

    export default {
        name: 'ArticleCommentEdit',
        components: {

        },
        props: {
            comment: {
                type: Object,
                require: true,
            },
        },
        data() {
            return {
                error: null,
                editor: NormandieEditor,
                editorData: '',
                editorConfig: {
                    toolbar: {
                        items: [
                            'heading',
                            'bold',
                            'italic',
                            'strikethrough',
                            '|',
                            'bulletedList',
                            'numberedList',
                            'blockQuote',
                            '|',
                            'link',
                            'specialCharacters',
                            '|',
                            'removeFormat',
                            'undo',
                            'redo',
                        ]
                    },
                    image: {
                        toolbar: [
                            'imageTextAlternative',
                            'linkImage'
                        ]
                    },
                    language: this.$i18n.locale,
                }
            };
        },
        methods: {
            submit: function () {
                CommentApi.put(this.comment)
                    .then(response => {
                        if (response.status === 200) {
                          this.$parent.$parent.dialog = false;
                        }
                    });
            },
        },
    };
</script>
