<template>
    <div>
        {{ $t('forum.tag.on') }}
        <date v-bind:date="message.createdAt" v-bind:options="{ year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' }"></date>
        {{ $t('forum.tag.by') }} <user v-bind:user="message.user" />
    </div>
</template>

<script>
    import Date from '@/components/tools/Date.vue';
    import User from '@/components/user/User';

    export default {
        name: 'LastMessage',
        components: {
            'date': Date,
            User,
        },
        props: {
            'message': {
                type: Object,
                require: true,
            },
        },
    };
</script>


