<template>
    <div>
        <message v-for="message in messages" :data-position="message.position" :key="message.id" v-bind:message=message
            v-bind:readonly="true"
            v-bind:display-author="true"
        >
        </message>
        <paginate ref="paginate" :resource_url="getResourceUrl" @update="updateResource" class="pagination--bottom"></paginate>
    </div>
</template>

<script>
    import Paginate from '@/components/Paginate.vue';
    import Message from '@/components/forum/message/Message.vue';

    export default {
        name: 'MessageList',
        components: {
            'paginate' : Paginate,
            'message' : Message,
        },
        props: {
            'idPlayer': {
                require: false,
            },
            'itemsPerPage': {
                default: 10,
                type: Number,
            },
        },
        data() {
            return {
                messages: [],
                resource_url : '/api/forum_messages',
                order: {
                    column: 'createdAt',
                    direction: 'DESC',
                },
            };
        },
        computed: {
            getResourceUrl() {
                let url = this.resource_url;
                url = url + '?itemsPerPage=' + this.itemsPerPage;
                url = url + '&groups[]=forum.user.read&groups[]=forum.user.status&groups[]=user.status.read&topic.forum.status=public';
                if (this.idPlayer != null) {
                    url = url + '&groups[]=forum.message.read&groups[]=forum.message.topic&groups[]=forum.topic.read&groups[]=forum.topic.forum&groups[]=forum.forum.read&user=' + this.idPlayer;
                }
                url = url + '&order[' + this.order.column + ']=' + this.order.direction;
                return url;
            }
        },
        created() {

        },
        methods: {
            updateResource(data){
                this.messages = data
            },
        },
    };
</script>
