<template>
    <div class="message" :id="message.id">

        <div v-if="message.topic" class="message-topic">
            <topic v-bind:topic="message.topic"></topic>
            <shortcut v-bind:topic="message.topic"></shortcut>
        </div>

        <div v-if="displayAuthor" class="message-author">
            <user v-bind:user="message.user" v-bind:show-avatar="true"></user>
            <span class="message-author__messages">{{ message.user.nbForumMessage | number }} {{ $t('forum.tag.messages') }}</span>
        </div>

        <div class="message-content">
            <router-link :to="{query: {'page': message.page}, hash: '#' + message.id }" @click.native="scrollFix('#' + message.id)">
                <date v-bind:date="message.createdAt" v-bind:options="{ year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' }"></date>
            </router-link>
            <div v-html="message.message" class="message-content__text"></div>
            <button v-if="(readonly === false) & (isOwner === true)" @click="showForm()" class="button-as-link message-content__edit">{{ $t('tag.edit') }}</button>

            <div v-if="displayForm === true" class="message-content__form vgr-form">
                <ckeditor :editor="editor" v-model="message.message" :config="editorConfig"></ckeditor>
                <button v-on:click="submit">{{ $t('tag.submit') }}</button>
            </div>
        </div>
    </div>
</template>

<script>
import MessageApi from '@/services/api/forum/Message';
import NormandieEditor from 'ckeditor5-build-normandie';
import 'ckeditor5-build-normandie/build/translations/fr';
import Date from '@/components/tools/Date.vue';
import User from '@/components/user/User.vue';
import Topic from "@/components/forum/topic/Topic";
import Shortcut from '@/components/forum/topic/Shortcut.vue';
import Security from "@/mixins/Security.vue";

export default {
    mixins: [Security],
    name: 'Message',
    components: {
        'date': Date,
        'user': User,
        'topic' : Topic,
        'shortcut' : Shortcut,
    },
    props: {
        'displayAuthor': {
            type: Boolean,
            require: false,
            default: true,
        },
        'readonly': {
            type: Boolean,
            require: false,
            default: true,
        },
        'message': {
            type: Object,
            require: true,
        },
    },
    data() {
        return {
            displayForm: false,
            editor: NormandieEditor,
            editorData: '',
            editorConfig: {
                toolbar: {
                    items: [
                        'heading',
                        'bold',
                        'italic',
                        'strikethrough',
                        '|',
                        'bulletedList',
                        'numberedList',
                        'blockQuote',
                        '|',
                        'link',
                        'insertImage',
                        'specialCharacters',
                        'mediaEmbed',
                        'insertTable',
                        '|',
                        'removeFormat',
                        'undo',
                        'redo',
                    ]
                },
                image: {
                    toolbar: [
                        'imageTextAlternative',
                        'linkImage',
                    ]
                },
                table: {
                    contentToolbar: [
                        'tableColumn',
                        'tableRow',
                        'mergeTableCells',
                        'tableCellProperties',
                        'tableProperties'
                    ]
                },
                language: this.$i18n.locale,
            }
        };
    },
    computed: {
        isOwner() {
            return (this.isAuthenticated && (this.getUser.id === this.message.user.id))
        },
    },
    methods: {
        submit: function () {
            MessageApi.put(this.message).then(response => {
                if (response.status === 200) {
                    this.displayForm = false;
                }
            })
        },
        showForm : function () {
            this.displayForm = true;
        },
        scrollFix: function(hashbang) {
             window.location.hash = hashbang;
        },
    },
};
</script>


