<template>
    <div class="">
        <select id="serie-switch" v-on:change="onChange()" v-model="selected">
            <option v-for="serie in series" :key="serie.id" v-bind:value="serie">
                {{ serie.name }}
            </option>
        </select>
    </div>
</template>

<script>
    import SerieApi from '@/services/api/vgr/Serie';

    export default {
        name: 'SerieAside',
        components: {

        },
        data() {
            return {
                selected: {},
                series: []
            };
        },
        created() {
            SerieApi.getList({
                query: {
                    'pagination': false,
                    'order[libSerie]': 'ASC',
                    'status': 'ACTIVE'
                }
            }).then(
                series => {
                  this.series = series['hydra:member'];
                }
            ).then(
                () => {
                    let id = this.$route.params.idSerie;
                    let selected = null;
                    this.series.forEach(function (serie) {
                        if (id == serie.id) {
                            selected = serie
                        }
                    })
                    this.selected = selected;
                }
            );
        },
        methods: {
            onChange () {
                this.goTo(this.selected);
            },
            goTo(serie) {
                this.$router.push({ name: "SerieLeaderboard", params: {idSerie : serie.id, slugSerie: serie.slug}});
            },
        }
    };
</script>