<template>
    <div v-if="serie" class="game-card">
      <router-link :to="{ name: 'SerieLeaderboard', params: { idSerie: serie.id, slugSerie: serie.slug } }" class="game-card__cover">
        <img v-bind:src="getPicture" alt="" width="198" height="100" aria-hidden="true" />
      </router-link>

        <div class="game-card__infos">
            <div class="h1">{{ serie.name }}</div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'SerieCard',
    props: ['serie'],
    components: {

    },
    computed: {
        getPicture() {
            return process.env.VUE_APP_ROOT_API + '/serie/' + this.serie.id + '/picture';
        },
    },
};
</script>
