<template>
    <div>
        <vue-headful :title="title" :description="description" />

        <h1>{{ $t('lostPosition.index.title') }}</h1>

        <div class="filter">
            <VAsync :await="games">
                <template #pending>
                    <loading />
                </template>
                <template #resolved="games">
                        <label for="filter-games">{{ $t('game.filter') }}</label>
                        <select v-on:change="onChange()" v-model="selected" id="filter-games">
                            <option value="">{{ $t('game.all') }}</option>
                            <option v-for="row in games['hydra:member']" :key="row.id" v-bind:value="row['id']">
                                {{ row.name }}
                            </option>
                        </select>
                </template>
            </VAsync>
        </div>

        <table class="lost-positions">
            <caption class="screen-reader-text">{{ $t('lostPosition.index.caption') }}</caption>
            <thead>
                <tr>
                    <td class="lost-positions__selection"></td>
                    <th scope="col" class="lost-positions__date">{{ $t('global.date') }}</th>
                    <th scope="col" class="lost-positions__record">{{ $t('global.chart') }}</th>
                    <th scope="col" class="lost-positions__change">{{ $t('lostPosition.change') }}</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <button v-if="isSelectAll === false" @click="selectAll()">{{ $t('tag.selectAll') }}</button>
                        <button v-else @click="unselectAll()">{{ $t('tag.unselectAll') }}</button>
                        <button @click="deleteRow()">{{ $t('tag.delete') }}</button>
                    </td>
                </tr>
            </tfoot>
            <tbody>
                <tr v-for="row in data" :data-position="row.position" :key="row.id">
                    <td class="lost-positions__selection">
                        <input v-model="row.toDelete" type="checkbox" value="1">
                    </td>
                    <td class="lost-positions__date">
                        <date v-bind:date="row.createdAt" v-bind:options="{ year: 'numeric', month: 'long', day: 'numeric' }"></date>
                    </td>
                    <td class="lost-positions__record">
                        <chart v-bind:chart="row.chart"></chart>
                    </td>
                    <td class="lost-positions__change">
                        <del>{{ row.oldRank }}</del> → {{ row.newRank }}
                    </td>
                </tr>
            </tbody>
        </table>
        
        <paginate ref="paginate" :resource_url="getResouceUrl" @update="updateResource" class="pagination--bottom"></paginate>
    </div>
</template>

<script>

import BreadcrumbsManager from '@/mixins/BreadcrumbManager';
import Paginate from '@/components/Paginate.vue';
import Chart from '@/components/vgr/chart/Chart.vue';
import LostPositionApi from '@/services/api/vgr/LostPosition';
import ApiService from '@/services/api.service';
import Date from '@/components/tools/Date.vue';
import GameApi from "@/services/api/vgr/Game";
import PlayerApi from "@/services/api/vgr/Player";
import i18n from "@/i18n";
import Security from "@/mixins/Security.vue";
import moment from "moment";

export default {
    mixins: [BreadcrumbsManager, Security],
    name: 'LostPosition',
    components: {
        'paginate' : Paginate,
        'chart' : Chart,
        'date': Date,
    },
    data() {
        return {
            data:[],
            resource_url : '/api/lost_positions?player=',
            selected: '',
            games: null
        };
    },
    computed: {
        title() {
            return this.$i18n.t('lostPosition.index.title')+ ' - ' + process.env.VUE_APP_TITLE;
        },
        description() {
            return this.$i18n.t('lostPosition.index.description');
        },
        getIdGame() {
            return this.$store.getters['navigation/lostPosition'].idGame;
        },
        getResouceUrl() {
            let url = this.resource_url +  + this.getPlayer.id;
            if (this.getIdGame != null) {
                url = url + '&chart.group.game=' + this.getIdGame;
            }
            return url;
        },
        isSelectAll() {
            let bool = true;
            this.data.forEach(function (row) {
                if (row.toDelete === false) {
                    bool = false;
                }
            });
            return bool;
        },
        getLanguage () {
            return i18n.locale;
        },
        getLibGame() {
            if (this.$i18n.locale === 'fr') {
                return 'libGameFr';
            }
            return 'libGameEn';
        },
    },
    watch : {
        getLanguage() {
            this.loadData();
        },
    },
    created() {
        this.updateLastDisplay();
        this.loadData();
        this.loadGames();
        this.selected = this.getIdGame;
    },
    methods: {
        updateLastDisplay(){
            PlayerApi.put({id:this.getPlayer.id, 'lastDisplayLostPosition': moment().toISOString()});
        },
        loadGames: function () {
            let params = {
                query: {
                    groups: ['game.read.mini'],
                    pagination: false,
                    'groups.charts.lostPositions.player': this.getPlayer.id,
                },
                cache : {useCache: true}
            };
            params.query['order[' + this.getLibGame +']'] = 'ASC';

            this.games = GameApi.getList(params)
                .then((response) => response)
        },
        loadData() {
            this.setBreadcrumbOnlyItem1(
                { text: this.$i18n.t('title')}
            );
        },
        updateResource(data){
            this.data = data;
            let _this = this;
            this.data.forEach(function (row) {
                _this.$set(row, 'toDelete', false);
            });
        },
        onChange() {
            this.$store.dispatch('navigation/setLostPositionGame', this.selected)
        },
        selectAll: function() {
            this.data.forEach(function (row) {
                row.toDelete = true
            });
        },
        unselectAll: function() {
            this.data.forEach(function (row) {
                row.toDelete = false;
            });
        },
        deleteRow: function () {
            if (confirm(this.$i18n.t('dialog.delete'))) {
                let promises = [];
                this.data.forEach(function (row) {
                    if (row.toDelete === true) {
                        promises.push(LostPositionApi.delete(row['id']));
                    }
                });
                ApiService.all(promises)
                    .then(() => {
                        this.$refs.paginate.reload();
                        this.$store.dispatch('lostPosition/majNb', this.getPlayer.id);
                    })
            }
        },
    },
};
</script>
