<template>
    <highcharts :options="chartOptions"></highcharts>
</template>

<script>
    import PlayerApi from '@/services/api/vgr/Player';
    export default {
        name: 'PlayerStatsMedalsByTime',
        props: ['idPlayer'],
        computed: {
        },
        data() {
            return {
                chartOptions: {
                    title: {
                        text: this.$i18n.t('global.medals'),
                        zoomType: 'xy',
                        panKey: 'ctrl'
                    },
                    colors: [
                        '#b3e9ff', // $platinium
                        '#ffd900', // $gold
                        '#bfbfbf', // $silver
                        '#cd8032'  // $bronze
                    ],
                    xAxis: {
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: this.$i18n.t('medalsNumber')
                        }
                    },
                    plotOptions: {
                        series: {
                             pointInterval: 24 * 3600 * 1000 // one day
                        }
                    },
                    series: [
                        {
                            name: this.$i18n.t('global.platinum'),
                            data: []
                        },
                        {
                            name: this.$i18n.t('global.gold'),
                            data: []
                        },
                        {
                            name: this.$i18n.t('global.silver'),
                            data: []
                        },
                        {
                            name: this.$i18n.t('global.bronze'),
                            data: []
                        }
                    ]
                }
            };
        },
        created() {
            this.load();
        },
        methods: {
            load() {
                PlayerApi.getMedalsInTime(this.$route.params.idPlayer)
                    .then((response) => {
                        this.chartOptions.series[0].data = response[0];
                        this.chartOptions.series[1].data = response[1];
                        this.chartOptions.series[2].data = response[2];
                        this.chartOptions.series[3].data = response[3];
                        let begin = response[4][0];
                        this.chartOptions.plotOptions.series.pointStart = Date.UTC(begin.substr(0,4), begin.substr(5,2) - 1, begin.substr(8,2));
                    });
            }
        },
    };
</script>


