<template>
    <highcharts :options="chartOptions"></highcharts>
</template>

<script>
    import PlayerApi from '@/services/api/vgr/Player';
    export default {
        name: 'PlayerStatsPositions',
        props: ['idPlayer'],
        computed: {
        },
        data() {
            return {
                chartOptions: {
                    chart: {
                        type: 'column',
                        zoomType: 'xy',
                        panKey: 'ctrl'
                    },
                    title: {
                        text: this.$i18n.t('global.positions')
                    },
                    colors: [
                        '#e06500',
                    ],
                    xAxis: {
                        categories: [
                            '1', '2', '3', '4', '5', '6', '7', '8', '9', '10',
                            '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
                            '21', '22', '23', '24', '25', '26', '27', '28', '29', '30+'
                        ]
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: this.$i18n.t('global.total')
                        },
                        stackLabels: {
                            enabled: true,
                            style: {
                                fontWeight: 'bold',
                                color: 'gray'
                            }
                        }
                    },
                    series: [{
                        name: this.$i18n.t('positions'),
                        data: []
                    }]
                }
            };
        },
        created() {
            this.load();
        },
        methods: {
            load() {
                PlayerApi.getPositions(this.$route.params.idPlayer)
                    .then((response) => {
                        this.chartOptions.series[0].data = response;
                    });
            }
        },
    };
</script>
