<template>
    <table class="leaderboard-points">
        <caption>{{ $t('leaderboard.gamePoints.captionTeam') }}</caption>
        <thead>
            <tr>
                <th scope="col">{{ $t('global.team') }}</th>
                <th scope="col">{{ $t('global.gamePoints') }}</th>
            </tr>
        </thead>
        <VAsync :await="leaderboard">
            <template #pending>
                <tbody>
                    <tr>
                        <td colspan="2">
                            <loading></loading>
                        </td>
                    </tr>
                </tbody>
            </template>
            <template #resolved="leaderboard">
                <tbody>
                    <tr v-for="item in leaderboard" :data-rank="item.rankPointGame" :key="item.id">
                        <td v-if="item.team">
                            <team v-bind:team="item.team"></team>
                        </td>
                        <td v-else>
                            <team v-bind:team="item"></team>
                        </td>
                        <td :data-header="$t('global.gamePoints')">{{ item.pointGame|number }}</td>
                    </tr>
                </tbody>
            </template>
        </VAsync>
    </table>
</template>

<script>
    import Team from '@/components/vgr/team/Team.vue';
    import TeamApi from '@/services/api/vgr/Team';

    export default {
        name: 'LeaderboardPoint',
        components: {
            'Team': Team,
        },
        data() {
            return {
                leaderboard : TeamApi.getRankingPointGame({query: {maxRank:5},cache : {useCache: true}})
                    .then((response) => response),
            };
        },
    };
</script>
