<template>
    <div class="advanced-search__player">
        <label for="autocomplete-players">{{ $t('global.players') }}</label>
        <autocomplete
                id="autocomplete-players"
                ref="autocomplete-players"
                :placeholder="this.$i18n.t('search.player')"
                :source="url"
                results-property="hydra:member"
                results-display="pseudo"
                @selected="select">
        </autocomplete>

        <button v-for="(player, index) in data" :data-position="player.position" :key="player.id" @click="remove(index)" class="button-as-link tag">
            <span class="tag--close" :aria-label="$t('tag.remove')">×</span> {{ player.pseudo }}
        </button>
    </div>
</template>

<script>
    import Autocomplete from 'vuejs-auto-complete';

    export default {
        name: 'PlayerSelectMultiple',
        components: {
            Autocomplete
        },
        data() {
            return {
                data: [],
            };
        },
        methods: {
            url(input) {
                return process.env.VUE_APP_ROOT_API + '/api/players/autocomplete?query=' + input
            },
            select(result) {
                this.data.push(result['selectedObject']);
            },
            remove(index) {
                this.data.splice(index, 1);
            },
            getIds() {
                let filter = [];
                this.data.forEach(function (player) {
                    filter.push(player.id);
                });
                return filter;
            }
        },
    };
</script>
