@charset "UTF-8";
/**
 * @site            Video Games Records
 * @author          Luc Poupard
 * @note            Accordion
 */

.accordion-like {
	&:not(:last-child) {
		border-bottom: 1px solid $form-border;
	}

	[aria-expanded] {
		border: none;
		box-shadow: unset;
		display: flex;
		align-items: center;
		width: 100%;
		text-align: left;
		cursor: pointer;

		svg {
			margin-right: .5em;
		}
	}

	[aria-expanded="true"] {
		svg {
			transform: rotate(180deg);
		}
	}
}