@charset "UTF-8";
/**
 * @site            Video Games Records
 * @author          Luc Poupard
 * @note            Views/Articles
 */

/* List */
@mixin article-list-small {
    .article__title {
        a {
            font-weight: bold;
        }
    }
    .article__author {
        &::before {
            content: attr(data-header) " ";
        }
    }
}

@mixin article-list-medium {
    .article__date {
        width: em(180);
    }

    .article__author {
        width: em(150);
    }
}

/* Detail */
.article__header {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed $form-border;
}

.article__comments {
    margin-top: 3rem;
    padding-top: 1rem;
    border-top: 1px dashed $form-border;
}

.article__comment-form {
    margin-top: 3rem;
}

// Weekly tops
.article-top {
    &__players,
    &__games {
        text-align: center;
    }

    // Avatar and cover images
    &__player,
    &__game {
        display: inline-block;
        margin: .25em .5rem;
    }

    // Tables
    &__table {
        margin-top: 2rem;

        th:nth-child(4) {
            white-space: nowrap;
            overflow: hidden;
            text-indent: 100vw;
        }
    }

    // Position changes
    &--new {
        color: $secondary-color;
    }

    &--up {
        color: $valid;
    }

    &--down {
        color: $error;
    }

    &--equal {
        color: $help;
    }
}

th.article-top__bottom-left {
    text-align: right;
}

@mixin article-top-small {
    .article-top {
        &__table {
            tr {
                position: relative;
            }

            td:nth-child(1):not(.article-top__bottom-left) {
                position: absolute;
                top: 0;
                right: 0;

                &::before {
                    content: "#";
                }
            }

            td:nth-child(2):not(.article-top__bottom-right) {
                padding-top: .5em;
                font-weight: bold;
            }

            td:nth-child(3) {
                padding-bottom: .5em;
            }
    
            td:nth-child(4) {
                position: absolute;
                right: 0;
                bottom: 0;
            }

            th.article-top__bottom-left,
            td.article-top__bottom-left,
            td.article-top__bottom-right {
                display: inline-block;
                padding: .25em .5em;
                width: 49%;
            }

            th.article-top__bottom-left,
            td.article-top__bottom-left {
                text-align: right;
            }

            td.article-top__bottom-left {
                &::before {
                    content: "#";
                }
            }
        }
    }
}

@mixin article-top-medium {
    .article-top {
        &__table {
            th:nth-child(1),
            td:nth-child(1):not(.article-top__bottom-left) {
                width: em(100);
            }
    
            th:nth-child(3),
            td:nth-child(3) {
                width: em(160);
            }
    
            th:nth-child(4),
            td:nth-child(4) {
                width: em(60);
                text-align: center;
            }
        }
    }
}

/**
 * Retrocompatible styles
 */
.blue {
    color: $secondary-color;
}

.green {
    color: $valid;
}

.red {
    color: $error;
}

.grey {
    color: $help;
}

table[border] {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

table[border] td[class]:not([width]),
table[border] td[align]:not([width]) {
    width: 100px;
    text-align: right;
}

td[width="344"] {
    width: 100% !important;
    text-align: left !important;
}

td[width="82"] {
    width: 160px !important;
}

td[width="40"] {
    width: 65px !important;
}

td[align="center"] {
    text-align: center;
}

td[align="right"] {
    text-align: right;
}