@charset "UTF-8";
/**
 * @site            Video Games Records
 * @author          Luc Poupard
 * @note            Badges
 */

.badge-detail {
	.platform-list {
		margin: 0;
	}

	.h3 {
		margin-top: .5em;
		margin-bottom: 0;

		+ ul {
			margin-top: 0;
			margin-bottom: 2em;
			padding-left: .5em;
		}
	}

	&__infos {
		display: flex;
		align-items: flex-start;

		> span {
			width: em(50);
		}

		> div {
			flex: 1;
		}

		ul {
			padding-left: 0.25em;
		}
	}

	&__game {
		margin-bottom: 2em;
	}
}

@mixin badge-detail-medium {
	.badge-detail {	
		&__content {
			display: flex;
			justify-content: space-between;
		}
	
		&__status {
			flex: 1;
		}
	
		&__game {
			width: em(200);
			margin-left: 2em;
	
			img {
				display: block;
				margin-bottom: .5em;
				@include box-shadow( $black );
			}
		}
	}
}