@charset "UTF-8";
/**
 * @site            Video Games Records
 * @author          Luc Poupard
 * @note            Button actions
 */

.button-actions {
    text-align: center;

    &--top {
        margin-bottom: 1em;
        padding-bottom: .5em;
    }

    &--bottom {
        margin-top: 1em;
        padding-top: .5em;
    }

    > * {
        margin: .25em;
    }
}