@charset "UTF-8";
/**
 * @site            Video Games Records
 * @author          Luc Poupard
 * @note            Filter
 */

.filter {
    display: flex;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px dashed $form-border;

}

@mixin filter-small {
    .filter {
        flex-direction: column;

        > *:not(:first-child) {
            margin-top: 1rem;
        }

        select {
            display: block;
            max-width: 100%;
            width: 100%;
        }
    }
}

@mixin filter-medium {
    .filter {
        > *:not(:last-child) {
            padding-right: 2rem;
        }
    }
}