@charset "UTF-8";
/**
 * @site            Video Games Records
 * @author          Luc Poupard
 * @note            Forum
 */

/* ----------------------------- */
/* Summary */
/* ----------------------------- */
/*
    == Home
*/

/* == @section Home ==================== */
.forum-list {
    h2:first-child {
        margin-top: 1em;
    }
}

.forum-unread {
    margin-right: .5em;
    color: $base-background-2;
    vertical-align: middle;

    + span {
        font-weight: bold;
    }
}

.connected-users {
    margin: 4rem 0 2rem;
    padding-top: 1rem;
    border-top: 1px dashed $form-border;

    &__title {
        font-weight: bold;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            display: inline-block;

            &:not(:last-child)::after {
                content: ", ";
                margin-right: .25em;
            }

            a {
                display: inline-block;
            }
        }
    }
}

@mixin forum-small {
    .forum-table,
    .topic-table {
        td {
            position: relative;
            padding: 0 .5em;

            &:last-child {
                padding-bottom: .5em;
            }

            &:first-child {
                padding-top: .5em;
                padding-right: 2em;

                a {
                    font-weight: bold;
                }
            }

            &[data-header] {
                &::before {
                    content: attr(data-header) " : ";
                }
            }

            > div {
                display: inline;
            }

            .forum-notify {
                position: absolute;
                top: .75em;
                right: .5em;
            }
        }
    }
}

@mixin forum-medium {
    .forum-table,
    .topic-table {
        thead {
            background-color: $content-background;
        }

        .forum-notify {
            margin-right: .5em;
            vertical-align: middle;
        }
    }
}

@mixin forum-table-medium {
    .forum-table {
        th,
        td {
            &:nth-last-child(3),
            &:nth-last-child(2) {
                width: em(110);
                text-align: center;
            }
        }
    }
}

@mixin forum-table-large {
    .forum-table {
        th,
        td {
            &:last-child {
                width: em(220);
            }
        }
    }
}

/* == @section Topic ==================== */
.topic-type {
    display: inline-block;
    margin-right: .5em;
    vertical-align: middle;
}

@mixin topic-table-medium {
    .topic-table {
        th,
        td {
            &:nth-last-child(3) {
                width: em(150);
            }
    
            &:nth-last-child(2) {
                width: em(100);
                text-align: center;
            }
        }
    }
}

@mixin topic-table-large {
    .topic-table {
        th,
        td {
            &:last-child {
                width: em(220);
            }
        }
    }
}

/* == @section Message ==================== */
.message  {
    margin-top: 1em;

    &-topic {
        width: 100%;
        padding: .5em 1em 0 1em;
        font-weight: bold;
    }

    &-author {
        padding: 1em;

        &__username {
            font-weight: bold;
        }

        &__role {
            font-style: italic;
        }

        &__status {
            span[class^="player-"] {
                display: inline-block;
            }
        }

        img {
            margin: 0 .5em .5em 0;
            @include box-shadow( $black );
        }
    }

    &-content {
        position: relative;
        padding: 1em;

        &__text {
            margin-top: .5em;
            padding: 1em 0;
            border-top: 1px dashed $form-border;
            word-break: break-word;

            figure {
                margin-right: 0;
                margin-left: 0;
            }
        }

        &__edit {
            position: absolute;
            top: 1.5em;
            right: 2em;
        }

        &__form {
            border-top: 1px dashed $form-border;
        }
    }

    &:nth-child(even) {
        background-color: $secondary-background;
    }
}

@mixin forum-message-small {
    .message {
        &-author {
            position: relative;
            padding-left: em(76);

            .avatar {
                position: absolute;
                top: 1em;
                left: 1em;
                width: em(42);
            }

            &__role {
                &::before {
                    content: " - ";
                    display: inline-block;
                    margin: 0 .25em;
                }
            }

            &__status,
            &__messages {
                display: block;
            }
        }

        &-content {
            padding-top: 0;

            &__edit {
                position: absolute;
                top: 0;
                right: 1em;
            }
        }
    }
}

@mixin forum-message-medium {
    .message  {
        display: flex;
        flex-wrap: wrap;

        &-topic {
            width: 100%;
            padding-left: 2em;
        }
    
        &-author {
            flex: 0 0 em(180);
            padding: 1.5em 1em 1.5em 2em;

            span {
                display: block;
            }
        }
    
        &-content {
            flex: 1;
            padding: 1.5em 2em 1.5em 1em;
        }
    }
}

.citation,
blockquote {
    margin: 1em 0;
    padding: .75em 1em;
    border: 1px solid $form-border;
    @include box-form-shadow( $form-border );
    background-color: $white;

    &:first-child {
        margin-top: 0;
    }
}