@charset "UTF-8";
/**
 * @site            Video Games Records
 * @author          Luc Poupard
 * @note            Game
 */


 /* ----------------------------- */
/* Summary */
/* ----------------------------- */
/*
    == Lists
        -- Alphabet list
    == Game informations
        -- Card
        -- Records list
        -- Top score
        -- Group switch
*/


/* == @section Lists ==================== */
.game-list {
    .platform-list__item {
        font-size: em(11);
    }
}

@mixin game-list-small {
    .game-list {
        td {
            &.game-list__charts,
            &.game-list__posts,
            &.game-list__players {
                &::before {
                    content: attr(data-header) " : ";
                }
            }
        }
    }
}

@mixin game-list-medium {
    .game-list {
        th,
        td {
            &.game-list__platform {
                text-align: right;
            }

            &.game-list__charts,
            &.game-list__posts,
            &.game-list__players {
                width: em(100);
                text-align: center;
            }
        }
    }
}


/* -- @subsection Alphabet list ---------- */
.game-list--alphabet {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;

    .game-list__item {
        margin-bottom: .25em;

        &:not(:last-child) {
            margin-right: .25em;
        }
    }

    a {
        display: inline-block;
        padding: 0 .5em;
        border: 1px solid $primary-color;
        background-color: $white;
        color: $primary-color;
        @include box-form-shadow( $primary-color );
        text-decoration: none;

        &:hover,
        &:focus {
            border: 1px solid $base-background;
            @include box-form-shadow( $base-background );
        }

        &.router-link-exact-active {
            border: 1px solid $base-background;
            @include box-form-shadow( $base-background );
        }
    }
}


/* == @section Game informations ==================== */
/* -- @subsection Card ---------- */
.game-card {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px dashed $form-border; 
}

.game-card__cover {
    margin-right: 3rem;

    img {
        @include box-shadow( $black );
    }
}

.game-card__infos {
    .h1 {
        margin: 1rem 0 0 0;
    }
}

.game-card__links {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        display: inline-block;

        &:not(:first-child) {
            margin-left: 1rem;
        }
    }
}

@mixin game-card-medium {
    .game-card {
        display: flex;
    }

    .game-card__infos {
        flex: 1;

        .h1 {
            margin-top: 0;
        }
    }
}

/* -- @subsection Groups / Records list ---------- */
.group-list,
.record-list {
    border: none;

    th {
        background-color: transparent;
    }
}

@mixin game-group-small {
    .group-list,
    .record-list {
        td {
            &:first-child {
                a {
                    font-weight: bold;
                }
            }
            
            &[data-header] {
                &::after {
                    content: " " attr(data-header);
                }
            }
        }
    }
}

@mixin game-group-medium {
    .group-list,
    .record-list {	
        th,
        td {
            &:nth-child(1) ~ * {
                width: em(150);
                text-align: center;
            }
        }
    }
}

.chart-list {
    tr[data-rank="1"] { background: $gold-gradient; }
    tr[data-rank="2"] { background: $silver-gradient; }
    tr[data-rank="3"] { background: $bronze-gradient; }

    .avatar {
        display: none;
    }

    [data-rank="1"],
    [data-rank="2"],
    [data-rank="3"] {
        .avatar {
            display: inline-flex;
            margin-right: .5em;
            width: em(30);
            vertical-align: middle;
        }
    }

    .platform-list__item {
        display: inline-block;
        font-size: em(11);
    }

    &__actions {
        margin: 2rem 0;
        text-align: center;
    }

    &__status {
        button {
            margin: 0 .3em;
        }
    }

    &__deactivated {
        margin-top: 1em;

        caption {
            border-top: 1px dashed $form-border;
            color: $base-color;
            font-style: normal;
            font-weight: bold;
        }
    }
}

@mixin chart-list-small {
    .chart-list {
        tr {
            position: relative;
        }

        &__rank {
            position: absolute;
            top: 0;
            right: 0;
            font-weight: bold;

            &::before {
                content: "#";
            }
        }

        &__player {
            padding-top: .5em;
            padding-right: 3em;
        }

        &__platform {
            position: absolute;
            bottom: 1em;
            left: 0;
        }

        &__points {
            text-align: right;

            &::after {
                content: " " attr(data-header);
            }
        }

        &__score {
            padding: .5em 4.5em .75em;
            text-align: right;
            font-weight: bold;
        }

        &__status {
            position: absolute;
            bottom: .55em;
            right: 0;
        }

        td.chart-list__status {
            padding-bottom: 0;
        }
    }
}

@mixin chart-list-medium {
    .chart-list {
        &__rank {
            width: em(70);
            text-align: center;
        }

        &__platform {
            width: em(210);
            text-align: center;
        }
        
        &__points,
        &__score {
            width: em(150);
            text-align: center;
        }

        &__status {
            width: em(85);
            text-align: center;
        }

        .platform-list__item {
            vertical-align: top;
        }
    }
}


/* -- @subsection Top score ---------- */
@mixin top-score-small {
    .top-score {
        td {
            &[data-header]::before {
                content: attr(data-header) " : ";
            }
        }

        &__record {
            font-weight: bold;
        }
    }
}

@mixin top-score-medium {
    .top-score {
        &__score,
        &__rank,
        &__top-score,
        &__top-nickname {
            text-align: center;
        }
    }
}


/* -- @subsection Group/Chart switch ---------- */
.game-switch,
.console-switch {
    margin: 1.5em 1em 1em;

    label {
        display: block;
        font-weight: 500;
    }

    &__nav {
        display: flex;
        flex-wrap: nowrap;
    }

    select {
        width: 100%;
        text-overflow: ellipsis;
    }

    button {
        display: block;
        width: auto;
    }
}

.console-switch {
    button {
        margin: .5em auto 0;
    }
}

.game__specific-rules {
    &::after {
        content: " \026A0";
        // Emoji font https://tzi.fr/css/emojis-sur-le-web/
        font-family: "apple color emoji", "segoe ui emoji", "noto color emoji", "android emoji", emojisymbols, "emojione mozilla", "twemoji mozilla", "segoe ui symbol", serif;
    }
}