@charset "UTF-8";
/**
 * @site            Video Games Records
 * @author          Luc Poupard
 * @note            Latest submissions and profile charts
 */

@mixin last-submission-small {
    .player-chart {
        tr {
            position: relative;
        }

        td {
            &[data-header] {
                &::before {
                    content: attr(data-header) " : ";
                }
            }
        }

        &__date {
            padding-bottom: .5em;
        }

        &__status {
            position: absolute;
            bottom: 0;
            right: .25em;
        }
    }
}

@mixin last-submission-medium {
    .player-chart {
        &__rank {
            width: em(150);
            text-align: center;
        }

        &__date {
            width: em(200);
        }

        &__status {
            width: em(85);
            text-align: center;
        }
    }
}