@charset "UTF-8";
/**
 * @site            Video Games Records
 * @author          Luc Poupard
 * @note            Leaderboards
 */

/* ----------------------------- */
/* Summary */
/* ----------------------------- */
/*
    == Global leaderboards
    == Points - Home
    == Cups - Home
    == Points - Game
    == Medals - Game
    == Points - Team
    == Points - Player
    == Proofs
*/

/* == @section Leaderboards ==================== */
table[class^="leaderboard"] {
    margin-bottom: 2em;

    tfoot {
        td {
            text-align: center;
        }
    }

    tbody {
        tr[data-rank="1"] { background: $gold-gradient; }
        tr[data-rank="2"] { background: $silver-gradient; }
        tr[data-rank="3"] { background: $bronze-gradient; }
    }

    .avatar {
        display: none;
    }

    [data-rank="1"],
    [data-rank="2"],
    [data-rank="3"] {
        .avatar {
            display: inline-flex;
            margin-right: .5em;
            width: em(30);
            vertical-align: middle;
        }
    }
}

@mixin leaderboard-medium {
    .leaderboard {
        th,
        td {
            &:nth-child(1) {
                width: em(70);
                text-align: center;
            }

            &:nth-child(2) ~ * {
                text-align: center;
            }
        }
    }
}

.platinum {
    color: $platinum;
}

.gold {
    color: $gold;
}

.silver {
    color: $silver;
}

.bronze {
    color: $bronze;
}

.player--me {
    @include page-background;
    background-clip: border-box;
}

.platinum,
.gold,
.silver,
.bronze {
    &.svg-sprite,
    .svg-sprite {
        filter: drop-shadow(0 0 1px rgba( $black, .66 ));
    }
}


/* == @section Points - Home ==================== */
/* Columns: Member | Points */
.leaderboard-points {
    th,
    td {
        &:last-child {
            text-align: right;
        }
    }
}

@mixin leaderboard-points-small {
    .leaderboard-points {
        tr {
            display: flex;
            justify-content: space-between;
        }

        td {
            &:first-child {
                word-break: break-all;
            }

            &:last-child {
                flex: 0 0 em(190);

                &::after {
                    content: " " attr(data-header);
                }
            }
        }
    }
}

@mixin leaderboard-points-medium {
    .leaderboard-points {
        th,
        td {
            &:last-child {
                width: em(200);
            }
        }
    }
}


/* == @section Cups - Home ==================== */
/* Columns: Member | Platinum | Gold | Silver | Bronze */
@mixin leaderboard-cups-small {
    .leaderboard-cups {
        table-layout: fixed;

        tr {
            display: table-row;
        }

        th,
        td {
            display: table-cell;
            padding: 0.3em;

            &:not(:first-child) {
                width: em(50);
                text-align: center;
            }
        }
    }
}

@mixin leaderboard-cups-medium {
    .leaderboard-cups {
        th,
        td {
            &:not(:nth-child(1)) {
                text-align: center;
                width: em(70);
            }
        }
    }
}


/* == @section Points - Game ==================== */
/* Columns: Rank | Member | Points | Scores | Proofs */
@mixin leaderboard-points-game-small {
    .leaderboard-points-game {
        tr {
            position: relative;
        }

        &__rank {
            position: absolute;
            top: 0;
            right: 0;
            font-weight: bold;

            &::before {
                content: "#";
            }
        }

        &__nickname {
            padding-top: .5em;
            padding-right: 3em;
            font-weight: bold;
        }

        &__points,
        &__scores,
        &__proofs {
            &::after {
                content: " " attr(data-header);
            }
        }
    }
}

@mixin leaderboard-points-game-medium {
    .leaderboard-points-game {
        &__nickname {
            width: em(250);
        }

        &__rank {
            width: em(70);
            text-align: center;
        }

        &__points {
            width: em(150);
            text-align: center;
        }

        &__scores,
        &__proofs {
            visibility:hidden;
            width: em(90);
            text-align: center;
        }
    }
}


@mixin leaderboard-points-game-large {
    .leaderboard-points-game {
        &__nickname {
            width: em(150);
        }

        &__rank {
            width: em(70);
            text-align: center;
        }

        &__points {
            width: em(150);
            text-align: center;
        }

        &__scores,
        &__proofs {
            visibility:visible;
            width: em(90);
            text-align: center;
        }
    }
}


/* == @section Medals - Game ==================== */
/* Columns: Rank | Member | Platinum | Gold | Silver | Bronze */
@mixin leaderboard-cups-game-small {
    .leaderboard-cups-game {
        tr {
            position: relative;
        }

        td {
            &:nth-child(1) {
                position: absolute;
                top: 0;
                right: 0;
                font-weight: bold;

                &::before {
                    content: "#";
                }
            }

            &:nth-child(2) {
                padding-top: .5em;
                padding-right: 3em;
                font-weight: bold;
            }

            &:nth-last-child(1),
            &:nth-last-child(2),
            &:nth-last-child(3),
            &:nth-last-child(4) {
                &::after {
                    content: " " attr(data-header);
                }
            }
        }
    }
}

@mixin leaderboard-cups-game-medium {
    .leaderboard-cups-game {
        th,
        td {
            &:nth-child(1) {
                width: em(70);
                text-align: center;
            }
            
            &:nth-last-child(4),
            &:nth-last-child(3),
            &:nth-last-child(2),
            &:last-child {
                width: em(80);
                text-align: center;
            }
        }
    }
}


/* == @section Points - Team ==================== */
/* Columns: Rank | Member | Points */
@mixin leaderboard-points-team-small {
    .leaderboard-points-team {
        tr {
            position: relative;
        }

        &__rank {
            position: absolute;
            top: 0;
            right: 0;
            font-weight: bold;

            &::before {
                content: "#";
            }
        }

        &__nickname {
            padding-top: .5em;
            padding-right: 3em;
            font-weight: bold;
        }

        &__points {
            &::after {
                content: " " attr(data-header);
            }
        }
    }
}

@mixin leaderboard-points-team-medium {
    .leaderboard-points-team {
        &__nickname {
            width: em(250);
        }

        &__rank {
            width: em(70);
            text-align: center;
        }

        &__points {
            width: em(150);
            text-align: center;
        }

        &__action {
            width: em(200);
        }
    }
}


/* == @section Points - Player ==================== */
/* Columns: Rank | Member | Points | Games */
@mixin leaderboard-points-player-small {
    .leaderboard-points-player {
        tr {
            position: relative;
        }

        td {
            &:nth-child(1) {
                position: absolute;
                top: 0;
                right: 0;
                font-weight: bold;

                &::before {
                    content: "#";
                }
            }

            &:nth-child(2) {
                padding-top: .5em;
                padding-right: 3em;
                font-weight: bold;
            }

            &:nth-last-child(1),
            &:nth-last-child(2),
            &:nth-last-child(3) {
                &::after {
                    content: " " attr(data-header);
                }
            }
        }
    }
}

@mixin leaderboard-points-player-medium {
    .leaderboard-points-player {
        th,
        td {
            &:nth-child(1) {
                width: em(70);
                text-align: center;
            }

            &:nth-last-child(2),
            &:last-child {
                width: em(150);
                text-align: center;
            }
        }
    }
}


/* == @section Proofs ==================== */
/* Columns: Rank | Member | Number of proofs | Radio */
@mixin leaderboard-proofs-small {
    .leaderboard-proofs {
        tr {
            position: relative;
        }

        td {
            &:nth-child(1) {
                position: absolute;
                top: 0;
                right: 0;
                font-weight: bold;

                &::before {
                    content: "#";
                }
            }

            &:nth-child(2) {
                padding-top: .5em;
                padding-right: 3em;
                font-weight: bold;
            }

            &:nth-last-child(1),
            &:nth-last-child(2) {
                &::after {
                    content: " " attr(data-header);
                }
            }
        }
    }
}

@mixin leaderboard-proofs-medium {
    .leaderboard-proofs {
        th,
        td {
            &:nth-child(1) {
                width: em(70);
                text-align: center;
            }

            &:nth-last-child(2) {
                width: em(200);
                text-align: center;
            }

            &:last-child {
                width: em(150);
                text-align: center;
            }
        }
    }
}


/* == @section Badges ==================== */
/* Columns: Rank | Member | Badge points | Number of MB */
@mixin leaderboard-badges-small {
    .leaderboard-badges {
        tr {
            position: relative;
        }

        td {
            &:nth-child(1) {
                position: absolute;
                top: 0;
                right: 0;
                font-weight: bold;

                &::before {
                    content: "#";
                }
            }

            &:nth-child(2) {
                padding-top: .5em;
                padding-right: 3em;
                font-weight: bold;
            }

            &:nth-last-child(1),
            &:nth-last-child(2) {
                &::after {
                    content: " " attr(data-header);
                }
            }
        }
    }
}

@mixin leaderboard-badges-medium {
    .leaderboard-badges {
        th,
        td {
            &:nth-child(1) {
                width: em(70);
                text-align: center;
            }

            &:nth-last-child(2),
            &:last-child {
                width: em(150);
                text-align: center;
            }
        }
    }
}