@charset "UTF-8";
/**
 * @site            Video Games Records
 * @author          Luc Poupard
 * @note            Lost positions
 */

.lost-positions {
    &__selection {
        width: 3em;
        text-align: center;
    }

    tfoot {
        button {
            margin: 1em .25em;
            padding: .25em .5em;
        }
    }
}

@mixin lost-position-small {
    .lost-positions {
        td[data-header] {
            &::before {
                content: attr(data-header) " : ";
            }
        }

        tbody {
            tr {
                position: relative;
            }
        }

        &__selection {
            position: absolute;
            top: 1em;
            right: 1em;
            padding: 0 !important;
            width: auto;
        }

        &__record {
            padding-right: 3em;
        }

        tfoot td {
            text-align: right;
        }
    }
}

@mixin lost-position-large {
    .lost-positions {
        &__date {
            width: em(200);
        }

        &__change {
            width: em(120);
        }
    }
}