@charset "UTF-8";
/**
 * @site            Video Games Records
 * @author          Luc Poupard
 * @note            Messages
 */

.message-info {
    margin-bottom: 2rem;
    padding: 1.5rem 2rem;
    border: 1px solid $secondary-color;
    background-color: rgba($secondary-color, .2);
    @include box-form-shadow( $secondary-color );

    p:last-child {
        margin-bottom: 0;
    }
}