@charset "UTF-8";
/**
 * @site            Projet Normandie
 * @author          Luc Poupard
 * @note            Navigation
 */

.site-menu {
    ul {
        margin: 0;
        padding-left: 0;
        list-style: none;
    }

    > ul {
        display: flex;
    }

    a {
        display: block;
        padding: em(10) em(32);
        color: $black;
        text-decoration: none;
        line-height: 1.5;
        white-space: nowrap;

        &:hover,
        &:focus,
        &.router-link-exact-active,
        &[aria-current="page"] {
            background-color: $white;
        }
    }

    &__item {
        > a {
            $font-size: 26;

            padding: em( 10, $font-size ) em( 32, $font-size );
            font-family: $font-stack-headings;
            font-size: em( $font-size );
            text-transform: uppercase;
        }

        &--children {
            > ul {
                display: none;
            }
        }
    }
}

@mixin navigation-small {
    .mobile-buttons {
        position: fixed;
        bottom: 2em;
        right: 2em;
        z-index: 2;

        .svg-sprite {
            vertical-align: bottom;
        }
    }

    #mobile-menu-toggle {
        .svg-sprite {
            margin-right: .5em;
        }
    }

    #mobile-search-toggle {
        .site-navigation--open & {
            display: none;
        }
    }

    #mobile-menu {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        overflow-y: auto;
        @include page-background;

        .site-navigation--open & {
            display: block;
        }
    }

    .site-menu {
        > ul {
            flex-direction: column;
            margin: 5em 0;
        }

        &__item--children > ul {
            display: block;
        }
    }

    .menu-opened {
        overflow: hidden;
    }
}

@mixin navigation-medium {
    .site-menu {
        &__item {
            &--children {
                position: relative;

                > ul {
                    position: absolute;
                    top: 100%;
                    left: -1px;
                    z-index: 1;
                    border-width: 0 1px 1px 1px;
                    border-style: solid;
                    border-color: transparent;
                    @include page-background;
                    background-clip: border-box;
                    @include box-shadow( $base-background );

                    a {
                        &:hover,
                        &:focus {
                            @include page-background;
                        }
                    }
                }

                li {
                    background-color: $white;
                }

                &:hover,
                &:focus-within {
                    > ul {
                        display: block;
                    }

                    > a {
                        background-color: $white;
                    }
                }
            }

            > a {
                text-align: right;
            }
        }
    }

    .mobile-buttons {
        display: none;
    }
}

@mixin navigation-extra-large {
    .site-menu {
        > ul {
            flex-direction: column;
            margin-top: 5em;
        }

        &__item {
            &--children {
                > ul {
                    top: -1px;
                    left: 100%;
                    border-width: 1px 1px 1px 0;
                }
            }
        }
    }
}
