@charset "UTF-8";
/**
 * @site            Projet Normandie
 * @author          Luc Poupard
 * @note            Navigation
 */

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &--top {
        margin-bottom: 1.5em;
        padding-bottom: 1em;
        border-bottom: 1px solid $secondary-background;
    }

    &--bottom {
        margin-top: 1.5em;
        padding-top: 1em;
        border-top: 1px solid $secondary-background;
    }

    button {
        margin: .25em;
        padding: .2em .5em;
    }

    &__current {
        margin-bottom: .25em;
        width: 100%;
        text-align: center;
    }

}
