@charset "UTF-8";
/**
 * @site            Video Games Records
 * @author          Luc Poupard
 * @note            Players list
 */

.players-list {}

@mixin players-list-small {
	.members-list {
		tbody {
			tr {
				position: relative;
			}
		}

		td {
			&.members-list__position {
				position: absolute;
				top: 0;
				right: 0;

				&::before {
					content: "#";
				}
			}

			&.members-list__pseudo {
				padding-top: .5em;
				padding-right: em(75);
				font-weight: bold;
			}

			&[data-header]::before {
				content: attr(data-header) " : ";
			}
		}
	}
}

@mixin players-list-medium {
	.members-list {
		&__position {
			width: em(75);
			text-align: center;
		}

		&__connections {
			width: em(85);
			text-align: center;
		}

		&__messages {
			width: em(85);
			text-align: center;
		}
	}
}