@charset "UTF-8";
/**
 * @site            Video Games Records
 * @author          Luc Poupard
 * @note            Player
 */

/* ----------------------------- */
/* Summary */
/* ----------------------------- */
/*
    == Profile
    == Badges
    == Games
    == Players (Team)
    == Team
    == Proofs
*/

.player-tag {
    margin-right: .25em;
}

/* == @section Profile ==================== */
.profile-card {
    margin-bottom: 2em;

    ul {
        padding-left: .5em;
    }
}

@mixin profile-card-medium {
    .profile-card {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;

        ul {
            flex: 1;
            margin: 0;
            padding-left: 2em;
        }
    }
}

.stats-medals,
.stats-points {
    margin-bottom: 2em;
}

@mixin profile-small {
    .stats-medals,
    .stats-points {
		td {
            &::after {
                content: " " attr(data-header);
			}
        }
    }
}

@mixin profile-medium {
    .stats-medals,
    .stats-points {
        th,
        td {
            &:first-child {
                width: em(200);
            }

            &:not(:first-child) {
                text-align: center;
            }
        }
    }
}

.badge-ordering {
    margin: 0 0 1em 0;

    &__item {
        display: inline-block;
        margin-right: .5em;
    }
}


/* == @section Badges ==================== */
.profile-badges {
    .h3 {
        margin-top: .5em;
        margin-bottom: 0;
    }
}

.badges-list {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    &:empty {
        display: none;
    }

    li {
        padding: 0 .5em .25em 0;
    }
}


/* == @section Games ==================== */
.profile-games {
    svg {
        vertical-align: middle;
    }
}

@mixin profile-game-small {
    .profile-games {
		td {
            &:nth-child(1) {
                font-weight: bold;
            }

            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5) {
                &::before {
                    content: attr(data-header) " : ";
                }
            }
		}
    }
}

@mixin profile-game-medium {
    .profile-games {
        th,
        td {
            &:nth-child(2) {
                width: em(250);
                text-align: right;
            }
    
            &:nth-child(3) {
                width: em(120);
                text-align: center;
            }

            &:nth-child(4),
            &:last-child {
                width: em(80);
                text-align: center;
            }
        }
    }
}


/* == @section Players (Team) ==================== */
.players-list {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    &:first-child { 
        margin-top: 1em;
    }

    li {
        position: relative;
        padding: 0 1em 1em 0;
        width: em(100);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .team-leader {
        position: absolute;
        top: calc( 84px - 24px - .25em);
        left: .25em;
        color: $gold;
        filter: drop-shadow(0 0 5px $black); 
    }
}


/* == @section Team ==================== */
.team-management {
    h2:first-child {
        margin-top: 1em;
    }

    &__avatar {
        margin-top: 2em;
    }
}


/* == @section Proofs ==================== */
.profile-proofs {
    padding: 1rem 0;

    &__item {
        padding: .5em;
        background-color: $secondary-background;

        &:not(:first-child) {
            margin-top: 1rem;
        }
    }

    .h4 {
        margin-bottom: 0;
        width: 100%;
    }

    &__score {
        display: flex;
        justify-content: space-between;
        margin: .25em 0 .5em;
    }


    &__proof {
        text-align: center;
    }

    &__action {
        margin: .5em 0 .25em;
        text-align: center;
    }
}

.profile-proofs__game {
    margin: 2rem 0;
    padding-top: 2rem;
    border-top: 1px dashed $form-border; 

    .h3,
    .platform-list {
        margin: 0;
    }
}

@mixin profile-proofs-medium {
    .profile-proofs {
        display: flex;
        flex-wrap: wrap;
    
        &__item {
            width: calc( (100% / 2) - .5rem);

            &:not(:nth-child(2n)) {
                margin-right: 1rem;
            }
    
            &:nth-child(2) {
                margin-top: 0;
            }
        }
    }

    .profile-proofs__game {
        display: flex;

        div:not(.game-card__cover) {
            flex: 1;
        }
    }
}

@mixin profile-proofs-large {
    .profile-proofs {
        &__item {
            width: calc( (100% / 3) - 1rem);

            &:not(:nth-child(2n)) {
                margin-right: 0;
            }

            &:not(:nth-child(3n)) {
                margin-right: 1rem;
            }
    
            &:nth-child(3) {
                margin-top: 0;
            }
        }
    }
}

@mixin profile-proofs-extra-large {
    .profile-proofs {
        &__item {
            width: calc( (100% / 4) - 1.5rem);

            &:not(:nth-child(3n)) {
                margin-right: 0;
            }

            &:not(:nth-child(4n)) {
                margin-right: 1rem;
            }
    
            &:nth-child(4) {
                margin-top: 0;
            }
        }
    }
}