@charset "UTF-8";
/**
 * @site            Video Games Records
 * @author          Luc Poupard
 * @note            Private messages
 */

.private-messages {
    &__new {
        margin-bottom: 2rem;
        text-align: center;
    }
}

.private-message {
    &__selection {
        width: 3em;
        text-align: center;
    }

    &__object {
        button {
            text-align: left;
        }
    }

    tfoot {
        button {
            margin: 1em .25em;
            padding: .25em .5em;
        }
    }
}

@mixin private-message-small {
    .private-message {
        td[data-header] {
            &::before {
                content: attr(data-header) " : ";
            }
        }

        tbody {
            tr {
                position: relative;
            }
        }

        &__object {
            padding-top: .5em;
        }

        &__selection {
            position: absolute;
            top: 1em;
            right: 1em;
            padding: 0 !important;
            width: auto;
        }

        tfoot td {
            text-align: right;
        }
    }
}

@mixin private-message-large {
    .private-message {
        &__user {
            width: em(160);
        }

        &__date {
            width: em(230);
        }
    }
}