@charset "UTF-8";
/**
 * @site            Video Games Records
 * @author          Luc Poupard
 * @note            Proofs
 */

/* Proofs squares */
[class^="proof--"] {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: grey;
    border: 1px solid $black;
    @include box-proof-shadow( $black );

    .chart-list__status > & {
        cursor: help;
    }
}

.proof {
    &--request-pending {
        background-color: orange;
    }

    &--request-validated {
        background-color: red;
    }

    &--request-sent {
        background-color: yellow;
    }

    &--sent {
        background-color: blue;
    }

    &--proved {
        background-color:green;
    }

    &--unproved {
        background-color:black;
    }
}

/* Request form */
.proof-request {
    textarea {
        width: 100%;
        resize: vertical;
    }
}

/* Proof deletion on score page */
.proof-deletion {
    margin: 1em 0;
}

/* Proofs by game on profile */
.proof-detail__player {
    ul {
        margin: 0;
        padding-left: 0;
        list-style: none;
    }

    [class^="proof--"] {
        margin-right: .5em;
    }
}

.proof-detail {
    &__game {
        width: em(230);
    }

    &__platforms {
        width: 100%;

        .platform-list {
            margin: 0;
            font-size: .8em;

            li:not(:first-child) {
                margin-left: 0;
            }

            li:not(:last-child) {
                margin-right: .4em;
            }
        }
    }

    &__scores {
        width: em(240);

        ul {
            margin: 0;
            padding-left: 0;
            list-style: none;
        }

        [class^="proof--"] {
            margin-right: .5em;
        }
    }
}

/* Button on proof to open modal */
.proof-modal-button,
.proof-modal-button:hover,
.proof-modal-button:focus {
    border: none;
    box-shadow: unset;
    cursor: pointer;
}