@charset "UTF-8";
/**
 * @site            Video Games Records
 * @author          Luc Poupard
 * @note            Score
 */

.submit-score__container {
    + .submit-score__container {
        margin: 3rem 0;
        border-top: 1px dashed $form-border;
    }
}

.submit-score {
    margin: 2rem 0;
    padding: 0;
    border: none;

    legend {
        margin-bottom: 1rem;
        font-weight: bold;
    }

    &__fields {
        display: flex;
        flex-wrap: wrap;

        label {
            flex: 0 0 100%;
        }

        input {
            width: em(100);
        }
    }

    &__suffix {
        display: inline-block;
        margin: 0 .25em 0 .35em;
    }
}

.submit-score__stats {
    margin-bottom: 1rem;
}

.submit-score__action {
    margin-top: 3rem;
    text-align: center;
}

@mixin submit-score-small {
    .submit-score {
        &__fields {
            flex-direction: column;

            > div {
                margin-bottom: .5rem;
            }

            input {
                width: 90%;
            }
        }
    }
}

@mixin submit-score-medium {
    .submit-score__platform {
        margin-top: 1rem;
    }
}

@mixin submit-score-large {
    .submit-score {
        &__line {
            display: flex;
            justify-content: space-between;
        }
    }
}