@charset "UTF-8";
/**
 * @site            Video Games Records
 * @author          Luc Poupard
 * @note            Search form
 */

.search-form {
    margin: 1em 1em 2.5em;

    form {
        position: relative;
    }

    [type="text"] {
        padding-right: em(40);
        width: 100%;
    }

    [type="submit"] {
        position: absolute;
        right: 0;
        padding: 0;
        width: em(40);
        height: 100%;
        border: none !important;
        box-shadow: unset !important;
        background: {
            color: transparent;
            image: url("../img/search.svg");
            repeat: no-repeat;
            position: center;
            size: auto 66%;
        }
        text-indent: 100%;
    }
}