@charset "UTF-8";
/**
 * @site            Video Games Records
 * @author          Luc Poupard
 * @note            Advanced search
 */

.advanced-search {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px dashed $form-border;

    > * {
        margin-bottom: 1em;
    }
    
    legend {
        font-weight: 500;
    }

    input[type="text"],
    select {
        width: 100%;
    }
}

/* Fieldsets */
.advanced-search__rank,
.advanced-search__points {
    display: flex;

    select {
        flex: 2;
    }

    input {
        flex: 1;
    }
}

.advanced-search__button {
    padding-top: 1rem;
    text-align: center;
}

@mixin advanced-search-small {
    .advanced-search-result {
        td {
            &.advanced-search-result__score,
            &.advanced-search-result__rank,
            &.advanced-search-result__date {
                &::before {
                    content: attr(data-header) " : ";
                }
            }
            &.advanced-search-result__points,
            &.advanced-search-result__status{
                display:none;
            }
        }
    }
}

@mixin advanced-search-medium {
    .advanced-search {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "platform game player"
            "record rank points"
            "status platinum platinum"
            "button button button";
        column-gap: 1em;
    }

    .advanced-search__game { grid-area: game;}
    .advanced-search__player { grid-area: player;}
    .advanced-search__status { grid-area: status;}
    .advanced-search__record { grid-area: record;}
    .advanced-search__platinum { grid-area: platinum;}
    .advanced-search__rank { grid-area: rank;}
    .advanced-search__points { grid-area: points;}
    .advanced-search__platform { grid-area: platform;}
    .advanced-search__button { grid-area: button;}

    .advanced-search-result {
        th,
        td {
            &.advanced-search-result__score {
                width: em(200);
                text-align: left;
            }
            &.advanced-search-result__rank {
                width: em(100);
                text-align: center;
            }
            &.advanced-search-result__points {
                width: em(100);
                text-align: center;
            }
            &.advanced-search-result__date {
                width: em(200);
                text-align: center;
            }
            &.advanced-search-result__status {
                visibility: hidden;
            }
        }
    }
}

@mixin advanced-search-large {

    .advanced-search-result {
        th,
        td {
            &.advanced-search-result__score {
                width: em(200);
                text-align: left;
            }
            &.advanced-search-result__rank {
                width: em(100);
                text-align: center;
            }
            &.advanced-search-result__points {
                width: em(100);
                text-align: center;
            }
            &.advanced-search-result__date {
                width: em(200);
                text-align: center;
            }
            &.advanced-search-result__status {
                visibility: visible;
                width: em(80);
                text-align: center;
            }
        }
    }
}
