@charset "UTF-8";
/**
 * @site            Video Games Records
 * @author          Luc Poupard
 * @note            Tooltips
 */

.tooltip {
    position: relative;
    display: inline-block;

    button {
        cursor: help;
    }
}

[role="tooltip"] {
    display: none;
    position: absolute;
    padding: .15em .5em;
    border: 1px solid $black;
    @include box-proof-shadow( $black );
    background-color: $content-background;
    color: $base-color;
    font-size: em(14);
    white-space: nowrap;
}

.tooltip--top-right [role="tooltip"] {
    bottom: 100%;
    right: 0;
}

.tooltip--bottom-center [role="tooltip"] {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip:focus-within [role="tooltip"],
.tooltip button:hover + [role="tooltip"],
.tooltip button:focus + [role="tooltip"],
.tooltip button:active + [role="tooltip"],
.account-menu .tooltip:hover [role="tooltip"] {
    display: block;
}