@charset "UTF-8";
/**
 * @site            Video Games Records
 * @author          Luc Poupard
 * @note            Video
 */

/* Responsive video - https://css-tricks.com/fluid-width-video/ */
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@mixin video-list-small {
    .video-list {
        td[data-header] {
            &::before {
                content: attr(data-header) " : ";
            }
        }
    }
}

@mixin video-list-medium {
    .video-list {
        &__player {
            width: em(160);
        }

        &__date {
            width: em(120);
        }
    }
}