<template>
    <div class="advanced-search__platform">
        <label for="autocomplete-platforms">{{ $t('global.platforms') }}</label>
        <autocomplete
                id="autocomplete-platforms"
                ref="autocomplete-platforms"
                :placeholder="this.$i18n.t('search.platform')"
                :source="url"
                results-property="hydra:member"
                results-display="libPlatform"
                @selected="select">
        </autocomplete>

        <button v-for="(platform, index) in data" :data-position="platform.position" :key="platform.id" @click="remove(index)" class="button-as-link tag">
            <span class="tag--close" :aria-label="$t('tag.remove')">×</span> {{ platform.libPlatform }}
        </button>
    </div>
</template>

<script>
    import Autocomplete from 'vuejs-auto-complete';

    export default {
        name: 'PlatformSelectMultiple',
        components: {
            Autocomplete
        },
        data() {
            return {
                data: [],
            };
        },
        methods: {
            url(input) {
                return process.env.VUE_APP_ROOT_API + '/api/platforms/autocomplete?query=' + input
            },
            select(result) {
                this.data.push(result['selectedObject']);
            },
            remove(index) {
                this.data.splice(index, 1);
            },
            getIds() {
                let filter = [];
                this.data.forEach(function (platform) {
                    filter.push(platform.id);
                });
                return filter;
            }
        },
    };
</script>
