<template>
    <div class="private-messages">
        <vue-headful :title="title" :description="description" />
        <h1>{{ $t('privateMessage.title') }}</h1>

        <message-post></message-post>

        <VTabs ref="tabs" id="messages">
            <template slot="Inbox">
                <message-inbox></message-inbox>
            </template>

            <template slot="Outbox">
                <message-outbox></message-outbox>
            </template>

            <template slot="Read">
                <message-read></message-read>
            </template>
        </VTabs>
    </div>
</template>

<script>
import MessageInbox from '@/components/message/Inbox.vue';
import MessageOutbox from '@/components/message/Outbox.vue';
import MessagePost from '@/components/message/Post.vue';
import MessageRead from '@/components/message/Read.vue';
import BreadcrumbsManager from '@/mixins/BreadcrumbManager';
import Security from "@/mixins/Security.vue";

export default {
    mixins: [BreadcrumbsManager, Security],
    name: 'Messageindex',
    components: {
        'messageInbox' : MessageInbox,
        'messageOutbox' : MessageOutbox,
        'messagePost' : MessagePost,
        'messageRead' : MessageRead,
    },
    computed: {
        title() {
            return this.$i18n.t('privateMessage.title')+ ' - ' + process.env.VUE_APP_TITLE;
        },
        description() {
            return this.$i18n.t('privateMessage.description');
        },
    },
    data() {
        return {
            messages : [],
        };
    },
    created() {
        this.setBreadcrumbOnlyItem1(
            { text: this.$i18n.t('privateMessage.title')}
        );
        this.$store.dispatch('aside/setDefault');
    },
};
</script>
