<template>
    <div>
        <p>
            {{ $t('stats.nbGame') }} : {{ getPlayer.nbGame | number }}  <br />
            {{ $t('stats.nbChart') }} : {{ getPlayer.nbChart | number }} /  {{ getPlayer.nbChartMax | number }} [{{ getChartRatio|number }} %]) <br />
            {{ $t('stats.nbChartProven') }} : {{ getPlayer.nbChartProven | number }} / {{ getPlayer.nbChart | number }} [{{ getProofRatio|number }} %]) <br />
            {{ $t('stats.nbChartWithPlatform') }} : {{ getPlayer.nbChartWithPlatform | number }} / {{ getPlayer.nbChart | number }} [{{ getChartPlatformRatio|number }} %]) <br />
            {{ $t('stats.averageRank') }} : {{ getPlayer.averageGameRank }} <br />
            <img :src="getGamercardMiniUrl" alt="Mini Gamercard" />
            <br />
            <img :src="getGamercardClassicUrl" alt="Classic Gamercard" />
        </p>

        <player-stats v-if="getPlayer.id" v-bind:player="getPlayer" />

        <h5>{{ $t('score.lastSubmit.default') }}</h5>
        <player-chart-list v-if="this.getPlayer.id" :id-player="getPlayer.id" :items-per-page="5" :active-pagination="false" :active-order-by="false" :display-status="true"/>

        <h5>{{ $t('score.lastSubmit.proof.picture') }}</h5>
        <player-chart-list v-if="this.getPlayer.id" :id-player="getPlayer.id" :with-proof-picture="true" :items-per-page="5" :active-pagination="false" :active-order-by="false" :display-status="true"/>

        <h5>{{ $t('score.lastSubmit.proof.video') }}</h5>
        <player-chart-list v-if="this.getPlayer.id" :id-player="getPlayer.id" :with-proof-video="true" :items-per-page="5" :active-pagination="false" :active-order-by="false" :display-status="true"/>

        <player-stats-positions v-if="this.getPlayer.id && (this.getPlayer.createdAt < this.getNow)" v-bind:id-player="$route.params.idPlayer" />

        <player-stats-medals-by-time v-if="this.getPlayer.id && (this.getPlayer.createdAt < this.getNow)" v-bind:id-player="$route.params.idPlayer" />

    </div>
</template>

<script>
    import PlayerStats from '@/components/vgr/player/profile/Stats';
    import PlayerStatsPositions from '@/components/vgr/player/stats/Positions';
    import PlayerStatsMedalsByTime from '@/components/vgr/player/stats/MedalsByTime';
    import PlayerChartList from '@/components/vgr/playerChart/List';

    export default {
        name: 'PlayerIndex',
        components: {
            'player-stats': PlayerStats,
            PlayerStatsPositions,
            PlayerStatsMedalsByTime,
            PlayerChartList,
        },
        data() {
            return {

            };
        },
        computed: {
            getPlayer() {
                return this.$parent.player;
            },
            getGamercardClassicUrl() {
                return process.env.VUE_APP_ROOT_API + '/gamercard/' + this.getPlayer.id + '/classic';
            },
            getGamercardMiniUrl() {
                return process.env.VUE_APP_ROOT_API + '/gamercard/' + this.getPlayer.id + '/mini';
            },
            getNow: function() {
                function pad(s) { return (s < 10) ? '0' + s : s; }
                let d = new Date();
                return [d.getFullYear(), pad(d.getMonth()+1), pad(d.getDate())].join('-');
            },
            getProofRatio: function() {
                if (this.getPlayer.nbChart === 0) return null;
                return Math.round(this.getPlayer.nbChartProven / this.getPlayer.nbChart * 10000) / 100;
            },
            getChartRatio: function() {
                if (this.getPlayer.nbChart === 0) return null;
                return Math.round(this.getPlayer.nbChart / this.getPlayer.nbChartMax * 10000) / 100;
            },
            getChartPlatformRatio: function() {
                if (this.getPlayer.nbChart === 0) return null;
                return Math.round(this.getPlayer.nbChartWithPlatform / this.getPlayer.nbChart * 10000) / 100;
            }
        },
    };
</script>
