<template>
    <div>
        <h2 class="h3">{{ $t('proof.stats') }}</h2>

        <player-proof-stats v-bind:id-player="this.$route.params.idPlayer" />
        <player-proof-games v-bind:id-player="this.$route.params.idPlayer" />
    </div>
</template>

<script>
    import PlayerProofGames from "@/components/vgr/player/proof/Games";
    import PlayerProofStats from "@/components/vgr/player/proof/Stats";

    export default {
        name: 'PlayerProofs',
        components: {
            PlayerProofStats,
            PlayerProofGames,
        },
        data() {
            return {
                playerGames: null,
                nbGame: 0,
            };
        },
        computed: {
            getPlayer() {
                return this.$parent.player;
            },
        },
    };
</script>
