<template>
  <div id="page" :class="[getEnv === 'test' ? 'site-page site-test' : 'site-page' ]">
    <sprite></sprite>
    <div class="page-background"></div>

    <VAlert v-if="getEnv === 'test'" class="warning environment-alert">
      <p>{{ $t('env.warning') }}</p>
    </VAlert>

    <div class="site-top-bar">
      <nav id="skip-link" class="skip-link">
        <ul>
          <li class="skip-link__item skip-link__item--menu">
            <router-link to="#navigation" @click.native="scrollFix('#navigation')">{{ $t('skiplinks.menu') }}</router-link>
          </li>
          <li class="skip-link__item skip-link__item--search">
            <router-link to="#aside" @click.native="scrollFix('#aside')">{{ $t('skiplinks.search') }}</router-link>
          </li>
          <li class="skip-link__item skip-link__item--content">
            <router-link to="#main" @click.native="scrollFix('#main')">{{ $t('skiplinks.content') }}</router-link>
          </li>
        </ul>
      </nav>

      <language-switcher></language-switcher>

      <div class="account-menu">
        <message-box v-if="isAuthenticated"></message-box>
        <lost-position-box v-if="isAuthenticated"></lost-position-box>
        <account-box></account-box>
      </div>
    </div>

    <header id="header" class="site-header" role="banner">
      <div class="site-header__logo">
        <router-link :to="{ name: 'Home', params: {lang: getLang}}">
          <img src="./assets/logo.svg" width="600" height="72" alt="Video Games Records">
        </router-link>
      </div>
    </header>

    <navigation></navigation>

    <div class="site-content">
      <div>
        <stats></stats>
        <breadcrumb></breadcrumb>
      </div>

      <flash-message />
      <main id="main" class="site-main" role="main">
        <router-view></router-view>
      </main>

      <site-aside></site-aside>
    </div>

    <div id="sidebar" class="site-sidebar">
      <div class="site-sidebar__ad">
        <Adsense :data-ad-client="getAdsenseId"></Adsense>
      </div>
    </div>

    <footer id="footer" class="site-footer" role="contentinfo">
      <partner-list></partner-list>
      <div>&copy; 2003-{{ new Date().getFullYear() }} Video Games Records - <a href="https://gitlab.com/video-games-records/website-v7/-/blob/master/CHANGELOG.md" target="_blank">7.0.37</a></div>
      <language-switcher></language-switcher>
    </footer>
  </div>
</template>

<script>
import Sprite from './components/Sprite';
import LanguageSwitcher from './components/LanguageSwitcher';
import FlashMessage from "@/components/FlashMessage";
import Navigation from './components/Navigation';
import AccountBox from './components/AccountBox';
import MessageBox from './components/message/Box';
import Stats from './components/Stats';
import Breadcrumb from './components/Breadcrumb';
import Aside from './components/Aside';
import PartnerList from './components/partner/List';
import axios from 'axios';
import LostPositionBox from "@/components/vgr/lostPosition/Box";
import { VAlert } from 'vuetensils/src/components';
import {TokenService} from "@/services/token.service";
import Security from '@/mixins/Security.vue';
import Language from "@/mixins/Language.vue";

export default {
    mixins: [Language, Security],
    name: 'app',
    components: {
        sprite: Sprite,
        'language-switcher': LanguageSwitcher,
        navigation: Navigation,
        'lost-position-box': LostPositionBox,
        'account-box': AccountBox,
        'message-box': MessageBox,
        'stats': Stats,
        breadcrumb: Breadcrumb,
        'site-aside': Aside,
        'partner-list': PartnerList,
        'flash-message': FlashMessage,
        VAlert,
    },
    mounted() {
      setTimeout(() => this.scrollFix(this.$route.hash), 1);
    },
    computed: {
        getEnv() {
            return process.env.VUE_APP_ENV;
        },
        getAdsenseId() {
            return process.env.VUE_APP_GOOGLE_ADSENSE_ID;
        }
    },
    created () {
        /*axios.interceptors.response.use(undefined, (err) => {
            return new Promise(() => {
                if (err.response.status === 403) {
                    this.$store.dispatch('security/logout')
                    .then(() => {
                        this.$router.push({ name: "AuthLogin"});
                    });
                }
                throw err;
            });
        });*/
        axios.interceptors.request.use(
            (config) => {
                const token = TokenService.getToken();
                if (token) {
                    config.headers["Authorization"] = 'Bearer ' + token;
                }
                return config;
            },
            (error) => {
                return Promise.reject(error);
            }
        );
        axios.interceptors.response.use(
            (response) => {
          return response;
        },
        async (error) => {
            const originalConfig = error.config;
            if (error.response.status === 401  && !originalConfig._retry) {
                originalConfig._retry = true;
                if (error.config.url.includes('/token/refresh')) {
                    // Refresh token has failed. Logout the user
                    await this.$store.dispatch('security/logout')
                    throw error
                } else {
                    // Refresh the access token
                    try{
                        // eslint-disable-next-line no-unused-vars
                        const response = await this.$store.dispatch('security/refreshToken');
                        // Retry the original request
                        return axios(originalConfig);
                    } catch (e) {
                        // Refresh has failed - reject the original request
                        throw error
                    }
                }
            }
            // If error was not 401 just reject as is
            throw error
        });
    },
    methods: {
        scrollFix: function(hashbang) {
            window.location.hash = hashbang;
        },
    },
};
</script>

<style src="./assets/sass/styles.scss" lang="scss"></style>
