<template>
    <div>
        <form class="vgr-form" @submit="submit" @submit.prevent>
            <div>
                <label for="libTeam">{{ $t('team.name') }}</label>
                <input id="libTeam" v-model="getTeam.libTeam" type="text" minlength="4" maxlength="50" required />
            </div>

            <div>
                <label for="tag">{{ $t('team.tag') }}</label>
                <input id="tag" v-model="getTeam.tag" type="text" minlength="2" maxlength="6" required />
            </div>

            <div v-if="isEditMode">
                <label for="presentation">{{ $t('team.presentation') }}</label>
                <ckeditor id="presentation" :editor="editor" v-model="getTeam.presentation" :config="editorConfig"></ckeditor>
            </div>

            <input type="submit" :value="$t('tag.submit')" >
        </form>
    </div>
</template>

<script>
import NormandieEditor from "ckeditor5-build-normandie";

export default {
    name: 'TeamForm',
    props: {
        isEditMode: {
            type: Boolean,
            require: false,
            default: false
        },
    },
    components: {
    },
    data() {
        return {
            success: false,
            editor: NormandieEditor,
            editorData: '',
            editorConfig: {
                toolbar: {
                    items: [
                        'heading',
                        'bold',
                        'italic',
                        'strikethrough',
                        '|',
                        'bulletedList',
                        'numberedList',
                        'blockQuote',
                        '|',
                        'link',
                        'insertImage',
                        'specialCharacters',
                        'mediaEmbed',
                        '|',
                        'removeFormat',
                        'undo',
                        'redo',
                    ]
                },
                image: {
                    toolbar: [
                        'imageTextAlternative',
                        'linkImage'
                    ]
                },
                height: 100,
                language: this.$i18n.locale,
            }
        };
    },
    created () {

    },
    updated() {
    },
    computed: {
        getTeam() {
            return this.$store.getters['TeamAccount/team'];
        },
        getPlayer() {
            return this.$store.getters['TeamAccount/player'];
        },
        hasSuccess() {
            return this.$store.getters['TeamAccount/hasSuccess'];
        },
        message() {
            return this.$store.getters['TeamAccount/message'];
        },
    },
    methods: {
        submit: function () {
            this.$store.dispatch('TeamAccount/submit', this.getTeam).then(() => {
                if (this.hasSuccess) {
                    this.$store.dispatch('flashMessage/confirm', this.$i18n.t(this.message));
                } else {
                    this.$store.dispatch('flashMessage/error', this.message);
                }
            });
        },
    },
};
</script>
