<template>
    <div>
        <button v-on:click="quit">{{ $t('team.quit') }}</button>
    </div>
</template>

<script>
export default {
    name: 'TeamQuit',
    props: [],
    components: {
    },
    data() {
        return {
        };
    },
    created () {
    },
    updated() {
    },
    computed: {
        getPlayer() {
            return this.$store.getters['TeamAccount/player'];
        },
    },
    methods: {
        quit: function () {
            this.getPlayer.team = null;
            this.$store.dispatch('TeamAccount/quit', this.getPlayer);
        },
    },
};
</script>
