<template>
    <table class="leaderboard-points">
        <caption>{{ $t('leaderboard.gamePoints.caption') }}</caption>
        <thead>
            <tr>
                <th scope="col">{{ $t('global.member') }}</th>
                <th scope="col">{{ $t('global.gamePoints') }}</th>
            </tr>
        </thead>
        <VAsync :await="leaderboard">
            <template #pending>
                <tbody>
                    <tr>
                        <td colspan="2">
                            <loading></loading>
                        </td>
                    </tr>
                </tbody>
            </template>
            <template #resolved="leaderboard">
                <tbody>
                    <tr v-for="item in leaderboard" :data-rank="item.rankPointGame" :key="item.id">
                        <td>
                            <player v-bind:player="item"></player>
                        </td>
                        <td :data-header="$t('global.gamePoints')">{{ item.pointGame|number }}</td>
                    </tr>
                </tbody>
            </template>
        </VAsync>
    </table>
</template>

<script>
    import Player from '@/components/vgr/player/Player.vue'
    import PlayerApi from '@/services/api/vgr/Player';

    export default {
        name: 'LeaderboardPoint',
        components: {
            'player': Player,
        },
        data() {
            return {
                leaderboard : PlayerApi.getRankingPointGame({query: {maxRank:5},cache : {useCache: true}})
                    .then((response) => response),
            };
        },
    };
</script>
