<template>
    <div>
        <vue-headful :title="title" :description="description" />

        <VTabs ref="tabs" id="serie">
          <template slot="Leaderboard">
            <table class="leaderboard-points-game">
              <caption class="screen-reader-text">{{ $t('leaderboard.recordPoints.caption') }}</caption>
              <thead>
              <tr>
                <th scope="col" class="leaderboard-points-game__rank">{{ $t('global.rank') }}</th>
                <th scope="col" class="leaderboard-points-game__nickname">{{ $t('global.nickname') }}</th>
                <th scope="col" class="leaderboard-points-game__points">{{ $t('global.points') }}</th>
                <th scope="col" class="leaderboard-points-game__scores">{{ $t('global.scores') }}</th>
              </tr>
              </thead>
              <VAsync :await="leaderboard">
                <template #pending>
                  <tbody>
                  <tr>
                    <td colspan="5">
                      <loading></loading>
                    </td>
                  </tr>
                  </tbody>
                </template>
                <template #resolved="leaderboard">
                  <tbody>
                  <tr v-for="item in leaderboard" :data-rank="item.rankPointChart" :key="item.id" :class="[isAuthenticated && getPlayer.id === getPlayerClass(item) ? 'player--me' : 'player' ]">
                    <td class="leaderboard-points-game__rank">{{ item.rankPointChart }}</td>
                    <td class="leaderboard-points-game__nickname">
                      <country v-bind:country="item.player.country"></country>
                      <player v-bind:player="item.player" v-bind:show-avatar="true"></player>
                    </td>
                    <td :data-header="$t('global.platformPoints')" class="leaderboard-points-game__points">{{ item.pointChart| number }}</td>
                    <td :data-header="$t('global.scoresLowercase')" class="leaderboard-points-game__scores">{{ item.nbChart | number }}</td>
                  </tr>
                  </tbody>
                </template>
              </VAsync>
            </table>
          </template>

          <template slot="Games">
            <table class="game-list">
              <caption class="screen-reader-text">{{ $t('caption') }}</caption>
              <thead>
              <th scope="col" class="game-list__game">{{ $t('global.game') }}</th>
              <th scope="col" class="game-list__platform">{{ $t('global.platforms') }}</th>
              </thead>
              <tbody>
              <tr v-for="item in this.getSerie.games" :data-position="item.position" :key="item.id" :class="'game-list__item'">
                <td class="game-list__game"><game v-bind:game="item"></game></td>
                <td class="game-list__platform"><platform-list v-bind:platforms="item.platforms"></platform-list></td>
              </tr>
              </tbody>
            </table>
          </template>

          <template slot="Description">
            <div v-html="this.getSerie.description"></div>
          </template>

        </VTabs>

        <hr class="screen-reader-text" />

    </div>
</template>

<script>
import BreadcrumbsManager from '@/mixins/BreadcrumbManager';
import SerieApi from "@/services/api/vgr/Serie";
import Player from '@/components/vgr/player/Player.vue';
import Country from '@/components/country/Country.vue';
import Security from "@/mixins/Security.vue";
import Game from '@/components/vgr/game/Game.vue';
import PlatformList from '@/components/vgr/platform/List.vue';

export default {
    mixins: [BreadcrumbsManager, Security],
    name: 'SerieLeaderboard',
    components: {
        Country,
        Player,
        Game,
        PlatformList,
    },
    data() {
        return {
            leaderboard: null,
        };
    },
    computed: {
        title() {
            return this.getSerie.name + ' - ' + process.env.VUE_APP_TITLE;
        },
        description() {
            return this.$i18n.t('leaderboard.serie.description', [this.getSerie.libSerie]);
        },
        getSerie() {
            return this.$parent.serie;
        },
    },
    methods: {
        setData () {
            this.leaderboard = SerieApi.getPlayerRankingPoints(this.$route.params.idSerie)
                .then((response) => response);
        },
        getPlayerClass (item) {
            if (item.player) {
                return item.player.id;
            } else {
                return item.id;
            }
        },
    },
    created() {
        this.setData();
        this.setBreadcrumbLevel(2);
        this.setBreadcrumbItem2(
            { text: this.$i18n.t('global.leaderboard')}
        );
    },
    watch: {
        '$route' () {
            this.setData();
        }
    },
};
</script>
