<template>
    <div>
         <aside-serie></aside-serie>
      <br />
        <serie-card :serie=this.serie></serie-card>
        <router-view></router-view>
    </div>
</template>

<script>
    import BreadcrumbsManager from '@/mixins/BreadcrumbManager';
    import SerieApi from "@/services/api/vgr/Serie";
    import SerieCard from "@/components/vgr/serie/Card"
    import AsideSerie from '@/components/vgr/serie/Aside.vue';

    export default {
        mixins: [BreadcrumbsManager],
        name: 'SerieMain',
        components: {
          'aside-serie' : AsideSerie,
          SerieCard,
        },
        data() {
            return {
                serie: {
                    id: null,
                    slug: '',
                    name: '',
                    games: []
                }
            };
        },
        created() {
            this.$store.dispatch('aside/setSerie');
            this.setSerie();
        },
        updated() {
            this.setSerie();
        },
        methods: {
            setSerie () {
                if (this.serie.id !== this.$route.params.idSerie) {
                    SerieApi.getSerie(this.$route.params.idSerie)
                        .then(serie => {
                            this.serie = serie;
                            this.setBreadcrumbItem1(
                                {
                                    text: serie.name,
                                    to: {name: 'SerieLeaderboard', params: {idSerie: serie.id, slugSerie: serie.slug}}
                                }
                            );
                            this.$store.dispatch('navigation/setSerie', serie);
                        });
                }
            },
        },
    };
</script>
