<template>
    <div class="profile-card">
        <team-avatar v-bind:team="team" />
        <ul>
            <li>{{ $t('team.leader') }}: <player v-bind:player="team.leader" /> </li>
            <li>{{ $t('global.createdAt') }}: <date v-bind:date="team.createdAt"></date></li>
            <li>{{ $t('team.tag') }}: {{ team.tag }}</li>
            <li>{{ team.nbMasterBadge | number }} {{ $t('badge.type.master') }}</li>
        </ul>
    </div>
</template>

<script>

import TeamAvatar from '@/components/vgr/team/Avatar.vue';
import MyDate from '@/components/tools/Date.vue';
import Player from "@/components/vgr/player/Player";

export default {
    name: 'TeamProfileCard',
    props: ['team'],
    components: {
        'team-avatar': TeamAvatar,
        'date': MyDate,
        'player': Player,
    },
    data() {
        return {

        };
    },
};
</script>
