<template>
    <div v-if="team.id">
        <table class="stats-medals">
            <thead>
                <tr>
                    <td></td>
                    <th scope="col">{{ $t('global.cups') }}</th>
                    <th scope="col">{{ $t('global.medals') }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{{ $t('global.leaderboard') }} ({{ $t('leaderboard.on') }} {{ getNbteam | number }})</th>
                    <td :data-header="$t('global.cupsLowercase')">{{ team.rankCup | number }}</td>
                    <td :data-header="$t('global.medalsLowercase')">{{ team.rankMedal | number }}</td>
                </tr>
                <transition-group>
                    <th scope="row">{{ $t('global.platinum') }}</th>
                    <td :data-header="$t('global.cupsLowercase')">{{ team.gameRank0 | number }}</td>
                    <td :data-header="$t('global.medalsLowercase')">{{ team.chartRank0 | number }}</td>
                </transition-group>
                <tr>
                    <th scope="row">{{ $t('global.gold') }}</th>
                    <td :data-header="$t('global.cupsLowercase')">{{ team.gameRank1 | number }}</td>
                    <td :data-header="$t('global.medalsLowercase')">{{ team.chartRank1 | number }}</td>
                </tr>
                <tr>
                    <th scope="row">{{ $t('global.silver') }}</th>
                    <td :data-header="$t('global.cupsLowercase')">{{ team.gameRank2 | number }}</td>
                    <td :data-header="$t('global.medalsLowercase')">{{ team.chartRank2 | number }}</td>
                </tr>
                <tr>
                    <th scope="row">{{ $t('global.bronze') }}</th>
                    <td :data-header="$t('global.cupsLowercase')">{{ team.gameRank3 | number }}</td>
                    <td :data-header="$t('global.medalsLowercase')">{{ team.chartRank3 | number }}</td>
                </tr>
            </tbody>
        </table>

        <table class="stats-points">
            <thead>
                <tr>
                    <td></td>
                    <th scope="col">{{ $t('global.gamePoints') }}</th>
                    <th scope="col">{{ $t('global.recordPoints') }}</th>
                    <th scope="col">{{ $t('global.badgePoints') }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{{ $t('global.leaderboard') }} ({{ $t('on') }} {{ getNbteam | number }})</th>
                    <td :data-header="$t('global.gamePoints')">{{ team.rankPointGame | number }}</td>
                    <td :data-header="$t('global.recordPoints')">{{ team.rankPointChart | number }}</td>
                    <td :data-header="$t('global.badgePoints')">{{ team.rankBadge | number }}</td>
                </tr>
                <tr>
                    <th scope="row">{{ $t('global.points') }}</th>
                    <td :data-header="$t('global.gamePoints')">{{ team.pointGame | number }}</td>
                    <td :data-header="$t('global.recordPoints')">{{ team.pointChart | number }}</td>
                    <td :data-header="$t('global.badgePoints')">{{ team.pointBadge | number }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: 'TeamProfileStats',
        props: ['team'],
        computed: {
            getNbteam() {
                return new Intl.NumberFormat().format(this.$store.getters['stats/data'][4]);
            },
        },
    };
</script>


