<template>
    <div class="site-aside__context">
        <div class="label">{{ $t('platform.choose') }}</div>
        <platformlist v-bind:platforms="platforms"></platformlist>
    </div>
</template>

<script>
    import PlatformList from '@/components/vgr/platform/List.vue';
    import PlarformApi from '@/services/api/vgr/Platform';

    export default {
        name: 'PlatformAside',
        components: {
            'platformlist' : PlatformList,
        },
        data() {
            return {
                platforms: PlarformApi.getPlatforms().
                    then(platforms => {
                        this.platforms = platforms;
                    })
            };
        },
    };
</script>