<template>
    <ul class="platform-list">
        <li v-for="platform in platforms" :data-position="platform.position" :key="platform.id">
            <platform v-bind:platform="platform"></platform>
        </li>
    </ul>
</template>

<script>
    import Platform from '@/components/vgr/platform/Platform.vue'
    export default {
        name: 'PlatformList',
        props: ['platforms'],
        components: {
            'platform' : Platform
        },
    };
</script>


