<template>
    <router-link :to="{ name: 'MessageIndex', params: {lang: getLang}}" class="account-menu__message tooltip tooltip--bottom-center">
        <svg width="30" height="30" viewBox="0 0 50 50" class="svg-sprite" aria-hidden="true" focusable="false">
            <use xlink:href="#message" />
        </svg>
        <span class="account-menu__message-number">{{ getNbMessage }} <span class="screen-reader-text">{{ $tc('topbar.messages', getNbMessage) }}</span></span>
        <div role="tooltip">{{ getNbMessage }} {{ $tc('topbar.messages', getNbMessage) }}</div>
    </router-link>
</template>

<script>
import Language from "@/mixins/Language.vue";
import Security from "@/mixins/Security.vue";

export default {
    mixins: [Language, Security],
    name: 'MessageBox',
    computed: {
        getNbMessage() {
            return this.$store.getters['message/getNbMessage'];
        },
    },
    data() {
        return {

        };
    },
    created() {
        this.updateNbMessage();
        // Every 5 mins
        setInterval(() => this.updateNbMessage(), 300000);
    },
    methods: {
        updateNbMessage: function () {
            this.$store.dispatch('message/loadNbMessage', this.getUser.id);
        },
    },
};
</script>
