<template>
    <div>
        <h2 class="screen-reader-text">{{ $t('privateMessage.inbox.title') }}</h2>

        <fieldset class="filter">
            <legend>{{ $t('privateMessage.filter') }}</legend>
            <div>
                <label for="filter-type">{{ $t('privateMessage.message.type') }}</label>
                <select id="filter-type" v-model="filter.type">
                    <option value="">{{ $t('privateMessage.type.all') }}</option>
                    <option value="DEFAULT">{{ $t('privateMessage.type.DEFAULT') }}</option>
                    <option value="VGR_PROOF_ACCEPTED">{{ $t('privateMessage.type.VGR_PROOF_ACCEPTED') }}</option>
                    <option value="VGR_PROOF_REFUSED">{{ $t('privateMessage.type.VGR_PROOF_REFUSED') }}</option>
                    <option value="VGR_PROOF_REQUEST_ACCEPTED">{{ $t('privateMessage.type.VGR_PROOF_REQUEST_ACCEPTED') }}</option>
                    <option value="VGR_PROOF_REQUEST_REFUSED">{{ $t('privateMessage.type.VGR_PROOF_REQUEST_REFUSED') }}</option>
                    <option value="FORUM_NOTIF">{{ $t('privateMessage.type.FORUM_NOTIF') }}</option>
                </select>
            </div>

            <div>
                <label for="filter-object">{{ $t('privateMessage.message.object') }}</label>
                <input type="text" id="filter-object" v-model="filter.object" />
            </div>

            <div>
                <label for="country">{{ $t('privateMessage.message.from') }}</label>
                <select id="country" v-model="filter.sender">
                    <option value="">{{ $t('privateMessage.allUsers') }}</option>
                    <option v-for="(user) in senders" :key="user.id" v-bind:value="user.id">{{ user.username }}</option>
                </select>
            </div>
        </fieldset>

        <table class="private-message">
            <caption class="screen-reader-text">{{ $t('privateMessage.inbox.caption') }}</caption>
            <thead>
                <tr>
                    <td class="private-message__selection"></td>
                    <th scope="col" class="private-message__object">{{ $t('privateMessage.message.object') }}</th>
                    <th scope="col" class="private-message__user">{{ $t('privateMessage.message.from') }}</th>
                    <th scope="col" class="private-message__date">{{ $t('privateMessage.message.createdAt') }}</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <button v-if="isSelectAll === false" @click="selectAll()">{{ $t('privateMessage.selectAll') }}</button>
                        <button v-else @click="unselectAll()">{{ $t('privateMessage.unselectAll') }}</button>
                        <button @click="deleteMessage()">{{ $t('privateMessage.delete') }}</button>
                    </td>
                </tr>
            </tfoot>
            <tbody>
                <tr v-for="message in messages" :data-position="message.position" :key="message.id">
                    <td class="private-message__selection"><input v-model="message.isDeletedRecipient" type="checkbox" value="1"></td>
                    <td class="private-message__object" :data-header="$t('privateMessage.message.object')">
                        <span v-if="message.isOpened === false" class="forum-unread" :title="$t('privateMessage.newMessage')">
                            <svg width="16" height="16" viewBox="0 0 50 50" class="svg-sprite" aria-hidden="true" focusable="false">
                                <use xlink:href="#new-message" />
                            </svg>
                            <span class="screen-reader-text">{{ $t('privateMessage.newMessage') }}</span>
                        </span>
                        <button type="button" class="button-as-link" v-on:click="setMessage(message)">{{ message.object }}</button>
                    </td>
                    <td class="private-message__user" :data-header="$t('privateMessage.message.from')">{{ message.sender.username}}</td>
                    <td class="private-message__date" :data-header="$t('privateMessage.message.createdAt')">
                        <date v-bind:date="message.createdAt" v-bind:options="{ year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' }"></date>
                    </td>
                </tr>
            </tbody>
        </table>
        <paginate ref="paginate" :resource_url="getResourceUrl" @update="updateResource" class="pagination--bottom"></paginate>
    </div>
</template>


<script>
    import Paginate from '@/components/Paginate.vue'
    import MessageApi from "@/services/api/message/Message";
    import ApiService from "@/services/api.service";
    import Date from '@/components/tools/Date.vue';

    export default {
        name: 'MessageInbox',
        components: {
            'paginate' : Paginate,
            'date': Date,
        },
        data() {
            return {
                messages : [],
                senders: [],
                filter: {
                    object: '',
                    type: '',
                    sender: '',
                }
            };
        },
        computed: {
            getResourceUrl() {
                let url = '/api/messages?isDeletedRecipient=0&recipient=' + this.$store.getters['security/getUser'].id;
                if (this.filter.type !== '') {
                    url += '&type=' + this.filter.type;
                }
                if (this.filter.object !== '') {
                    url += '&object=' + this.filter.object;
                }
                if (this.filter.sender !== '') {
                    url += '&sender=' + this.filter.sender;
                }
                return url;
            },
            isSelectAll() {
                let bool = true;
                this.messages.forEach(function (message) {
                    if (message.isDeletedRecipient === false) {
                        bool = false;
                    }
                });
                return bool;
            },
        },
        created () {
            MessageApi.getSenders()
                .then(items => {
                    this.senders = items
                });
        },
        methods: {
            updateResource(data){
                this.messages = data
            },
            setMessage: function (message) {
                this.$store.dispatch('message/read', message);
                this.$parent.$parent.$refs.tabs.activeIndex = 2;
                if (message.isOpened === false) {
                    message.isOpened = true;
                    this.$store.dispatch('message/loadNbMessage', this.$store.getters['security/getUser'].id);
                    MessageApi.put(message);
                }
            },
            selectAll: function() {
                this.messages.forEach(function (message) {
                    message.isDeletedRecipient = true
                });
            },
            unselectAll: function() {
                this.messages.forEach(function (message) {
                    message.isDeletedRecipient = false;
                });
            },
            deleteMessage: function () {
                let promises = [];
                this.messages.forEach(function (message) {
                    if (message.isDeletedRecipient === true) {
                        promises.push(MessageApi.put(message));
                    }
                });
                ApiService.all(promises)
                    .then(() => {
                        this.$refs.paginate.reload();
                        this.$store.dispatch('message/loadNbMessage', this.$store.getters['security/getUser'].id);
                    });
            }
        },
    };
</script>
