<template>
    <div>
        <h2 class="screen-reader-text">{{ $t('privateMessage.outbox.title') }}</h2>

        <fieldset class="filter">
            <legend>{{ $t('privateMessage.filter') }}</legend>
            <div>
                <label for="filter-object-outbox">{{ $t('privateMessage.message.object') }}</label>
                <input type="text" id="filter-object-outbox" v-model="filter.object" />
            </div>

            <div>
                <label for="country-outbox">{{ $t('privateMessage.message.to') }}</label>
                <select id="country-outbox" v-model="filter.recipient">
                    <option value="">{{ $t('privateMessage.allUsers') }}</option>
                    <option v-for="(user) in recipients" :key="user.id" v-bind:value="user.id">{{ user.username }}</option>
                </select>
            </div>
        </fieldset>

        <table class="private-message">
            <caption class="screen-reader-text">{{ $t('privateMessage.outbox.caption') }}</caption>
            <thead>
                <tr>
                    <td class="private-message__selection"></td>
                    <th scope="col" class="private-message__object">{{ $t('privateMessage.message.object') }}</th>
                    <th scope="col" class="private-message__user">{{ $t('privateMessage.message.to') }}</th>
                    <th scope="col" class="private-message__date">{{ $t('privateMessage.message.createdAt') }}</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <button v-if="isSelectAll === false" @click="selectAll()">{{ $t('privateMessage.selectAll') }}</button>
                        <button v-else @click="unselectAll()">{{ $t('privateMessage.unselectAll') }}</button>
                        <button @click="deleteMessage()">{{ $t('privateMessage.delete') }}</button>
                    </td>
                </tr>
            </tfoot>
            <tbody>
                <tr v-for="message in messages" :data-position="message.position" :key="message.id">
                    <td class="private-message__selection"><input v-model="message.isDeletedSender" type="checkbox" value="1"></td>
                    <td class="private-message__object" :data-header="$t('privateMessage.message.object')">
                        <button type="button" class="button-as-link" v-on:click="setMessage(message)">{{ message.object }}</button>
                    </td>
                    <td class="private-message__user" :data-header="$t('privateMessage.message.to')">{{ message.recipient.username}}</td>
                    <td class="private-message__date" :data-header="$t('privateMessage.message.createdAt')">
                        <date v-bind:date="message.createdAt" v-bind:options="{ year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' }"></date>
                    </td>
                </tr>
            </tbody>
        </table>
        <paginate ref="paginate" :resource_url="getResourceUrl" @update="updateResource" class="pagination--bottom"></paginate>
    </div>
</template>

<script>
    import Paginate from '@/components/Paginate.vue'
    import ApiService from "@/services/api.service";
    import Date from '@/components/tools/Date.vue';
    import MessageApi from "@/services/api/message/Message";

    export default {
        name: 'MessageOutbox',
        components: {
            'paginate' : Paginate,
            'date': Date,
        },
        data() {
            return {
                messages : [],
                recipients: [],
                filter: {
                    object: '',
                    type: '',
                    recipient: '',
                }
            };
        },
        computed: {
            getResourceUrl() {
                let url = '/api/messages?isDeletedSender=0&sender=' + this.$store.getters['security/getUser'].id;
                if (this.filter.object !== '') {
                    url += '&object=' + this.filter.object;
                }
                if (this.filter.recipient !== '') {
                    url += '&recipient=' + this.filter.recipient;
                }
                return url;
            },
            isSelectAll() {
                let bool = true;
                this.messages.forEach(function (message) {
                    if (message.isDeletedSender === false) {
                        bool = false;
                    }
                });
                return bool;
            },
        },
        created () {
            MessageApi.getRecipients()
                .then(items => {
                    this.recipients = items
                });
        },
        methods: {
            updateResource(data){
                this.messages = data
            },
            setMessage: function (message) {
                this.$store.dispatch('message/read', message);
                this.$parent.$parent.$refs.tabs.activeIndex = 2;
            },
            selectAll: function() {
                this.messages.forEach(function (message) {
                    message.isDeletedSender = true
                });
            },
            unselectAll: function() {
                this.messages.forEach(function (message) {
                    message.isDeletedSender = false;
                });
            },
            deleteMessage: function () {
                let promises = [];
                this.messages.forEach(function (message) {
                    if (message.isDeletedSender === true) {
                        promises.push(MessageApi.put(message));
                    }
                });
                ApiService.all(promises)
                    .then(() => {
                        this.$refs.paginate.reload();
                    });
            }
        },
    };
</script>
