<template>
    <div>
        <div class="button-actions button-actions--top">
            <button @click="showDialog()" class="private-messages__new">{{ getTitle }}</button>
        </div>

        <VDialog ref="dialog" v-model="dialog" no-scroll bg-transition="fade">
            <h2 class="screen-reader-text">{{ $t('privateMessage.post.title') }}</h2>

            <form id="app" class="vgr-form" @submit="submit" @submit.prevent>
                <div>
                    <label for="recipient">{{ $t('privateMessage.message.recipient') }}</label>
                    <autocomplete
                            id="recipient"
                            ref="autocomplete"
                            :source="urlRecipient"
                            results-property="hydra:member"
                            results-display="username"
                            @selected="selectRecipient"
                            @clear="clearRecipient">
                    </autocomplete>
                </div>

                <div>
                    <label for="object">{{ $t('privateMessage.message.object') }}</label>
                    <input type="text" id="object" v-model="post.object" minlength="5" maxlength="255" required />
                </div>

                <ckeditor @ready="onEditorReady" :editor="editor" v-model="post.message" :config="editorConfig"></ckeditor>

                <div>
                    <input type="submit" :value="$t('privateMessage.post.submit')" />
                </div>
            </form>

            <div v-if="hasError" class="row col">
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            </div>
            <button :aria-label="$t('dialog.close')" class="vts-dialog__close" @click="dialog = false">&times;</button>
        </VDialog>
    </div>
</template>

<script>
    import MessageApi from '@/services/api/message/Message'
    import NormandieEditor from 'ckeditor5-build-normandie';
    import 'ckeditor5-build-normandie/build/translations/fr';
    import Autocomplete from 'vuejs-auto-complete';

    export default {
        name: 'MessagePost',
        components: {
            Autocomplete,
        },
        props: {
            'user': {
                type: Object,
                require: false,
            },
            'message': {
                type: Object,
                require: false,
            },
        },
        computed: {
            getTitle() {
                if (this.user && this.user.id) {
                    return this.$i18n.t('privateMessage.post.writeTo') + this.user.username;
                } else if (this.message && this.message.id) {
                    return this.$i18n.t('privateMessage.post.reply');
                } else {
                    return this.$i18n.t('privateMessage.post.new');
                }
            },
        },
        data() {
            return {
                post: {
                    'object' : '',
                    'message': '',
                    'recipient' : null,
                },
                dialog: false,
                hasError: false,
                error: null,
                editor: NormandieEditor,
                editorData: '',
                editorConfig: {
                    toolbar: {
                        items: [
                            'heading',
                            'bold',
                            'italic',
                            'strikethrough',
                            '|',
                            'bulletedList',
                            'numberedList',
                            'blockQuote',
                            '|',
                            'link',
                            'insertImage',
                            'specialCharacters',
                            'mediaEmbed',
                            'insertTable',
                            '|',
                            'removeFormat',
                            'undo',
                            'redo',
                        ]
                    },
                    image: {
                        toolbar: [
                            'imageTextAlternative',
                            'linkImage'
                        ]
                    },
                    language: this.$i18n.locale,
                },
                init: false,
            };
        },
        updated() {
            if (this.user && this.user.id && this.init === false && this.$refs.autocomplete) {
                this.$refs.autocomplete.id = this.user.id;
                this.$refs.autocomplete.display = this.user.username;
                this.post.recipient = this.user['@id'];
                this.init = true;
            }
            if (this.message && this.message.id && this.init === false && this.$refs.autocomplete) {
                this.$refs.autocomplete.id = this.message.sender.id
                this.$refs.autocomplete.display = this.message.sender.username
                this.post.recipient = this.message.sender['@id'];
                this.init = true;
            }
        },
        methods: {
            onEditorReady(){
                if (this.message && this.message.id) {
                    this.post.object = 'RE : ' + this.message.object;
                    this.post.message = '<b>[' + this.message.sender.username + ']</b><br />' + this.message.message;
                }
            },
            urlRecipient (input) {
                return process.env.VUE_APP_ROOT_API + '/api/users/autocomplete?query=' + input
            },
            selectRecipient(result) {
                this.post.recipient = result['selectedObject']['@id'];
            },
            clearRecipient() {
                this.post.recipient = null;
            },
            showDialog () {
                this.init = false;
                this.dialog = true;
            },
            submit: function () {
                this.error = null;
                if ((this.post.recipient != null) && (this.post.message != null)) {
                    MessageApi.post(this.post)
                        .then(response => {
                            if (response.status === 201) {
                                alert('success');
                                this.dialog = false;
                            }
                        })
                        .catch(error => {
                            this.hasError = true;
                            if (error.response.status === 400) {
                                this.error = error.response.data['hydra:description'];
                            }
                        });
                }
            },
        },
    };
</script>
