@charset "UTF-8";
/**
 * @site            Video Games Records
 * @author          Luc Poupard
 * @note            Environment styles
 */

/* Test */
.site-test {
    padding-top: em(45 + 3);

    .page-background {
        background-image: radial-gradient( circle farthest-corner at 10% 20%, hsl(197, 88%, 52%) 0%, rgb(0, 123, 224) 90% );
    }
}

.vts-alert.environment-alert {
    top: -1px;
    left: -1px;
    right: -1px;
    height: em(45);
}