@charset "UTF-8";
/**
 * @site            Video Games Records
 * @author          Luc Poupard
 * @note            Base layout
 */

/* ----------------------------- */
/* Summary */
/* ----------------------------- */
/*
    == Global
        -- Responsive layout
    == Top bar
        -- Skip links
        -- Lang switcher
        -- Account
    == Header
    == Content
        -- Stats
        -- Breadcrumb
        -- Main content
        -- Aside
    == Sidebar
    == Footer
*/


/* == @section Global ==================== */
body {
    min-height: 100vh;
    color: $base-color;
    background: $base-background;
}

.page-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    @include page-background;
}

svg[aria-hidden="true"]:not(.svg-sprite) {
    display: none;
}

.svg-sprite {
    use {
        fill: currentColor;
    }

    &__prev {
        transform: rotate(90deg);
    }

    &__next {
        transform: rotate(-90deg);
    }
}


/* -- @subsection Responsive layout ---------- */
.site-page {
    overflow: hidden;
}

@mixin layout-medium {
    .site-page,
    .site-content {
        display: flex;
        flex-flow: row wrap;
    
        > * {
            flex: 1 100%;
        }
    }

    .site-aside {
        flex: 0 0 em( $aside-width );
    }

    .site-main {
        flex: 3 0px;
        min-width: em(1);
    }
}

@mixin layout-extra-large {
    .site-navigation {
        flex: 0 0 em( $navigation-width  );
    }

    .site-content {
        flex: 3 0px;
    }
}

@mixin layout-ultra-large {
    .site-sidebar {
        flex: 0 0 em( $sidebar-width );
    }
}


/* == @section Top bar ==================== */
.site-top-bar {
    padding: .25em $page-padding-small;
    width: 100%;
    background: $black;
    color: $white;

    a,
    button {
        display: inline-block;
        padding: .25em;
        color: $white;

        .svg-sprite {
            vertical-align: bottom;

            + span:not(.screen-reader-text):not(.account-menu__message-number) {
                margin-left: .25em;
            }
        }

        &[class*="lost-"]:not(.lost-0) {
            color: $base-background-2;
        }
    }

    ul {
        @extend %inline-list;
    }

    li {
        @extend %inline-list-item;
    }
}

@mixin top-bar-small {
    .site-top-bar {
        ul {
            text-align: center;
        }

        a,
        button {
            margin: 0 .5em;
        }
    }
}

@mixin top-bar-medium {
    .site-top-bar {
        display: flex;
        justify-content: flex-start;
        padding-right: $page-padding-large;
        padding-left: $page-padding-large;

        a,
        button:not(:first-child) {
            margin-left: 1em;
        }
    
        &:not(:first-child) {
            padding-left: 1em;
        }
    }
}


/* -- @subsection Skip links ---------- */
.skip-link {
    &__item {
        @extend %screen-reader-text;
    }
}


/* -- @subsection Lang switcher ---------- */
.lang-switcher {
    @extend %inline-list;

    li {
        @extend %inline-list-item;
    }
}

@mixin lang-switcher-medium {
    .lang-switcher {    
        li {
            &:not(:first-child) {
                margin-left: .5em;
            }
        }
    }
}


/* -- @subsection Account ---------- */
.account-menu {
    flex: 1 0 0;
    text-align: center;
}

@mixin account-menu-small {
    .account-menu {
        margin: .5em 0 .25em;
        padding-top: .25em;
        border-top: 1px dashed $form-border;
    }
}

@mixin account-menu-medium {
    .account-menu {
        text-align: right;
    }
}

.account-menu__message {
    position: relative;

    &-number {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        display: block;
        color: $black;
        font-size: .8em;
        line-height: em(30 / .8); // 30 = height of svg icon
        text-align: center;
    }
}


/* == @section Header ==================== */
.site-header {
    padding: 2em $page-padding-small;

    &__logo {
        display: inline-block;

        a {
            display: flex;
        }
    }
}

@mixin site-header-medium {
    .site-header {
        padding-right: $page-padding-large;
        padding-left: $page-padding-large;
    }
}

@mixin site-header-extra-large {
    .site-header {
        padding-top: 3em;
        padding-left: em( $navigation-width + $base-font + $base-font );
    }
}

@mixin site-header-bg-medium {
    .site-header {
        position: relative;

        &::after {
            position: absolute;
            top: -40px;
            right: -150px;
            content: "";
            display: block;
            width: 722px;
            height: 431px;
            background: url("../img/background/header-banner.png");
            background-size: 100%;
            z-index: -1;
        }
    }
}

@mixin site-header-bg-large {
    .site-header {
        &::after {
            right: -150px;
            top: -60px;
        }
    }
}

@mixin site-header-bg-extra-large {
    .site-header {
        &::after {
            top: -70px;
            width: 810px;
            height: 484px;
        }
    }
}

@mixin site-header-bg-ultra-large {
    .site-header {
        &::after {
            right: -100px;
        }
    }
}

/* == @section Content ==================== */
.site-content {
    @include box-shadow( $black );
}


/* -- @subsection Stats ---------- */
.site-stats {
    padding: .5em $page-padding-small;
    background-color: $content-background;
}

@mixin site-stats-medium {
    .site-stats {
        padding-right: $page-padding-large;
        padding-left: $page-padding-large;
    }
}


/* -- @subsection Breadcrumb ---------- */
.site-breadcrumb {
    padding: .5em $page-padding-small;
    background-color: $secondary-background;

    ol {
        @extend %inline-list;
    }

    li {
        @extend %inline-list-item;

        &:not(:first-child) {
            margin-left: .5em;
            
            &:before {
                content: "/";
                margin-right: .5em;
            }
        }
    }

    p {
        margin: 0;
    }
}

@mixin site-breadcrumb-medium {
    .site-breadcrumb {
        padding-right: $page-padding-large;
        padding-left: $page-padding-large;
    }
}


/* -- @subsection Main content ---------- */
.site-main {
    padding: 2em $page-padding-small;
    background-color: $content-background;
}

@mixin site-main-medium {
    .site-main {
        padding-right: $page-padding-large;
        padding-left: $page-padding-large;
    }
}


/* -- @subsection Aside ---------- */
.site-aside {
    background-color: $secondary-background;
}

.site-aside__context {
    margin: 2em 0;
    padding: 1em 0 1.5em;
    border-top: 1px dashed $form-border;
    border-bottom: 1px dashed $form-border;

    .forum-switch {
        padding: 0 1em;

        select {
            width: 100%;
        }
    }

    .label {
        text-align: center;
    }
}

.site-aside__links-list {
    list-style: none;
    padding-left: 0;
    text-align: center;
}

.site-aside__social {
    margin: 1.5em 0;
    list-style: none;
    padding-left: 0;

    a {
        display: block;
        padding: 0 1.25em;
        font-family: $font-stack-headings;
        font-size: em(32);
        text-decoration: none;
        text-transform: uppercase;

        &:hover,
        &:focus {
            color: $base-background-2;
        }
    }

    svg {
        margin: -.2em .35em 0 0;
        vertical-align: middle;
    }
}

.site-aside__paypal {
    margin: 2em 0;
    text-align: center;
}

@mixin site-aside-small {
    .site-aside {
        padding: 2em 1em 0 1em;
    }

    .site-aside__social {
        text-align: center;
    }
}


/* == @section Sidebar ==================== */
.site-sidebar {
    padding: 1em em(20);
    text-align: center;
    max-width: 100%;

    a,
    img {
        display: block;
    }

    &__ad {
        margin: 1em auto;
        width: em( $sidebar-width );
        max-width: 100%;
        background-color: $white;
        @include box-shadow( $black );
    }
}


/* == @section Footer ==================== */
.site-footer {
    padding: 1em 0;
    text-align: center;

    &__partners {
        margin: 2em 0;
    }

    &__partners-title {
        font-weight: bold;
    }

    &__partners-list {
        list-style: none;
        margin: 0;
        padding-left: 0;

        li {
            display: inline-block;
            padding: 0 .5em;
        }
    }
}
