@charset "UTF-8";
/**
 * @site            Video Games Records
 * @author          Luc Poupard
 * @note            Media queries
 */

/* ----------------------------- */
/* Summary */
/* ----------------------------- */
/*
    == Extra-small: up to 480px
    == Small: 480px and beyond
        -- Up to 768px
    == Medium: 768px and beyond
        -- Up to 1024px
    == Large: 1024px and beyond
    == Extra-large: 1280px and beyond
    == Ultra-large: 1600px and beyond
*/


/* == @section Extra-small: up to 480px ==================== */
@media ( max-width: em-mq( $small-screen ) ) {
    @include submit-score-small;
}

/* == @section Small: 481px and beyond ==================== */
@media ( min-width: em-mq( $small-screen + 1 ) ) {
    @include game-card-medium;
    @include home-message-info-medium;
    @include home-message-alert-medium;
    @include profile-card-medium;
    @include profile-proofs-medium;
}

/* -- @subsection Up to 768px ---------- */
@media ( max-width: em-mq( $medium-screen ) ) {
    @include table-small;
    @include top-bar-small;
    @include account-menu-small;
    @include tabs-small;
    @include navigation-small;
    @include site-aside-small;
    @include home-small;
    @include article-list-small;
    @include article-top-small;
    @include game-list-small;
    @include game-group-small;
    @include chart-list-small;
    @include top-score-small;
    @include last-submission-small;
    @include filter-small;
    @include platform-list-small;
    @include players-list-small;
    // @include leaderboard-small;
    @include leaderboard-points-small;
    @include leaderboard-points-game-small;
    @include leaderboard-points-team-small;
    @include leaderboard-points-player-small;
    @include leaderboard-cups-small;
    @include leaderboard-cups-game-small;
    @include leaderboard-proofs-small;
    @include leaderboard-badges-small;
    @include forum-small;
    @include forum-message-small;
    @include profile-small;
    @include profile-game-small;
    @include private-message-small;
    @include lost-position-small;
    @include video-list-small;
    @include advanced-search-small;
}


/* == @section Medium: 769px and beyond ==================== */
@media ( min-width: em-mq( $medium-screen + 1 ) ) {
    @include table-medium;
    @include layout-medium;
    @include top-bar-medium;
    @include lang-switcher-medium;
    @include account-menu-medium;
    @include tabs-large;
    @include site-header-medium;
    @include site-stats-medium;
    @include site-breadcrumb-medium;
    @include site-main-medium;
    @include navigation-medium;
    @include home-medium;
    @include article-list-medium;
    @include article-top-medium;
    @include game-list-medium;
    @include game-group-medium;
    @include chart-list-medium;
    @include top-score-medium;
    @include last-submission-medium;
    @include filter-medium;
    @include platform-list-medium;
    @include players-list-medium;
    @include leaderboard-medium;
    @include leaderboard-points-medium;
    @include leaderboard-points-game-medium;
    @include leaderboard-points-team-medium;
    @include leaderboard-points-player-medium;
    @include leaderboard-cups-medium;
    @include leaderboard-cups-game-medium;
    @include leaderboard-proofs-medium;
    @include leaderboard-badges-medium;
    @include forum-medium;
    @include forum-table-medium;
    @include topic-table-medium;
    @include forum-message-medium;
    @include profile-medium;
    @include profile-game-medium;
    @include badge-detail-medium;
    @include video-list-medium;
    @include advanced-search-medium;
}


/* -- @subsection Up to 1024px ---------- */
@media ( max-width: em-mq( $large-screen ) ) {
    @include tabs-like-small;
    @include submit-score-medium;
}


/* == @section Large: 1025px and beyond ==================== */
@media ( min-width: em-mq( $large-screen + 1 ) ) {
    @include tabs-like-large;
    @include submit-score-large;
    @include forum-table-large;
    @include topic-table-large;
    @include private-message-large;
    @include lost-position-large;
    @include profile-proofs-large;
    @include leaderboard-points-game-large;
    @include advanced-search-large;
}

@media ( min-width: em-mq( 1201 ) ) {
    @include site-header-bg-medium;
    @include home-games-large;
}


/* == @section Extra-large: 1280px and beyond ==================== */
@media ( min-width: em-mq( $extra-large-screen + 1 ) ) {
    @include layout-extra-large;
    @include site-header-extra-large;
    @include site-header-bg-large;
    @include navigation-extra-large;
}

/* == @section Ultra-large: 1600px and beyond ==================== */
@media ( min-width: em-mq( $ultra-large-screen + 1 ) ) {
    @include layout-ultra-large;
    @include site-header-bg-ultra-large;
    @include profile-proofs-extra-large;
}

@media ( min-width: em-mq( 1981 ) ) {
    @include home-leaderboard-large;
}