.emoji {
  // Emoji font https://tzi.fr/css/emojis-sur-le-web/
  font-family: "apple color emoji", "segoe ui emoji", "noto color emoji", "android emoji", emojisymbols, "emojione mozilla", "twemoji mozilla", "segoe ui symbol", serif;
}

.emoji-alert {
  &::after {
    content: "\026A0";
  }
}
