@charset "UTF-8";
/**
 * @site            Video Games Records
 * @author          Luc Poupard
 * @note            Styles for Video Games Records
 */

/* ----------------------------- */
/* Summary */
/* ----------------------------- */
/*
    == Config
    == Project
        -- Layout
        -- Views
        -- Vendor
        -- Components
        -- Media queries
*/

/* == @section Config ==================== */
@import "config/variables";
@import "config/functions";
@import "config/mixins";

/* == @section Project ==================== */
@import "utilities/normalize.8.0.1";
@import "utilities/fonts";
@import "utilities/base";
@import "utilities/utilities";
@import "utilities/tables";
@import "utilities/forms";

/* -- @subsection Layout ---------- */
@import "layout";

/* -- @subsection Views ---------- */
@import "views/home";
@import "views/error-page";

/* -- @subsection Vendor ---------- */
@import "vendor/vuetensils/tabs";
@import "vendor/vuetensils/dialog";
@import "vendor/vuetensils/alert";
@import "vendor/ckeditor";
@import "vendor/freakflagsprite";

/* -- @subsection Components ---------- */
@import "components/navigation";
@import "components/search";
@import "components/search-advanced";
@import "components/pagination";
@import "components/button-actions";
@import "components/messages";
@import "components/platforms";
@import "components/game";
@import "components/score";
@import "components/leaderboard";
@import "components/badge";
@import "components/players";
@import "components/player";
@import "components/last-submission";
@import "components/filter";
@import "components/forum";
@import "components/video";
@import "components/article";
@import "components/proof";
@import "components/private-message";
@import "components/lost-position";
@import "components/tab";
@import "components/tag";
@import "components/tooltip";
@import "components/accordion";

/* -- @subsection Media queries ---------- */
@import "media-queries";

/* -- @subsection Environement ---------- */
@import "env";

/* -- @subsection emoji ---------- */
@import "emoji";